/* -------------------------------------------------------------- 
  
 Hartija Css Print  Framework
   * Version:   1.0 
	 
-------------------------------------------------------------- */

body { 
width: 100% !important;
margin:0 !important;
padding:0 !important;
line-height: 1.45;
color: #000; 
background: none; 
font-size: 14pt; }

@media print {

  @page {                
    size: A4;
    margin: 0mm;
  }
}