#wrapper {
  padding: 100px;
  display: flex;
}

.lvl1 {
  height: 100px;
  width: 100px;
  background-color: #cecece;
  margin: 10px;
  position: relative;
  z-index: 0;
}

.lvl2 {
    height: 80px;
    width: 80px;
    left: 60%;
    position: absolute;
    background-color: red;
    opacity: 0.8;
    z-index: 2;
}