#projects {
  position: relative;
  z-index: 2;
  height: 100%; }
  #projects .container {
    height: 100vh;
    min-height: 624px; }

#projects .container {
  position: relative; }
  #projects .container .home_page_projects {
    height: 100%;
    position: relative; }
    #projects .container .home_page_projects .bg {
      position: absolute;
      z-index: 1;
      width: 105%;
      left: -2.5%;
      height: 100%;
      background: url(../img/bg_logo.png) no-repeat center center;
      -webkit-background-size: contain;
              background-size: contain; }
    #projects .container .home_page_projects .page_content {
      position: relative;
      z-index: 2;
      height: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      #projects .container .home_page_projects .page_content .center_block {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 100%; }
        #projects .container .home_page_projects .page_content .center_block .img {
          position: relative;
          margin: 0 auto; }
          #projects .container .home_page_projects .page_content .center_block .img .img_box {
            position: relative;
            width: 65em;
            height: 65em;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -webkit-align-items: center;
                -ms-flex-align: center;
                    align-items: center; }
            #projects .container .home_page_projects .page_content .center_block .img .img_box .shadow {
              position: absolute;
              height: 0em;
              width: 0em;
              z-index: 1;
              top: 50%;
              left: 50%;
              -webkit-box-shadow: 0px 0px 80em 20em rgba(235, 230, 235, 0.7);
                      box-shadow: 0px 0px 80em 20em rgba(235, 230, 235, 0.7); }
            #projects .container .home_page_projects .page_content .center_block .img .img_box img {
              position: relative;
              z-index: 2;
              width: 100%;
              height: auto; }
          #projects .container .home_page_projects .page_content .center_block .img .first_logo {
            overflow: hidden;
            position: relative;
            width: 65em;
            height: 65em;
            -webkit-border-radius: 50%;
                    border-radius: 50%;
            -webkit-box-shadow: 0px 0px 80em -20px rgba(235, 230, 235, 0.7);
                    box-shadow: 0px 0px 80em -20px rgba(235, 230, 235, 0.7); }
            #projects .container .home_page_projects .page_content .center_block .img .first_logo img {
              position: absolute;
              width: 100%;
              top: -8.5em; }
          #projects .container .home_page_projects .page_content .center_block .img .txt {
            position: absolute;
            right: -120em;
            top: 40%; }
            #projects .container .home_page_projects .page_content .center_block .img .txt p {
              font: 3.7em "RobotoCondensed";
              color: #fff;
              line-height: 180%; }
            #projects .container .home_page_projects .page_content .center_block .img .txt .second {
              letter-spacing: 0.078em; }
      #projects .container .home_page_projects .page_content .bottom_projects {
        position: absolute;
        bottom: 12em;
        width: 100%; }
        #projects .container .home_page_projects .page_content .bottom_projects .projects_content {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -webkit-flex-flow: row wrap;
              -ms-flex-flow: row wrap;
                  flex-flow: row wrap;
          -webkit-box-pack: justify;
          -webkit-justify-content: space-between;
              -ms-flex-pack: justify;
                  justify-content: space-between; }
          #projects .container .home_page_projects .page_content .bottom_projects .projects_content .block {
            margin: 2em 5em; }
            #projects .container .home_page_projects .page_content .bottom_projects .projects_content .block img {
              display: block;
              margin: 0 auto;
              height: 12em;
              width: auto;
              opacity: 0.6;
              max-width: 100%;
              cursor: pointer; }
            #projects .container .home_page_projects .page_content .bottom_projects .projects_content .block p {
              font: 3em "BebasNeueBook";
              color: #afafaf;
              padding-top: 0.7em;
              text-align: center;
              word-spacing: 0.2em;
              cursor: pointer; }
          #projects .container .home_page_projects .page_content .bottom_projects .projects_content .active img {
            opacity: 1; }
          #projects .container .home_page_projects .page_content .bottom_projects .projects_content .active p {
            color: #fff; }
      #projects .container .home_page_projects .page_content .footer {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        position: absolute;
        bottom: 5em;
        padding-top: 5em;
        width: 100%; }
        #projects .container .home_page_projects .page_content .footer p {
          font: 3.7em "RobotoRegular";
          color: #c6c6c6;
          padding: 0 1em;
          text-align: center; }

@media screen and (max-width: 1200px) {
  #projects .container {
    min-height: 850px; }
  #projects .container .home_page_projects .bg {
    width: 95%;
    left: 2.5%; }
  #projects .container .home_page_projects .page_content .bottom_projects .projects_content {
    font-size: 4px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  #projects .container .home_page_projects .page_content {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
  #projects .container .home_page_projects .page_content .bottom_projects {
    position: relative; }
  #projects .container .home_page_projects .page_content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  #projects .container .home_page_projects .page_content .center_block .img .txt {
    position: relative;
    top: 0;
    right: 0; }
  #projects .container .home_page_projects .page_content .center_block .img .img_box {
    margin: 0 auto; }
  #projects .container .home_page_projects .page_content .center_block .img .txt {
    padding-top: 2em; }
  #projects .container .home_page_projects .page_content .center_block {
    margin-bottom: 20em;
    margin-top: 40em; }
  #projects .container .home_page_projects .page_content .center_block .img .txt {
    padding-top: 10em; } }

@media screen and (max-width: 1023px) {
  #projects .container {
    min-height: 1006px; }
  #projects .container .home_page_projects .bg {
    display: none; }
  #projects .container .home_page_projects .page_content .bottom_projects .projects_content .block {
    margin: 2em 4.5em; }
  #projects .container .home_page_projects .page_content .bottom_projects .projects_content .block {
    width: 25%; }
  #projects .container .home_page_projects .page_content .bottom_projects .projects_content {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  #projects .container .home_page .page_content .bottom_projects .projects_content .block img {
    max-width: 100%; }
  #projects .container .home_page .page_content .center_block {
    margin-bottom: 40em;
    margin-top: 70em; } }

@media screen and (max-width: 567px) {
  #projects .container {
    min-height: 1200px; }
  body {
    height: auto; }
  #projects .container .home_page_projects .page_content .center_block .img .txt {
    font-size: 3px;
    text-align: center; }
  #projects .container .home_page_projects .page_content .center_block {
    margin-top: 70em;
    margin-bottom: 50em; }
  #projects .container .home_page_projects .page_content .bottom_projects {
    margin-bottom: 30em; }
  #projects .container .home_page_projects .page_content .bottom_projects .projects_content .block {
    width: 40%; }
  #projects .container .home_page_projects .page_content .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  #projects .container .home_page .page_content .footer p {
    font-size: 4em; } }

@media screen and (max-width: 480px) {
  #contacts_tab .bg_portret {
    width: 130em;
    height: 130em; }
  #contacts_tab .container .bottom_block .second {
    padding-bottom: 5em; }
  #projects .container .home_page_projects .page_content .bottom_projects .projects_content .block {
    width: 35%; }
  #projects .container .home_page_projects .page_content .bottom_projects {
    margin-top: 100em; } }
