@charset "UTF-8";
body {
  font-size: 10px;
  min-width: 320px; }

.body_active {
  overflow: hidden;
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

#wrapper {
  overflow: hidden; }

.title_block {
  display: inline-block;
  position: relative;
  margin-bottom: 30px; }
  .title_block:before, .title_block:after {
    content: '';
    display: block;
    position: absolute;
    height: 30px;
    width: 20px; }
  .title_block:before {
    left: -27px;
    bottom: -15px;
    border-bottom: 2px solid #afafaf;
    border-left: 2px solid #afafaf; }
  .title_block:after {
    top: -15px;
    right: -17px;
    border-top: 2px solid #afafaf;
    border-right: 2px solid #afafaf; }
  .title_block .title_block_top {
    position: relative;
    z-index: 2;
    color: #949494;
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.6em;
    margin-right: -0.6em;
    font: 1.6em "SupermolotLight";
    text-align: center; }
  .title_block .title_block_bottom {
    position: relative;
    z-index: 2;
    color: #949494;
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.8em;
    margin-right: -0.8em;
    font: 1.8em "SupermolotRegular";
    text-align: center; }

.map-section .map_container {
  margin: 10px 0;
  padding: 0 130px;
  position: relative; }
  .map-section .map_container:after {
    content: '';
    display: block;
    position: absolute;
    height: 430px;
    width: 300px;
    right: 0;
    top: 50%;
    -webkit-transform: translate(100%, -50%);
        -ms-transform: translate(100%, -50%);
            transform: translate(100%, -50%);
    background: url(../img/bg_item1.png) no-repeat;
    -webkit-background-size: contain;
            background-size: contain; }
  .map-section .map_container .map {
    height: 380px;
    position: relative; }
    .map-section .map_container .map:before, .map-section .map_container .map:after {
      content: '';
      display: block;
      height: 75px;
      width: 75px;
      position: absolute;
      background-color: #ff0089; }
    .map-section .map_container .map:before {
      left: -2px;
      bottom: -2px; }
    .map-section .map_container .map:after {
      right: -3px;
      top: -3px; }
  .map-section .map_container .decoration {
    display: block;
    width: 392px;
    height: 285px;
    position: absolute;
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
    left: 77px;
    top: 15%;
    z-index: 3;
    background: url(../img/map_decoration.png) no-repeat;
    -webkit-background-size: contain;
            background-size: contain; }
  .map-section .map_container iframe {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
    border: 1px solid #959595; }

.more_crystal {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 35px 0;
  margin-right: 20px;
  position: relative;
  z-index: 2; }
  .more_crystal a {
    font: 1.8em "SupermolotLight";
    letter-spacing: 0.2em;
    text-decoration: none;
    color: #959595;
    position: relative;
    text-transform: uppercase;
    border-bottom: 1px solid #959595; }
    .more_crystal a:after {
      content: '';
      height: 24px;
      position: absolute;
      right: -3px;
      top: 0;
      -webkit-transform: translateX(100%);
          -ms-transform: translateX(100%);
              transform: translateX(100%);
      width: 24px;
      display: block;
      background: url(../img/icons/title_copy.png) no-repeat;
      -webkit-background-size: contain;
              background-size: contain; }

.main-page {
  position: relative;
  z-index: 1;
  padding: 75px 0; }

.socials_block {
  position: absolute;
  right: 15px;
  top: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .socials_block a {
    display: block;
    width: 30px;
    height: 30px;
    margin-right: 10px; }
    .socials_block a:last-child {
      margin-right: 0; }
  .socials_block .insta_icon {
    background: url(../img/icons/instagram.png) no-repeat center center;
    -webkit-background-size: contain;
            background-size: contain; }
  .socials_block .facebook_icon {
    background: url(../img/icons/facebook.png) no-repeat center center;
    -webkit-background-size: contain;
            background-size: contain; }
  .socials_block .vk_icon {
    background: url(../img/icons/vk.png) no-repeat center center;
    -webkit-background-size: contain;
            background-size: contain; }

.fixed_btn {
  position: fixed;
  height: 100px;
  width: 100px;
  display: block;
  z-index: 1000;
  bottom: 0;
  right: 0;
  background: url(../img/fixed_icon.png) no-repeat;
  -webkit-background-size: contain;
          background-size: contain; }

header {
  padding: 15px 0;
  position: relative;
  z-index: 1000; }
  header .container {
    position: relative;
    height: 51px; }
  header .main_number {
    position: absolute;
    left: 15px;
    top: -2px;
    font: 2em "SupermolotThin";
    color: #8e8e8e;
    text-decoration: none; }
    header .main_number i {
      display: none; }
  header .header_title {
    position: absolute;
    right: 13%;
    top: 5px;
    font: 1em "SupermolotRegular";
    letter-spacing: 1.5em;
    margin-right: -1.5em;
    color: #ff028a; }
  header .header_content {
    position: absolute;
    height: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }
  header .left_section,
  header .right_section {
    position: absolute; }
  header ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    header ul li {
      margin-right: 20px; }
      header ul li:last-child {
        margin: 0; }
    header ul a {
      color: #8e8e8e;
      line-height: 70%;
      white-space: nowrap;
      text-transform: uppercase;
      font: 1.6em "SupermolotLight";
      text-decoration: none !important;
      border-bottom: 1px solid transparent;
      -webkit-transition: .3s ease;
      -o-transition: .3s ease;
      transition: .3s ease; }
  header .left_section {
    left: -20px;
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
    bottom: -3px; }
  header .right_section {
    right: -20px;
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
    bottom: -3px; }
  header a.main_logo {
    display: block; }
    header a.main_logo img {
      width: 185px;
      height: 100px; }

footer .right_section {
  width: 40%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 40px; }
  footer .right_section .tel_number {
    font: 2.2em "SupermolotThin";
    text-decoration: none;
    color: #212529;
    line-height: 70%; }
  footer .right_section .socials_block {
    position: relative;
    right: 0;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 20px; }
  footer .right_section .mobile {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 40px; }
    footer .right_section .mobile a {
      height: 100%; }
      footer .right_section .mobile a:first-child {
        margin-right: 10px; }
    footer .right_section .mobile img {
      height: 100%;
      width: auto;
      display: block; }

footer .footer_content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border-top: 2px solid #949494;
  padding: 25px 0; }

footer .footer_logo {
  display: block;
  width: 100%; }
  footer .footer_logo img {
    width: 100%;
    height: auto; }

footer .left_section {
  padding-right: 40px;
  width: 37%;
  position: relative; }
  footer .left_section:after {
    content: 'ЛАБОРАТОРИЯ УЛЫБОК';
    position: absolute;
    white-space: nowrap;
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
    right: 35%;
    top: 3px;
    letter-spacing: 2.5em;
    margin-right: -1.5em;
    color: #ff028a;
    font: 1em "SupermolotRegular"; }

footer .copy {
  color: #959595;
  display: inline-block;
  text-transform: uppercase;
  font: 1.8em "SupermolotLight";
  margin-top: 20px; }
  footer .copy span {
    font-size: 12px;
    text-transform: lowercase; }

footer .center_section {
  width: 23%;
  padding-right: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 40px; }

footer .nav_left,
footer .nav_right {
  padding-top: 10px;
  position: relative; }
  footer .nav_left:before,
  footer .nav_right:before {
    content: '';
    position: absolute;
    top: 0;
    display: block;
    width: 70%;
    height: 2px;
    background-color: #949494; }

footer .nav_left li,
footer .nav_right li {
  padding: 4px 0; }
  footer .nav_left li a,
  footer .nav_right li a {
    color: #8e8e8e;
    line-height: 100%;
    white-space: nowrap;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font: 1.2em "SupermolotLight";
    text-decoration: none !important;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }

.sub {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
  top: 0;
  left: 0;
  display: none; }

.nav-btn {
  display: none;
  position: absolute;
  right: 15px;
  bottom: 0;
  z-index: 1000; }
  .nav-btn a {
    display: block;
    position: relative;
    height: 17px;
    width: 25px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease; }
    .nav-btn a span {
      display: block;
      height: 3px;
      width: 100%;
      background-color: #949494;
      position: absolute;
      top: 7px;
      -webkit-transition: .3s ease;
      -o-transition: .3s ease;
      transition: .3s ease;
      -webkit-border-radius: 1px;
              border-radius: 1px; }
    .nav-btn a::before {
      display: block;
      content: "";
      height: 3px;
      width: 100%;
      background-color: #949494;
      position: absolute;
      -webkit-transition: .3s ease;
      -o-transition: .3s ease;
      transition: .3s ease;
      top: 0;
      -webkit-border-radius: 1px;
              border-radius: 1px; }
    .nav-btn a::after {
      display: block;
      content: "";
      height: 3px;
      width: 100%;
      background-color: #949494;
      position: absolute;
      bottom: 0;
      -webkit-transition: .3s ease;
      -o-transition: .3s ease;
      transition: .3s ease;
      -webkit-border-radius: 1px;
              border-radius: 1px; }
  .nav-btn .a_active::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 6px;
    width: 26px;
    background: #fff; }
  .nav-btn .a_active::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 8px;
    width: 26px;
    background: #fff; }
  .nav-btn .a_active span {
    background-color: transparent !important; }

.mobile_nav_block {
  position: fixed;
  left: 0;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  z-index: 2;
  height: 100vh;
  width: 250px;
  top: 0;
  background-color: #fff;
  padding: 20px 15px; }
  .mobile_nav_block ul {
    display: block; }
  .mobile_nav_block li {
    margin: 0; }
  .mobile_nav_block a {
    padding: 10px 10px;
    display: block; }

.nav_active {
  -webkit-transform: translateX(0) !important;
      -ms-transform: translateX(0) !important;
          transform: translateX(0) !important; }

.links_block {
  padding-top: 60px;
  padding-bottom: 50px; }
  .links_block ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .links_block li {
    width: 100px;
    margin: 0 10px; }
  .links_block a {
    font: 2em "CranberryCyr";
    text-transform: uppercase;
    color: #000;
    white-space: nowrap;
    display: block;
    text-align: center;
    text-decoration: none;
    opacity: 0.9; }
    .links_block a:before {
      content: '';
      display: block;
      margin: 0 auto;
      width: 40px;
      height: 40px;
      margin-bottom: 4px;
      display: block; }
  .links_block .link1:before {
    background: url(../img/icons/link1.png);
    -webkit-background-size: contain;
            background-size: contain; }
  .links_block .link2:before {
    background: url(../img/icons/link2.png);
    -webkit-background-size: contain;
            background-size: contain; }
  .links_block .link3:before {
    background: url(../img/icons/link3.png);
    -webkit-background-size: contain;
            background-size: contain; }
  .links_block .link4:before {
    background: url(../img/icons/link4.png);
    -webkit-background-size: contain;
            background-size: contain; }
  .links_block .link5:before {
    background: url(../img/icons/link5.png);
    -webkit-background-size: contain;
            background-size: contain; }

.title_section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 3;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .title_section .title {
    font: 4.5em "SupermolotThin";
    text-transform: uppercase;
    letter-spacing: 0.6em;
    padding-left: 0.6em;
    position: relative;
    color: #e60075;
    margin-bottom: 0.65em; }
    .title_section .title span {
      color: #949494;
      position: relative; }
      .title_section .title span:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 20px;
        height: 20px;
        background: url(../img/icons/title_copy.png) no-repeat;
        -webkit-background-size: contain;
                background-size: contain; }
    .title_section .title:before, .title_section .title:after {
      content: '';
      display: block;
      height: 3px;
      width: 110px;
      position: absolute;
      top: 50%;
      margin-top: -1px; }
    .title_section .title:before {
      background-color: #a2a2a2;
      left: 0;
      -webkit-transform: translateX(-100%);
          -ms-transform: translateX(-100%);
              transform: translateX(-100%); }
    .title_section .title:after {
      background-color: #e60075;
      right: 0;
      -webkit-transform: translateX(100%);
          -ms-transform: translateX(100%);
              transform: translateX(100%); }

.title_desription {
  position: relative;
  z-index: 3; }
  .title_desription p {
    text-align: center;
    color: #939598;
    font: 1.5em "SupermolotLight";
    line-height: 130%;
    margin-bottom: 0.15em; }
    .title_desription p span {
      position: relative;
      font-family: "SupermolotRegular";
      padding-right: 1em; }
      .title_desription p span:after {
        content: '';
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        width: 11px;
        height: 11px;
        background: url(../img/icons/title_copy.png) no-repeat;
        -webkit-background-size: contain;
                background-size: contain; }
  .title_desription .post_txt {
    color: #f11f83;
    display: block;
    font-size: 1.5em;
    text-align: center;
    letter-spacing: 0.05em;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .title_desription .post_txt:after {
      content: '';
      height: 25px;
      width: 25px;
      display: block;
      background: url(../img/icons/map_item.png) no-repeat;
      -webkit-background-size: contain;
              background-size: contain;
      margin-top: 6px; }

.crystal_labs {
  position: relative;
  padding-bottom: 25px; }
  .crystal_labs .decoration_item {
    display: block;
    position: absolute;
    z-index: 1;
    top: 270px;
    width: 100%;
    height: 2px;
    background-color: #e5e5e5; }
    .crystal_labs .decoration_item:before {
      content: '';
      display: block;
      height: 700px;
      width: 377px;
      position: absolute;
      left: 0;
      bottom: -165px;
      background: url(../img/lab_decoration.png) no-repeat;
      -webkit-background-size: contain;
              background-size: contain; }
  .crystal_labs .container {
    position: relative;
    z-index: 2; }
  .crystal_labs .labs_container {
    margin-top: 20px;
    position: relative;
    padding: 0 37px; }
  .crystal_labs .slide {
    width: 33%;
    padding: 0 10px;
    outline: none; }
  .crystal_labs .img_block {
    position: relative;
    width: 100%; }
    .crystal_labs .img_block:before {
      content: "";
      display: block;
      padding-top: 100%; }
  .crystal_labs .img_container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; }
    .crystal_labs .img_container img {
      width: 100%;
      height: 100%; }
  .crystal_labs .bottom_section {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative; }
  .crystal_labs .slide_link {
    text-transform: uppercase;
    font: 1.6em "SupermolotLight";
    border-bottom: 1px solid #ff028a;
    color: #ff028a;
    text-decoration: none;
    position: relative;
    margin-bottom: 5px;
    opacity: 1; }
    .crystal_labs .slide_link:after {
      content: '';
      height: 24px;
      position: absolute;
      right: -6px;
      top: 0;
      -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
      transform: translateX(100%);
      width: 24px;
      display: block;
      background: url(../img/icons/link_icon_lab.png) no-repeat;
      -webkit-background-size: contain;
      background-size: contain; }
  .crystal_labs .rating {
    position: absolute;
    top: -53px;
    right: 0;
    background: rgba(255, 255, 255, 0.8);
    padding: 5px; }
    .crystal_labs .rating .stars {
      display: block;
      width: 120px;
      height: 14px;
      background: url(../img/labs/rating.png) no-repeat;
      -webkit-background-size: contain;
              background-size: contain;
      margin-bottom: 4px; }
    .crystal_labs .rating .city {
      text-transform: uppercase;
      font: 1.2em "SupermolotRegular";
      text-align: center;
      display: block;
      letter-spacing: 0.4em; }

.competition_crystal {
  margin-top: 80px; }
  .competition_crystal p {
    font: 2.6em "SupermolotThin";
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.8em;
    margin-right: -0.8em; }
  .competition_crystal .content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .competition_crystal .img_block {
    width: 60%;
    position: relative; }
    .competition_crystal .img_block:after {
      content: '';
      position: absolute;
      display: block;
      top: 0;
      width: 1440px;
      height: 486px;
      background: url(../img/competition_bg.png) no-repeat;
      -webkit-background-size: contain;
              background-size: contain;
      left: 50%;
      -webkit-transform: translateX(-46%);
          -ms-transform: translateX(-46%);
              transform: translateX(-46%); }
  .competition_crystal img {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 2; }

.letter_item {
  margin: 35px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .letter_item:before {
    content: '';
    background: url(../img/bg_item1.png) no-repeat;
    -webkit-background-size: contain;
            background-size: contain;
    height: 70px;
    width: 50px; }

@media screen and (min-width: 1025px) {
  a.sign_up:hover {
    opacity: 0.8; }
  header ul a:hover {
    color: #ff028a;
    border-color: #ff028a; }
  footer .nav_left li a:hover,
  footer .nav_right li a:hover {
    color: #ff028a; }
  .nav-btn a:hover span, .nav-btn a:hover:after, .nav-btn a:hover:before {
    background-color: #000; }
  .links_block a:hover,
  .crystal_labs .arrow_right:hover,
  .crystal_labs .arrow_left:hover,
  .arrow_right_brands:hover,
  .arrow_left_brands:hover {
    opacity: 1; }
  .more_crystal a:hover,
  .btn:hover {
    color: #000 !important; } }

@media screen and (max-width: 1230px) {
  .crystal_labs .decoration_item:before,
  .crystal_labs .decoration_item {
    display: none; }
  .crystal_labs .title_block .title_block_bottom {
    font-size: 1.6em; }
  header .header_title {
    display: none; }
  header .right_section,
  header .left_section {
    display: none; }
  .nav-btn {
    display: inline-block !important; }
  .socials_block {
    display: none; }
  header .main_number {
    bottom: 0;
    top: auto; }
  footer .left_section {
    width: 30%; }
  footer .right_section .mobile {
    display: block;
    height: auto;
    width: 45%;
    padding-left: 20px; }
  footer .right_section .mobile a {
    margin-top: 10px;
    display: block;
    height: auto; }
    footer .right_section .mobile a:first-child {
      margin-right: 0;
      margin: 0; }
  footer .right_section .mobile img {
    width: 100%;
    height: auto; } }

@media screen and (max-width: 992px) {
  .links_block {
    padding-top: 50px; }
    .links_block a {
      font-size: 1.6em; }
  .competition_crystal .img_block {
    width: 100%; }
  .competition_crystal p {
    font-size: 2em; }
  .title_section .title {
    font-size: 3.5em; }
  .title_desription p {
    font-size: 1.4em; }
  footer .center_section {
    width: auto; }
  footer .right_section .mobile {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 0;
    margin-bottom: 10px; }
  footer .right_section .tel_number {
    font-size: 2em; }
  footer .right_section .mobile a {
    margin: 0;
    padding: 0 5px; }
  footer .left_section {
    width: auto; }
  footer .right_section {
    display: block; } }

@media screen and (max-width: 768px) {
  .links_block a:before {
    width: 25px;
    height: 25px; }
  .links_block li {
    width: 70px; }
  .links_block a {
    font-size: 1.4em; }
  .competition_crystal {
    margin-top: 60px; }
  .competition_crystal p {
    font-size: 1.5em; }
  .competition_crystal .img_block:after {
    width: 180%; }
  .crystal_labs .title_block .title_block_bottom {
    font-size: 1.2em; }
  .crystal_labs .title_block:before {
    left: -12px; }
  .crystal_labs .title_block .title_block_top {
    font-size: 1.2em; }
  .crystal_labs .slide_link {
    font-size: 1.2em; }
  .crystal_labs .slide_link:after {
    height: 20px;
    width: 20px; }
  .title_section .title {
    font-size: 2.5em; }
  .title_desription p,
  .title_desription .post_txt {
    font-size: 1.2em; }
  .title_section .title span:after {
    width: 15px;
    height: 15px; }
  .main-page {
    padding: 30px 0; }
  header a.main_logo img {
    width: 120px;
    height: auto; }
  .nav-btn,
  header .main_number {
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    font-size: 1.8em; }
  .nav-btn a::after,
  .nav-btn a::before,
  .nav-btn a span {
    height: 2px; }
  .nav-btn a {
    height: 16px; }
  footer .left_section:after {
    letter-spacing: 1em; }
  footer .left_section {
    width: 50%;
    padding: 0; }
  footer .center_section {
    padding: 0;
    width: 50%;
    padding-left: 20px; }
  footer .left_section:after {
    display: none; }
  footer .right_section {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%; }
  footer .right_section .mobile {
    width: 40%;
    margin: 0 -5px; }
  footer .footer_content {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; } }

@media screen and (max-width: 576px) {
  footer .nav_right:before {
    right: 0; }
  .links_block {
    padding-top: 65px; }
  .links_block li {
    width: 50px;
    margin: 0 2px; }
  .links_block a {
    font-size: 1em; }
  .links_block ul {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 15px; }
  .letter_item:before {
    height: 50px;
    width: 35px; }
  .letter_item {
    margin: 20px 0; }
  .competition_crystal p {
    font-size: 1.2em; }
  .crystal_labs .labs_container {
    margin-top: 10px; }
  .crystal_labs {
    padding-bottom: 0; }
  .title_section .title {
    font-size: 2em;
    letter-spacing: 0.3em; }
    .title_section .title:before, .title_section .title:after {
      display: none; }
  .title_desription p {
    display: none; }
  .title_section .title span:after {
    width: 10px;
    height: 10px; }
  .main-page {
    padding-top: 20px; }
  footer .left_section {
    width: 100%; }
  footer .center_section {
    padding: 0;
    margin-top: 20px;
    width: 100%; }
  footer .copy span {
    font-size: 14px; }
  .fixed_btn {
    height: 75px;
    width: 75px; }
  footer .nav_right a {
    display: block;
    text-align: right; }
  footer .right_section .mobile {
    width: 120px;
    display: block; }
    footer .right_section .mobile a:first-child {
      margin-bottom: 10px; }
  footer .right_section {
    padding-top: 20px;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  footer .right_section .tel_number {
    padding-left: 10px; }
  footer .copy br {
    display: none; }
  header .main_number {
    font-size: 0em; }
    header .main_number i {
      display: inline-block;
      font-size: 18px;
      color: #949494; } }
