body {
  font-size: 10px; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.fixed_btn {
  position: fixed;
  height: 100px;
  width: 100px;
  display: block;
  z-index: 1000;
  bottom: 0;
  right: 0;
  background: url(../img/fixed_icon.png) no-repeat;
  -webkit-background-size: contain;
          background-size: contain; }

header {
  padding: 15px 0;
  position: relative;
  z-index: 1000; }
  header .container {
    position: relative;
    height: 51px; }
  header .socials_block {
    position: absolute;
    right: 15px;
    top: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    header .socials_block a {
      display: block;
      width: 30px;
      height: 30px;
      margin-right: 10px; }
      header .socials_block a:last-child {
        margin-right: 0; }
    header .socials_block .insta_icon {
      background: url(../img/icons/instagram.png) no-repeat center center;
      -webkit-background-size: contain;
              background-size: contain; }
    header .socials_block .facebook_icon {
      background: url(../img/icons/facebook.png) no-repeat center center;
      -webkit-background-size: contain;
              background-size: contain; }
    header .socials_block .vk_icon {
      background: url(../img/icons/vk.png) no-repeat center center;
      -webkit-background-size: contain;
              background-size: contain; }
  header .main_number {
    position: absolute;
    left: 15px;
    top: -2px;
    font: 2em "SupermolotThin";
    color: #8e8e8e; }
  header .header_title {
    position: absolute;
    right: 13%;
    top: 5px;
    font: 1em "SupermolotRegular";
    letter-spacing: 1.5em;
    margin-right: -1.5em;
    color: #ff028a; }
  header .header_content {
    position: absolute;
    height: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }
  header .left_section,
  header .right_section {
    position: absolute; }
  header ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    header ul li {
      margin-right: 20px; }
      header ul li:last-child {
        margin: 0; }
    header ul a {
      color: #8e8e8e;
      line-height: 70%;
      white-space: nowrap;
      text-transform: uppercase;
      font: 1.6em "SupermolotLight";
      text-decoration: none !important;
      border-bottom: 1px solid transparent;
      -webkit-transition: .3s ease;
      -o-transition: .3s ease;
      transition: .3s ease; }
  header .left_section {
    left: -20px;
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
    bottom: -3px; }
  header .right_section {
    right: -20px;
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
    bottom: -3px; }
  header a.main_logo {
    display: block; }
    header a.main_logo img {
      width: 185px;
      height: 100px; }

@media screen and (min-width: 1025px) {
  header ul a:hover {
    color: #ff028a;
    border-color: #ff028a; } }
