@charset "UTF-8";
.content_slider .arrow_left-stock,
.content_slider .arrow_right-stock,
.content_slider .arrow_left-job,
.content_slider .arrow_right-job, .job_slider_container .arrow_left-stock,
.job_slider_container .arrow_right-stock,
.job_slider_container .arrow_left-job,
.job_slider_container .arrow_right-job {
  display: none; }

.arrow_right,
.arrow_left,
.arrow_right_brands,
.arrow_left_brands,
.arrow_right-stock,
.arrow_left-stock,
.arrow_left-job,
.arrow_right-job {
  display: block;
  position: absolute;
  height: 52px;
  width: 27px;
  background: url(../img/icons/arrow.png) no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  top: 24%;
  opacity: 0.7;
  cursor: pointer; }

.arrow_left,
.arrow_left_brands,
.arrow_left-stock,
.arrow_left-job {
  left: 0; }

.arrow_right,
.arrow_right_brands,
.arrow_right-stock,
.arrow_right-job {
  right: 0;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }

.title_section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 3;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .title_section .title {
    font: 4.5em "SupermolotThin";
    text-transform: uppercase;
    letter-spacing: 0.6em;
    padding-left: 0.6em;
    position: relative;
    color: #e60075;
    margin-bottom: 0.65em; }
    .title_section .title span {
      color: #949494;
      position: relative; }
      .title_section .title span:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 20px;
        height: 20px;
        background: url(../img/icons/title_copy.png) no-repeat;
        -webkit-background-size: contain;
                background-size: contain; }
    .title_section .title:before, .title_section .title:after {
      content: '';
      display: block;
      height: 3px;
      width: 110px;
      position: absolute;
      top: 50%;
      margin-top: -1px; }
    .title_section .title:before {
      background-color: #a2a2a2;
      left: 0;
      -webkit-transform: translateX(-100%);
          -ms-transform: translateX(-100%);
              transform: translateX(-100%); }
    .title_section .title:after {
      background-color: #e60075;
      right: 0;
      -webkit-transform: translateX(100%);
          -ms-transform: translateX(100%);
              transform: translateX(100%); }

.title_desription {
  position: relative;
  z-index: 3; }
  .title_desription p {
    text-align: center;
    color: #939598;
    font: 1.5em "SupermolotLight";
    line-height: 130%;
    margin-bottom: 0.15em; }
    .title_desription p span {
      position: relative;
      font-family: "SupermolotRegular";
      padding-right: 1em; }
      .title_desription p span:after {
        content: '';
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        width: 11px;
        height: 11px;
        background: url(../img/icons/title_copy.png) no-repeat;
        -webkit-background-size: contain;
                background-size: contain; }
  .title_desription .post_txt {
    color: #f11f83;
    display: block;
    font-size: 1.5em;
    text-align: center;
    letter-spacing: 0.05em;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .title_desription .post_txt:after {
      content: '';
      height: 25px;
      width: 25px;
      display: block;
      background: url(../img/icons/map_item.png) no-repeat;
      -webkit-background-size: contain;
              background-size: contain;
      margin-top: 6px; }

.slick-dots {
  bottom: 33px;
  z-index: 10;
  width: auto;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-left: 106px;
  z-index: 4; }

.slick-dots li {
  width: 25px;
  height: 25px;
  margin: 0 14px; }

.slick-dots li button {
  width: 100%;
  height: 100%; }

.slick-dots li button:before {
  width: 100%;
  height: 100%;
  -webkit-border-radius: 0;
          border-radius: 0;
  background: url(../img/icons/pagg.png) no-repeat;
  -webkit-background-size: contain;
          background-size: contain; }

.slick-dots li.slick-active button:before {
  background: url(../img/icons/pagg_active.png) no-repeat;
  -webkit-background-size: contain;
          background-size: contain; }

.top_banner .container {
  position: relative; }

.top_banner .banner_slider {
  margin-bottom: 0;
  z-index: 2; }

.top_banner .decoration_item1 {
  display: block;
  position: absolute;
  z-index: 3;
  width: 250px;
  height: 120px;
  bottom: -15px;
  left: -130px;
  background: url(../img/banner/banner_decoration1.png) no-repeat center center;
  -webkit-background-size: contain;
          background-size: contain; }

.top_banner .decoration_item2 {
  display: block;
  position: absolute;
  z-index: 3;
  left: -45px;
  top: -50px;
  height: 500px;
  width: 420px;
  background: url(../img/banner/banner_decoration3.svg) no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  opacity: 0.5; }

.top_banner .txt {
  position: absolute;
  display: block;
  bottom: -0.5em;
  padding-left: 0.35em;
  left: 50%;
  color: #ef3e80;
  font: 5em "SupermolotThin";
  z-index: 1;
  white-space: nowrap; }

.top_banner .decoration_item3 {
  display: block;
  position: absolute;
  z-index: 3;
  right: 40px;
  top: 0;
  height: 195px;
  width: 600px;
  background: url(../img/banner/banner_decoration4.svg) no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  opacity: 0.5; }

.top_banner .decoration_item4 {
  display: block;
  position: absolute;
  z-index: 3;
  top: -20px;
  height: 90%;
  left: 0%;
  width: 95%;
  background: url(../img/banner/banner_decoration4.png) no-repeat;
  -webkit-background-size: contain;
          background-size: contain; }

.top_banner .logo_banner {
  display: block;
  position: absolute;
  z-index: 4;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 51%;
  height: 70%;
  margin-left: 10px;
  background: url(../img/banner/logo_banner.png) no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  opacity: 0.7; }

.top_banner .banner_slider {
  position: relative;
  z-index: 1;
  -webkit-clip-path: polygon(0% 0%, 48% 0, 50% 4%, 52% 0, 99% 0, 95% 9%, 100% 9%, 100% 96%, 52% 96%, 50% 100%, 48% 96%, 8% 96%, 0 80%);
          clip-path: polygon(0% 0%, 48% 0, 50% 4%, 52% 0, 99% 0, 95% 9%, 100% 9%, 100% 96%, 52% 96%, 50% 100%, 48% 96%, 8% 96%, 0 80%); }

.top_banner .slide .img_block {
  display: block;
  overflow: hidden;
  position: relative; }
  .top_banner .slide .img_block:before {
    content: '';
    display: block;
    padding-top: 41%; }

.top_banner .slide img {
  position: absolute;
  width: 100%;
  height: auto;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }

.links_block {
  padding-top: 60px;
  padding-bottom: 50px; }
  .links_block ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .links_block li {
    width: 100px;
    margin: 0 10px; }
  .links_block a {
    font: 2em "CranberryCyr";
    text-transform: uppercase;
    color: #000;
    white-space: nowrap;
    display: block;
    text-align: center;
    text-decoration: none;
    opacity: 0.9; }
    .links_block a:before {
      content: '';
      display: block;
      margin: 0 auto;
      width: 40px;
      height: 40px;
      margin-bottom: 4px;
      display: block; }
  .links_block .link1:before {
    background: url(../img/icons/link1.png);
    -webkit-background-size: contain;
            background-size: contain; }
  .links_block .link2:before {
    background: url(../img/icons/link2.png);
    -webkit-background-size: contain;
            background-size: contain; }
  .links_block .link3:before {
    background: url(../img/icons/link3.png);
    -webkit-background-size: contain;
            background-size: contain; }
  .links_block .link4:before {
    background: url(../img/icons/link4.png);
    -webkit-background-size: contain;
            background-size: contain; }
  .links_block .link5:before {
    background: url(../img/icons/link5.png);
    -webkit-background-size: contain;
            background-size: contain; }

.letter_item {
  margin: 35px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .letter_item:before {
    content: '';
    background: url(../img/bg_item1.png) no-repeat;
    -webkit-background-size: contain;
            background-size: contain;
    height: 70px;
    width: 50px; }

.crystal_labs {
  position: relative;
  padding-bottom: 25px; }
  .crystal_labs .decoration_item {
    display: block;
    position: absolute;
    z-index: 1;
    top: 270px;
    width: 100%;
    height: 2px;
    background-color: #e5e5e5; }
    .crystal_labs .decoration_item:before {
      content: '';
      display: block;
      height: 700px;
      width: 377px;
      position: absolute;
      left: 0;
      bottom: -165px;
      background: url(../img/lab_decoration.png) no-repeat;
      -webkit-background-size: contain;
              background-size: contain; }
  .crystal_labs .container {
    position: relative;
    z-index: 2; }
  .crystal_labs .labs_container {
    margin-top: 20px;
    position: relative;
    padding: 0 37px; }
  .crystal_labs .slide {
    width: 33%;
    padding: 0 10px;
    outline: none; }
  .crystal_labs .img_block {
    position: relative;
    width: 100%; }
    .crystal_labs .img_block:before {
      content: "";
      display: block;
      padding-top: 100%; }
  .crystal_labs .img_container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; }
    .crystal_labs .img_container img {
      width: 100%;
      height: 100%; }
  .crystal_labs .bottom_section {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative; }
  .crystal_labs .slide_link {
    text-transform: uppercase;
    font: 1.6em "SupermolotLight";
    border-bottom: 1px solid #ff028a;
    color: #ff028a;
    text-decoration: none;
    position: relative;
    margin-bottom: 5px;
    opacity: 1; }
    .crystal_labs .slide_link:after {
      content: '';
      height: 24px;
      position: absolute;
      right: -6px;
      top: 0;
      -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
      transform: translateX(100%);
      width: 24px;
      display: block;
      background: url(../img/icons/link_icon_lab.png) no-repeat;
      -webkit-background-size: contain;
      background-size: contain; }
  .crystal_labs .rating {
    position: absolute;
    top: -53px;
    right: 0;
    background: rgba(255, 255, 255, 0.8);
    padding: 5px; }
    .crystal_labs .rating .stars {
      display: block;
      width: 120px;
      height: 14px;
      background: url(../img/labs/rating.png) no-repeat;
      -webkit-background-size: contain;
              background-size: contain;
      margin-bottom: 4px; }
    .crystal_labs .rating .city {
      text-transform: uppercase;
      font: 1.2em "SupermolotRegular";
      text-align: center;
      display: block;
      letter-spacing: 0.4em; }
  .crystal_labs .title_block {
    display: inline-block;
    position: relative;
    margin-bottom: 30px; }
    .crystal_labs .title_block:before, .crystal_labs .title_block:after {
      content: '';
      display: block;
      position: absolute;
      height: 30px;
      width: 20px; }
    .crystal_labs .title_block:before {
      left: -27px;
      bottom: -15px;
      border-bottom: 2px solid #afafaf;
      border-left: 2px solid #afafaf; }
    .crystal_labs .title_block:after {
      top: -15px;
      right: -17px;
      border-top: 2px solid #afafaf;
      border-right: 2px solid #afafaf; }
    .crystal_labs .title_block .title_block_top {
      position: relative;
      z-index: 2;
      color: #949494;
      display: block;
      text-transform: uppercase;
      letter-spacing: 0.6em;
      margin-right: -0.6em;
      font: 1.6em "SupermolotLight";
      text-align: center; }
    .crystal_labs .title_block .title_block_bottom {
      position: relative;
      z-index: 2;
      color: #949494;
      display: block;
      text-transform: uppercase;
      letter-spacing: 0.8em;
      margin-right: -0.8em;
      font: 1.8em "SupermolotRegular";
      text-align: center; }

.brands {
  padding-bottom: 80px;
  position: relative;
  z-index: 3; }
  .brands .post_txt {
    text-align: center;
    position: relative;
    z-index: 2; }
    .brands .post_txt span {
      font: 1.5em "SupermolotRegular";
      padding: 20px 50px 0px 50px;
      display: block; }
  .brands .container {
    position: relative; }
    .brands .container:after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 155px;
      background: url(../img/bg_partners.png) no-repeat center center;
      -webkit-background-size: contain;
              background-size: contain;
      -webkit-transform: translateY(50%);
          -ms-transform: translateY(50%);
              transform: translateY(50%); }
  .brands .slider_container {
    position: relative;
    z-index: 2;
    padding: 0 37px; }
    .brands .slider_container:before {
      content: '';
      position: absolute;
      display: block;
      height: 40px;
      width: 60px;
      border: 2px solid #ff007f;
      border-top: none;
      border-right: none;
      bottom: 0;
      left: 0; }
    .brands .slider_container:after {
      content: '';
      position: absolute;
      display: block;
      height: 40px;
      width: 60px;
      border: 2px solid #ff007f;
      border-top: none;
      border-left: none;
      bottom: 0;
      right: 0; }
  .brands .arrow_right_brands,
  .brands .arrow_left_brands {
    top: 50%;
    margin-top: -26px; }
  .brands .slider_brands .brand_slide {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 20px;
    position: relative;
    outline: none; }
    .brands .slider_brands .brand_slide:before {
      content: "";
      display: block;
      padding-top: 100%; }
    .brands .slider_brands .brand_slide .img_content {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
  .brands .slider_brands img {
    width: 100%;
    height: auto; }

.price {
  position: relative; }
  .price .price_container {
    position: relative;
    z-index: 2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 10px; }
    .price .price_container:after {
      content: '';
      position: absolute;
      display: block;
      width: 950px;
      height: 1200px;
      background: url(../img/bg__price.png);
      -webkit-background-size: contain;
              background-size: contain;
      -webkit-transform: translate(-32%, -42%);
          -ms-transform: translate(-32%, -42%);
              transform: translate(-32%, -42%); }
  .price .center_price_block {
    width: 60%;
    position: relative;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.2);
    background: url(../img/bg_price.png) no-repeat top center;
    -webkit-background-size: contain;
            background-size: contain; }
    .price .center_price_block:after {
      content: '';
      display: block;
      padding-top: 100%; }
    .price .center_price_block:before {
      content: '';
      display: block;
      position: absolute;
      width: 106px;
      height: 96px;
      background: url(../img/price_item1.png) no-repeat center center;
      -webkit-background-size: contain;
              background-size: contain;
      right: 0;
      -webkit-transform: translateX(83%);
          -ms-transform: translateX(83%);
              transform: translateX(83%);
      top: 15%; }
    .price .center_price_block .price_block_container {
      position: absolute;
      width: 100%;
      height: 100%;
      padding: 0 15%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .price .center_price_block .price_block_container:before {
        content: '';
        position: absolute;
        right: 0;
        width: 146px;
        height: 146px;
        background: url(../img/price_item2.png) no-repeat center center;
        -webkit-background-size: contain;
                background-size: contain;
        top: 0;
        right: 10%;
        -webkit-transform: translateY(-20%);
            -ms-transform: translateY(-20%);
                transform: translateY(-20%); }
      .price .center_price_block .price_block_container img {
        width: 100%; }
    .price .center_price_block a.sign_up {
      text-transform: uppercase;
      font: 1.3em "SupermolotRegular";
      display: inline-block;
      background: url(../img/bg_button.png) no-repeat center center;
      padding: 8px 20px;
      color: #fff;
      padding-right: 45px;
      -webkit-background-size: 100% 100%;
              background-size: 100% 100%;
      position: relative;
      margin: 10% 0;
      text-decoration: underline; }

.sub_title {
  position: relative;
  margin-top: 23px;
  display: inline-block; }
  .sub_title:after {
    content: 'улыбнись удаче!';
    position: absolute;
    right: -80px;
    top: 0;
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
    font: 1.4em "SupermolotRegular";
    line-height: 85%;
    text-transform: uppercase;
    letter-spacing: 1em;
    color: #939598;
    white-space: nowrap; }
  .sub_title .txt_block {
    padding: 2px 30px;
    position: relative; }
    .sub_title .txt_block span {
      display: block;
      color: #939598; }
    .sub_title .txt_block .top {
      font: 2em "SupermolotLight";
      letter-spacing: 0.7em;
      text-transform: uppercase;
      text-align: right;
      margin-right: -0.7em;
      margin-left: 40px; }
    .sub_title .txt_block .bottom {
      font: 3em "SupermolotLight";
      letter-spacing: 0.7em;
      text-transform: uppercase;
      text-align: left;
      line-height: 110%; }
    .sub_title .txt_block:before, .sub_title .txt_block:after {
      content: '';
      display: block;
      position: absolute;
      height: 30px;
      width: 20px;
      white-space: nowrap;
      border: 1px solid #939598; }
    .sub_title .txt_block:before {
      bottom: 0;
      left: 0;
      border-top: none;
      border-right: none; }
    .sub_title .txt_block:after {
      right: 0;
      top: 0;
      border-left: none;
      border-bottom: none; }

.stock {
  padding-top: 20px; }

.stock_container {
  margin: 0 -10px;
  margin-top: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .stock_container a.img_link {
    display: block;
    margin-bottom: 20px; }
    .stock_container a.img_link img {
      width: 100%; }
  .stock_container .block {
    width: 33.33%;
    padding: 0 10px; }

a.btn {
  font: 1.4em "SupermolotLight";
  color: #6d6e71;
  text-decoration: underline;
  position: relative; }
  a.btn:after {
    content: '';
    height: 20px;
    position: absolute;
    right: -3px;
    top: 0;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    width: 20px;
    display: block;
    background: url(../img/icons/title_copy.png) no-repeat;
    -webkit-background-size: contain;
    background-size: contain; }

.competition_crystal {
  margin-top: 80px; }
  .competition_crystal p {
    font: 2.6em "SupermolotThin";
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.8em;
    margin-right: -0.8em; }
  .competition_crystal .content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .competition_crystal .img_block {
    width: 60%;
    position: relative; }
    .competition_crystal .img_block:after {
      content: '';
      position: absolute;
      display: block;
      top: 0;
      width: 1440px;
      height: 486px;
      background: url(../img/competition_bg.png) no-repeat;
      -webkit-background-size: contain;
              background-size: contain;
      left: 50%;
      -webkit-transform: translateX(-46%);
          -ms-transform: translateX(-46%);
              transform: translateX(-46%); }
  .competition_crystal img {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 2; }

.crystal_life {
  margin-top: 100px; }
  .crystal_life .sub_title:after {
    content: 'ищем персонал'; }

.job_container {
  margin: 0 -10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
  margin-bottom: 50px; }
  .job_container .block_img {
    width: 33.33%;
    padding: 0px 10px; }
    .job_container .block_img .img_content {
      position: relative;
      background-color: red; }
      .job_container .block_img .img_content:before {
        content: '';
        display: block;
        padding-top: 100%; }
      .job_container .block_img .img_content img {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%; }
  .job_container .role {
    display: block;
    font: 2em "SupermolotLight";
    text-transform: uppercase;
    padding-top: 0.8em;
    letter-spacing: 0.15em;
    padding-bottom: 0.3em; }
  .job_container .place {
    display: block;
    font: 1.4em "SupermolotLight";
    text-transform: uppercase;
    color: #ff0089;
    padding-bottom: 0.9em; }

@media screen and (min-width: 1025px) {
  .links_block a:hover,
  .crystal_labs .arrow_right:hover,
  .crystal_labs .arrow_left:hover,
  .arrow_right_brands:hover,
  .arrow_left_brands:hover {
    opacity: 1; }
  .more_crystal a:hover,
  .btn:hover {
    color: #000 !important; } }

@media screen and (max-width: 1230px) {
  .top_banner .txt {
    font-size: 4em;
    bottom: -0.5em; }
  .sub_title:after {
    display: none; }
  .top_banner .logo_banner {
    width: 50%;
    height: 65%;
    margin-left: 22px; }
  .top_banner .decoration_item4 {
    width: 80%;
    height: 80%;
    left: 8%;
    top: 0; }
  .crystal_labs .decoration_item:before,
  .crystal_labs .decoration_item {
    display: none; }
  .crystal_labs .title_block .title_block_bottom {
    font-size: 1.6em; }
  .arrow_right, .arrow_left {
    top: 21%; } }

@media screen and (max-width: 992px) {
  .map .map_container {
    padding: 0; }
  .top_banner .txt {
    font-size: 3em; }
  .top_banner .decoration_item2 {
    display: none; }
  .slick-dots li {
    width: 15px;
    height: 15px;
    margin: 0 10px; }
  .slick-dots {
    bottom: 20px;
    margin-left: 70px; }
  .top_banner .logo_banner {
    margin-left: 18px; }
  .links_block {
    padding-top: 50px; }
    .links_block a {
      font-size: 1.6em; }
  .title_section .title {
    font-size: 3.5em; }
  .title_desription p {
    font-size: 1.4em; }
  .more_crystal a {
    font-size: 1.8em; }
  .competition_crystal .img_block {
    width: 100%; }
  .competition_crystal p {
    font-size: 2em; } }

@media screen and (max-width: 768px) {
  .crystal_life,
  .competition_crystal {
    margin-top: 60px; }
  .job_container {
    margin-bottom: 20px; }
  .job_container .role {
    font-size: 1.6em; }
  .competition_crystal p {
    font-size: 1.5em; }
  .competition_crystal .img_block:after {
    width: 180%; }
  .price .price_container:after {
    display: none; }
  .sub_title {
    margin-top: 10px; }
  .content_slider, .job_slider_container {
    padding: 0 37px;
    position: relative; }
    .content_slider .arrow_left-stock,
    .content_slider .arrow_right-stock,
    .content_slider .arrow_left-job,
    .content_slider .arrow_right-job, .job_slider_container .arrow_left-stock,
    .job_slider_container .arrow_right-stock,
    .job_slider_container .arrow_left-job,
    .job_slider_container .arrow_right-job {
      top: 50%;
      margin-top: -26px;
      display: block; }
  .sub_title .txt_block .top {
    font-size: 1.6em; }
  .sub_title .txt_block .bottom {
    font-size: 2em; }
  .sub_title {
    margin-left: 37px; }
  .crystal_labs .title_block .title_block_bottom {
    font-size: 1.2em; }
  .crystal_labs .title_block:before {
    left: -12px; }
  .crystal_labs .title_block .title_block_top {
    font-size: 1.2em; }
  .crystal_labs .slide_link {
    font-size: 1.2em; }
  .crystal_labs .slide_link:after {
    height: 20px;
    width: 20px; }
  .arrow_right, .arrow_left {
    top: 18%; }
  .more_crystal a {
    font-size: 1.4em; }
  .more_crystal a:after {
    height: 20px;
    width: 20px; }
  .top_banner .txt {
    font-size: 2.2em; }
  .top_banner .logo_banner {
    margin-left: 15px; }
  .links_block a:before {
    width: 25px;
    height: 25px; }
  .links_block li {
    width: 70px; }
  .links_block a {
    font-size: 1.4em; }
  .title_section .title {
    font-size: 2.5em; }
  .title_desription p, .title_desription .post_txt {
    font-size: 1.2em; }
  .title_section .title span:after {
    width: 15px;
    height: 15px; }
  .brands .post_txt span {
    display: none; }
  .brands {
    padding-bottom: 20px; }
  .price .center_price_block {
    width: 100%; } }

@media screen and (max-width: 576px) {
  .sub_title .txt_block .bottom {
    font-size: 1.6em; }
  .sub_title .txt_block .top {
    font-size: 1.4em; }
  .competition_crystal p {
    font-size: 1.2em; }
  .price .center_price_block .price_block_container:before,
  .price .center_price_block:before {
    display: none; }
  .crystal_labs .labs_container {
    margin-top: 10px; }
  .price .center_price_block .price_block_container {
    padding: 0%; }
  .brands {
    padding-bottom: 0; }
  .crystal_labs {
    padding-bottom: 0; }
  .brands .slider_container:after,
  .brands .slider_container:before {
    display: none; }
  .arrow_right, .arrow_left {
    top: 27%; }
  .more_crystal {
    margin: 20px 0; }
  .letter_item:before {
    height: 50px;
    width: 35px; }
  .letter_item {
    margin: 20px 0; }
  .title_section .title span:after {
    width: 10px;
    height: 10px; }
  .top_banner .slide .img_block:before {
    padding-top: 100%; }
  .top_banner .slide img {
    height: 100%;
    width: auto;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  .top_banner .banner_slider {
    -webkit-clip-path: none;
            clip-path: none; }
  .top_banner .txt {
    bottom: 0.2em;
    -webkit-transform: translateY(100%);
        -ms-transform: translateY(100%);
            transform: translateY(100%);
    left: auto;
    right: 15px; }
  .slick-dots {
    margin: 0;
    width: 100%;
    bottom: 15px; }
  .top_banner .decoration_item3, .top_banner .decoration_item1, .map .map_container .decoration {
    display: none; }
  .top_banner .logo_banner {
    margin-left: 0;
    height: 40%;
    width: 65%; }
  .top_banner .decoration_item4 {
    height: 35%;
    width: 90%;
    top: auto;
    bottom: 20%; }
  .links_block {
    padding-top: 65px; }
  .links_block li {
    width: 50px;
    margin: 0 2px; }
  .links_block a {
    font-size: 1em; }
  .links_block ul {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 15px; }
  .title_section .title {
    font-size: 2em;
    letter-spacing: 0.3em; }
    .title_section .title:before, .title_section .title:after {
      display: none; }
  .title_desription p {
    display: none; } }

@media screen and (max-width: 400px) {
  .sub_title {
    width: 100%;
    margin: 0;
    margin-top: 10px;
    padding: 0 37px; } }
