@import "fonts";
.link_trigger {
    position: relative;
    .bg {
        position: absolute;
        bottom: 0;
        left: 50%;
        background: url(../img/indicator.png);
        width: 18px;
        height: 13px;
        transform: translateX(-50%);
        opacity: 0;
        transition: .3s ease;
    }
}


.link_trigger_fr {
    position: relative;
    .bg_static {
        position: absolute;
        bottom: 14px;
        left: 50%;
        background: url(../img/fr_indicator.png);
        width: 10px;
        height: 7px;
        transform: translateX(-50%);
        transition: .3s ease;
    }
}

body {
    font-size: 10px;
    background: #0f0f0f;
}

.body_active {
    position: fixed;
    width: 100%;
    height: 100%;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    min-width: 320px;
    box-sizing: border-box;
}

#wrapper {
    position: relative;
    height: 100vh;
}

.nav-btn {
                display: none;
                position: absolute;
                right: 25px;
                top: 44px;
                z-index: 1002;
                a {
                    display: block;
                    position: relative;
                    height: 25px;
                    width: 30px;
                    box-sizing: border-box;
                    transition: .3s ease;
                    span {
                        display: block;
                        height: 3px;
                        width: 100%;
                        background-color: #000;
                        position: absolute;
                        top: 12px;
                        margin-top: -1px;
                        transition: .3s ease;
                    }
                    &::before {
                        display: block;
                        content: "";
                        height: 3px;
                        width: 100%;
                        background-color: #000;
                        position: absolute;
                        transition: .3s ease;
                        top: 0;
                    }
                    &::after {
                        display: block;
                        content: "";
                        height: 3px;
                        width: 100%;
                        background-color: #000;
                        position: absolute;
                        bottom: 0;
                        transition: .3s ease;
                    }
                }
                .a_active {
                    transform: translateX(-2px);
                    &::before {
                        transform: rotate(45deg);
                        top: 11px;
                        width: 35px;
                        
                    }
                    &::after {
                        transform: rotate(-45deg);
                        bottom: 11px;
                        width: 35px;

                    }
                    span {
                        background-color: transparent !important;
                    }
                }
            }

#mobile_nav {
    position: fixed;
    z-index: 1001;
    height: 100%;
    width: 100%;
    background: #e7dd39;
    left: -100%;
    transition: .3s ease;
    display: flex;
    align-items: center;
    ul {
        margin: 0;
        display: flex;
        padding: 0;
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        list-style: none;
        justify-content: space-around;
        box-sizing: border-box;
        padding-top: 50px;
        padding-bottom: 50px;
        a {
            text-decoration: none;
            font: 2.5em "HelveticaNeueCyrBold";
            color: #000;
        }
        .icons_block {
                    display: flex;
                    justify-content: space-between;
                    width: 88px;
                    .link1,
                    .link2,
                    .link3 {
                        height: 100%;
                    }
                    .link1 a {
                        display: block;
                        width: 14px;
                        height: 14px;
                        background: url(../img/icon_first.png) -93px -10px;
                    }
                    .link2 a {
                        display: block;
                        width: 16px;
                        height: 14px;
                        background: url(../img/icon_first.png) -47px -46px;
                    }
                    .link3 a {
                        display: block;
                        width: 17px;
                        height: 14px;
                        background: url(../img/icon_first.png) -10px -46px;
                    }
                }
    }
}
.active_nav {
    left: 0 !important;
}

#header_top {
    position: absolute;
    left: 0;
    top: 5%;
    width: 100%;
    z-index: 1000;
    transition: .3s ease;
    .container {
        .header_top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            .logo {
                a {
                    display: block;
                    width: 61px;
                    height: 61px;
                    background: url(../img/logo_header.svg);
                    background-size: cover;
                }
            }
            .lang {
                display: flex;
                justify-content: center;
                align-items: center;
                p {
                    font: 1.8em "HelveticaNeueCyrRoman";
                    padding: 0 7px;
                }
                a {
                    font: 1.8em "HelveticaNeueCyrRoman";
                    text-transform: uppercase;
                    color: #000;
                    text-decoration: none;
                }
                .active_lang {
                    font: 1.8em "HelveticaNeueCyrBold";
                    text-transform: uppercase;
                }
            }
        }
    }
}

.header_top_last {
    top: -100% !important;
}

#header_nav {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 1000;
    transition: .3s ease;
    .line_bottom {
        position: absolute;
        bottom: 0;
        height: 14px;
        width: 100%;
        z-index: 1;
        background: #f4ea48;
    }
    .container {
        position: relative;
        z-index: 2;
        .header_nav {
            display: flex;
            justify-content: space-between;
            height: 42px;
            .left_section {
                height: 100%;
                display: flex;
                justify-content: space-between;
                width: 400px;
                .first_link {
                    width: 62px;
                    height: 100%;
                    .load {
                        display: flex;
                        display: none;
                        justify-content: space-between;
                        height: 100%;
                        span {
                            cursor: default;
                            font: 1.8em "HelveticaNeueCyrBold";
                            color: #000;
                            line-height: 0.9em;
                        }
                    }
                    .link {
                        height: 100%;
                        position: relative;
                        a {
                            display: block;
                        text-decoration: none;
                        font: 1.8em "HelveticaNeueCyrBold";
                        color: #000;
                        line-height: 0.9em;
                        }
                    }
                }
                .icons_block {
                    display: flex;
                    justify-content: space-between;
                    width: 88px;
                    .link1,
                    .link2,
                    .link3 {
                        height: 100%;
                    }
                    .link1 a {
                        display: block;
                        width: 14px;
                        height: 14px;
                        background: url(../img/icon_first.png);
                         background-position: -93px -10px !important;
                    }
                    .link2 a {
                        display: block;
                        width: 16px;
                        height: 14px;
                        background: url(../img/icon_first.png);
                        background-position: -47px -46px !important;
                    }
                    .link3 a {
                        display: block;
                        width: 17px;
                        height: 14px;
                        background: url(../img/icon_first.png);
                         background-position: -10px -46px !important;
                    }
                }
                .fr_link {
                    height: 100%;
                    a {
                        display: block;
                        text-decoration: none;
                        font: 1.8em "HelveticaNeueCyrBold";
                        color: #000;
                        line-height: 0.9em;
                    }
                }
            }
            .right_section {
                width: 578px;
                ul {
                    height: 100%;
                    display: flex;
                    list-style: none;
                    justify-content: space-between;
                    width: 100%;
                    margin: 0;
                    padding: 0;
                    li {
                        a {
                            text-decoration: none;
                            display: block;
                            font: 1.8em "HelveticaNeueCyrLight";
                            color: #000;
                            line-height: 0.9em;
                        }
                    }
                }
            }
        }
    }
}

.header_nav_last {
    bottom: calc(100% - 55px) !important;
}

// новые классы
#header_top .container .header_top_transformed {
    .logo a {
        background: url(../img/logo_header_second.svg);
        background-size: cover;
    }
    .lang a, .lang p {
        color: #f4ea48;
    } 
}

#header_nav .container .header_nav_transformed {
            .right_section ul li a, .left_section .fr_link a, .left_section .first_link .link a {
                color: #f4ea48;
            }
            .left_section .icons_block .link1 a {
                background: url(../img/icon_second.png);
            }
            .left_section .icons_block .link2 a {
                background: url(../img/icon_second.png);
            }
            .left_section .icons_block .link3 a {
                background: url(../img/icon_second.png);
            }
        }

.active_link {
    a {
        color: #fff !important;
    }
    .bg {
        opacity: 1;
    }
}

#header_nav .container .header_nav .left_section .icons_block .icon .active_icon  {
     background: url(../img/icon_active.png);
}

@import "media";