#last_page {
    position: relative;
    .active_bg {
        position: absolute;
        height: 100%;
        width: 600%;
        top: 0;
        left: 0;
        background: url(../img/animate_bg_last.jpg) no-repeat center center;
        background-size: cover;
        transition: .3s;
    }
    .custom_dots {
        position: absolute;
        top: 20px;
        width: 100%;
        transition: .3s ease;
        span {
            position: absolute;
            font: 1.8em "HelveticaNeueCyrRoman";
            color: #f4ea48;
        }
        .span_left {
            left: -425%;
        }
        .span_right {
            right: -425%;
        }
        ul {
            display: flex;
            list-style: none;
            justify-content: center;
            margin: 0 auto;
            width: 270px;
            padding: 0;
            position: relative;
            li {
                width: 31px;
                height: 19px;
                background: url(../img/bg_dots.png) no-repeat;
                background-position: 0px 0;
                background-size: cover;
                display: flex;
                align-items: center;
                margin: 0 6px;
                cursor: pointer;
                span {
                    display: block;
                    border-radius: 50%;
                    width: 13px;
                    height: 13px;
                    margin-left: 9px;
                    background: transparent;
                }
            }
            .active_dot {
                span {
                    background: #f4ea48;
                }
            }
        }
    }
    .container {
        height: 100vh;
        position: relative;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        .slider_content {
            width: 100%;
            position: relative;
        }
        .slider2 {
            padding-bottom: 20px;
            .slide {
                margin: 0 15px;
                height: 500px;
                position: relative;
                outline: none;
            }
            .slide1 {
                position: relative;
                span {
                    position: absolute;
                    display: block;
                    width: 40px;
                    height: 100%;
                    cursor: pointer;
                    transition: .1s;
                    z-index: 2;
                }
                .arrow_left_slide1 {
                    left: 0;
                    background: url(../img/arrow_left.png) no-repeat center center;
                    background-color: rgba(0, 0, 0, 0.5);
                    &:hover {
                        background-color: rgba(0, 0, 0, 0.7);
                    }
                }
                .arrow_right_slide1 {
                    right: 0;
                    background: url(../img/arrow_right.png) no-repeat center center;
                    background-color: rgba(0, 0, 0, 0.5);
                    &:hover {
                        background-color: rgba(0, 0, 0, 0.7);
                    }
                }
                .bottom {
                    position: absolute;
                    bottom: 0;
                    left: 40px;
                    cursor: default;
                    width: calc(100% - 80px);
                    height: 64px;
                    background-color: rgba(0, 0, 0, 0.5);
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .left {
                        font: 1.2em "HelveticaNeueCyrBold";
                        color: #fff;
                    }
                    img {
                        width: 40px;
                        height: 40px;
                        position: absolute;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                    .right {
                        font: 1.2em "HelveticaNeueCyrMedium";
                        color: #fff;
                    }
                }
                .bottom_line {
                    position: absolute;
                    width: 100%;
                    bottom: 0;
                    left: 0;
                    height: 3px;
                    background: #f5ed4a;
                }
                .slider_news {
                    .slide {
                        margin: 0;
                        background: url(../img/Bg_news_block.jpg) no-repeat center center;
                        background-size: cover;
                        a {
                            display: block;
                            width: 100%;
                            outline: none;
                            height: 100%;
                            font: 3.6em "HelveticaNeueCyrBold";
                            color: #fff;
                            text-decoration: none;
                            display: flex;
                            align-items: flex-end;
                            justify-content: flex-end;
                            h6 {
                                text-align: right;
                                padding-right: 55px;
                                padding-bottom: 79px;
                                margin: 0;
                                strong {
                                    color: #f4ea48;
                                }
                            }
                        }
                    }
                }
            }
            .slide3 {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .banner {
                    outline: none;
                    width: 100%;
                    height: 30%;
                    position: relative;
                    a {
                        display: block;
                        width: 100%;
                        height: 100%;
                        background: url(../img/Block3_banner.jpg) no-repeat center center;
                        background-size: cover;
                        outline: none;
                    }
                    .title {
                        position: absolute;
                        left: 0;
                        top: 0;
                        height: 100%;
                        width: 15%;
                        background: rgba(0, 0, 0, 0.8);
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        .calc {
                            display: block;
                            width: 80%;
                            height: 40px;
                            background: url(../img/calc.png) no-repeat center center;
                            background-size: contain;
                        }
                        img {
                            width: 40px;
                            height: 40px;
                        }
                        .top {
                            font: 1.4em "HelveticaNeueCyrMedium";
                            color: #f4ea48;
                            margin: 0;
                            padding: 15px 0;
                        }
                        .bottom {
                            font: 2.2em "HelveticaNeueCyrMedium";
                            color: #fff;
                            margin: 0;
                        }
                    }
                }
                .slider3 {
                    margin: 0 -15px;
                    .slide {
                        height: 335px;
                        overflow: hidden;
                    }
                    .var1,
                    .var2 {
                        .img {
                            height: 50%;
                            position: relative;
                            img {
                                height: 100%;
                                min-width: 100%;
                                width: auto;
                                position: absolute;
                                left: 50%;
                                transform: translateX(-50%);
                            }
                        }
                        .txt {
                            height: 50%;
                            background: rgba(0, 0, 0, 0.7);
                            position: relative;
                            p {
                                text-align: center;
                            }
                            h6 {
                                font: 1.5em "HelveticaNeueCyrRoman";
                                margin: 0;
                                text-transform: uppercase;
                                text-align: center;
                                color: #fff;
                                padding-top: 0.6em;
                                strong {
                                    font-family: "HelveticaNeueCyrBold";
                                }
                            }
                            .first {
                                font: 1.2em "HelveticaNeueCyrMedium";
                                color: #f4ea48;
                                text-transform: uppercase;
                                margin: 0;
                                padding: 0.5em 0;
                            }
                            .title {
                                font: 1.2em "HelveticaNeueCyrMedium";
                                color: #f4ea48;
                                margin: 0;
                            }
                            .desc {
                                font: 1.4em "HelveticaNeueCyrMedium";
                                color: #fff;
                                margin: 0;
                                text-transform: uppercase;
                                padding-bottom: 0.5em;
                            }
                            .line {
                                display: block;
                                height: 3px;
                                position: absolute;
                                width: 100%;
                                background: #f4ea48;
                                bottom: 0;
                            }
                        }
                    }
                    .var2 {
                        .txt {
                            h6 {
                                padding-top: 0.9em;
                                padding-bottom: 0.7em;
                            }
                        }
                    }
                }
            }
            .slide5 {
                position: relative;
                .btn_bottom {
                    display: block;
                    background: url(../img/arrow_bottom.png);
                    width: 32px;
                    height: 17px;
                    cursor: pointer;
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                }
                .slider_gallery {
                    height: 480px;
                    overflow: hidden;
                    .slide {
                        height: 150px;
                        margin: 0;
                        margin-bottom: 15px;
                        width: 100%;
                        border: none;
                    }
                    .slide_first {
                        display: flex;
                        justify-content: space-between;
                        .block_left {
                            width: 20%;
                            h6 {
                                font: 3em "HelveticaNeueCyrBold";
                                margin: 0;
                                color: #fff;
                                line-height: 0.8em;
                            }
                            .date {
                                font: 1.2em "HelveticaNeueCyrMedium";
                                color: #f4ea48;
                                margin: 5px 0;
                                padding-bottom: 5px;
                            }
                            ul {
                                list-style: none;
                                margin: 0;
                                padding: 0;
                                a {
                                    color: #fff;
                                    text-decoration: none;
                                    font: 1.4em "HelveticaNeueCyrMedium";
                                    span {
                                        color: #f4ea48;
                                    }
                                }
                            }
                            .photo {
                                font: 2em "HelveticaNeueCyrBold";
                                color: #fff;
                                line-height: 0.8em;
                                margin: 0;
                                padding-top: 0.5em;
                                text-align: right;
                            }
                        }
                        .center_block {
                            position: relative;
                            width: 60%;
                            padding: 0 15px;
                            span {
                                position: absolute;
                                display: block;
                                width: 40px;
                                height: 100%;
                                cursor: pointer;
                                transition: .1s;
                                z-index: 2;
                            }
                            .arrow_left_photo {
                                left: 15px;
                                background: url(../img/arrow_left.png) no-repeat center center;
                                background-color: rgba(0, 0, 0, 0.5);
                                &:hover {
                                    background-color: rgba(0, 0, 0, 0.7);
                                }
                            }
                            .arrow_right_photo {
                                right: 15px;
                                background: url(../img/arrow_right.png) no-repeat center center;
                                background-color: rgba(0, 0, 0, 0.5);
                                &:hover {
                                    background-color: rgba(0, 0, 0, 0.7);
                                }
                            }
                            .photo_slider {
                                width: 100%;
                                height: 100%;
                                .slick-list {
                                    height: 100%;
                                }
                                .slide {
                                    height: 100%;
                                    margin: 0;
                                    img {
                                        width: 100%;
                                        height: auto;
                                    }
                                }
                            }
                        }
                        .right_block {
                            position: relative;
                            width: 20%;
                            .img {
                                height: 100%;
                                overflow: hidden;
                                position: relative;
                                img {
                                    position: relative;
                                    z-index: 1;
                                    height: 100%;
                                }
                                .overlay {
                                    width: 100%;
                                    display: block;
                                    height: 100%;
                                    position: absolute;
                                    z-index: 2;
                                    background: rgba(0, 0, 0, 0.4);
                                    left: 0;
                                    top: 0;
                                }
                            }
                            .logo {
                                position: absolute;
                                z-index: 3;
                                left: 50%;
                                top: 50%;
                                transform: translate(-50%, -50%);
                            }
                            .txt {
                                position: absolute;
                                bottom: 8px;
                                z-index: 2;
                                width: 100%;

                                p {
                                    font: 1.6em "HelveticaNeueCyrBold";
                                    color: #f4ea48;
                                    text-align: center;
                                    margin: 0;
                                }
                            }
                            .line {
                                height: 3px;
                                width: 100%;
                                position: absolute;
                                bottom: 0;
                                background-color: #f4ea48;
                                z-index: 4;
                            }
                        }
                    }
                    .cards {
                        display: flex;
                        justify-content: space-between;
                        .block_left, .block_right {
                            width: 48%;
                            height: 100%;
                            display: flex;
                            .desc {
                                width: 35%;
                                background: rgba(0, 0, 0, 0.5);
                                height: 100%;
                                margin-right: 15px;
                                h6 {
                                    font: 1.5em "HelveticaNeueCyrRoman";
                                    margin: 0;
                                    text-transform: uppercase;
                                    text-align: center;
                                    color: #fff;
                                    padding-top: 0.6em;
                                    strong {
                                        font-family: "HelveticaNeueCyrBold";
                                    }
                                }
                                img {
                                    display: block;
                                    width: 30px;
                                    height: 30px;
                                    margin: 10px auto;
                                }
                                .title {
                                    font: 1.2em "HelveticaNeueCyrMedium";
                                    color: #f4ea48;
                                    margin: 0;
                                    text-align: center;
                                    padding-bottom: 0.2em;
                                }
                                .date {
                                    font: 1.4em "HelveticaNeueCyrMedium";
                                    color: #fff;
                                    margin: 0;
                                    text-transform: uppercase;
                                    padding-bottom: 0.5em;
                                    text-align: center;
                                }
                            }
                            .img_block {
                                width: 65%;
                                height: 100%;
                                overflow: hidden;
                                position: relative;
                                img {
                                    width: 100%;
                                    height: auto;
                                    position: absolute;
                                    left: 50%;
                                    top: 50%;
                                    transform: translate(-50%, -50%);
                                }
                            }
                        }
                        .block_right {
                            .desc {
                                margin-right: 0;
                                margin-left: 15px;
                            }
                        }
                    }
                }
            }
        }
    }
}