@import "fonts";
body {
    font-size: 10px;
}

#home_page {
    background: #f4ea48;
    .container {
        height: 100vh;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .header_top {
        position: absolute;
        box-sizing: content-box;
        width: calc(100% - 30px);
        top: 5%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo {
            a {
                display: block;
            }
            img {
                width: 61px;
                height: 61px;
            }
        }
        .lang {
            display: flex;
            justify-content: center;
            p {
                font: 1.8em "HelveticaNeueCyrRoman";
                padding: 0 7px;
            }
            a {
                font: 1.8em "HelveticaNeueCyrRoman";
                text-transform: uppercase;
                color: #000;
                text-decoration: none;
            }
            .active_lang {
                font: 1.8em "HelveticaNeueCyrBold";
                text-transform: uppercase;
                color: #000;
            }
        }
    }
    .block_logo {
        width: 100%;
        height: 50%;
        position: relative;
        .logo_center {
        	background: url(../img/center_logo.png) no-repeat center center;
        	background-size: cover;
        }
        .logo_txt {
            animation: 10s linear 0s normal none infinite running rot;
            height: 100%;
        }
        @keyframes rot {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
    }
}


@import "media";