@import "fonts";

body, html {
	font-size: 10px;
}
p, ul {
	margin: 0;
	padding: 0;
}

p {
	color: #191919;
}

h6 {
	font: 3.5em "RobotoRegular";
	text-align: center;
	padding-top: 1.4em;
	padding-bottom: 0.8em;
	color: #191919;
}

.container {
	min-width: 320px;
}

#wrapper {
	position: relative;
}

#header {
	position: absolute;
	width: 100%;
	top: 0;
	background: #fff;
	z-index: 3;
	header {
		display: flex;
		position: relative;
		justify-content: flex-end;
		align-items: center;
		height: 60px;
	}
	.logo {
		display: inline-block;
		position: absolute;
		left: 0;
		top: 0;
		a {
			display: block;
			height: 176px;
			width: 292px;
			background: url(../img/logo.png) no-repeat center center;
			background-size: contain;
		}
	}
	.numbers, .time {
		display: flex;
		.icon {
			font-size: 2.8em;
		}
		p {
			font: 1.6em "RobotoRegular";
			padding-left: 10px;

		}
	}
	.numbers {
	    margin-left: 50px;
	}
}

#home {
	background: url(../img/bg.png) no-repeat center top;
	background-size: cover;
	background-position: 20% 50%;
	position: relative;
	.overlay {
		background: rgba(0, 0, 0, 0.3);
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 1;
		display: none;
	}
	.container {
		position: relative;
		z-index: 2;
		height: 100vh;
		padding-top: 60px;
	}
	.content {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		padding-bottom: 15px;
	}
	.socials {
		display: flex;
		width: 292px;
		justify-content: space-between;
		a {
			font-size: 4.5em;
			color: #fff;
			transition: .3s ease;
			&:hover {
				color: #03998d;
			}
		}
	}
	.left_txt {
		padding-top: 18px;
		padding-bottom: 40px;
		ul {
			font: 2em "RobotoRegular";
			color: #fff;
			list-style-type: decimal;
			margin-left: 1.05em;
			p {
				color: #fff;
			}
		}
		li {
			padding: 4px 0;
		}
		h4 {
			font: 2.2em "RobotoRegular";
			color: #fff;
		}
		h5 {
			font: 3em "RobotoRegular";
			color: #fff;
			padding-top: 10px;
		}
	}
	.place {
		display: flex;
		justify-content: space-between;
		.block {
			display: flex;
			width: 30%;
			.icon {
				font-size: 3em;
				color: #fff;
			}
			p {
				font: 1.6em "RobotoRegular";
				color: #fff;
				padding-left: 10px;
			}
		}
	}
}

#video {
	iframe {
		width: 80%;
		height: 500px;
		display: block;
		margin: 0 auto;
	}
}

#park {
	.content {
		.block {
			padding: 15px;
			.block_content, .block_content_carousel {
         background: #fff;
         display: flex;
			   flex-flow: row wrap;
			   height: 100%;
			   box-shadow: 1px 1px 80px 0px rgba(219,219,219,1);
			}
			.carousel {
				margin: 0 -15px;
				background-color: transparent;
				p {
					padding-left: 30px !important;
					padding-right: 30px !important;
				}
			}
			.block_content_carousel {
				overflow: hidden;
				display: block;
				background-color: transparent;
				.button {
					display: flex;
					justify-content: center;
				}
				p {
					padding-left: 15px;
					padding-right: 15px;
				}
				.slide {
					padding: 0 15px;
					img {
					}
				}
			}
				.popup_img {
					display: block;
					outline: none;
					width: 100%;
				}
				img {
					width: 100%;
			}
			.description {
				font: 2em "RobotoRegular";
				text-align: center;
				padding-top: 15px;
				padding-bottom: 10px;
				padding-left: 15px;
				padding-right: 15px;
				width: 100%;
			}
			.availability {
				 font: 2em "RobotoBold";
				 text-align: center;
				 padding-bottom: 15px;
				 width: 100%;
			}
			.btn {
				font: 2em "RobotoRegular";
				text-align: center;
				color: #fff;
				display: inline-block;
				background: #03998d;
				height: 40px;
				text-decoration: none;
				padding-top: 6px;
				padding-left: 15px;
				padding-right: 15px;
				border-radius: 7px;
				transition: .3s ease;
				margin: 0 auto;
				align-self: flex-end;
				margin-bottom: 30px;
				&:hover {
					background: #007067;
				}
			}
		}
	}
}

#popup {
	position: fixed;
	z-index: 9999;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	.content {
		width: 700px;
		height: 400px;
		background-color: #fff;
		.top, .bottom {
			text-align: center;
			font: 2.2em "RobotoRegular";
			padding-top: 18px;
		}
		.bottom {
			font-size: 1.6em;
		}
		.yes {
			font: 1.2em "RobotoRegular";
			text-align: center;
			padding-top: 17px;
		}
		form {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-top: 20px;
			margin-bottom: 0;
			input {
				width: 80%;
				border: 2px solid #03998d;
				margin-bottom: 15px;
				font: 1.6em "RobotoRegular";
				padding: 7px 15px;
				border-radius: 7px;
				outline: none;
			}
			button {
           font: 2em "RobotoRegular";
				text-align: center;
				color: #fff;
				display: inline-block;
				background: #03998d;
				height: 40px;
				text-decoration: none;
				padding-left: 20px;
				padding-right: 20px;
				padding-bottom: 4px;
				border: none;
				border-radius: 7px;
				transition: .3s ease;
				margin: 0 auto;
				align-self: flex-end;
				cursor: pointer;
				&:hover {
					background: #007067;
				}
			}
		}
	}
}

#gallery {
	a {
		display: block;
		outline: none;
		margin-bottom: 30px;
		img {
			width: 100%;
		}
	}
}

#how {
	background: #f4f4f4;
	p {
		font: 1.6em  "RobotoRegular";
		text-align: center;
		padding-bottom: 20px;
	}
	.map {
		margin-bottom: 20px;
		.map_content {
			height: 300px;
		}
	}
}

#footer {
	background: #c4c4c4;
	.content {
		height: 100px;
		display: flex;
		align-items: center;
		font: 1.4em "RobotoRegular";
	}
}

@import "media";
