#card {
  padding-top: 8px; }
  #card h4 {
    font: 2.4em "RobotoBold";
    color: #333333; }
  #card .info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 8px; }
    #card .info .articule {
      background: #fef2b4;
      margin-right: 15px; }
      #card .info .articule p {
        font: 1.2em "RobotoRegular";
        color: #52647b;
        padding: 5px 13px; }
        #card .info .articule p span {
          color: #333333; }
    #card .info .availability_c p {
      font: 1.4em "RobotoRegular";
      color: #00a650; }
  #card .card_content {
    border: 1px solid #dae2ee;
    margin: 0;
    position: relative; }
    #card .card_content .new {
      position: absolute;
      left: 15px;
      width: 60px;
      height: 29px;
      background: #ff6a00;
      top: 0;
      -webkit-clip-path: polygon(100% 0, 100% 82%, 50% 100%, 0 82%, 0 0);
              clip-path: polygon(100% 0, 100% 82%, 50% 100%, 0 82%, 0 0);
      z-index: 1;
      padding-top: 5px; }
      #card .card_content .new p {
        font: 0.9em "OpenSansRegular";
        text-transform: uppercase;
        text-align: center;
        color: #fff; }
    #card .card_content .gallery_content {
      padding-top: 20px; }
    #card .card_content .slider-for .slide {
      outline: none; }
      #card .card_content .slider-for .slide a {
        outline: none;
        display: block;
        width: 85%;
        margin: 0 auto; }
      #card .card_content .slider-for .slide img {
        width: 100%;
        display: block; }
    #card .card_content .nav {
      padding: 0 27px;
      position: relative;
      margin-top: 18px; }
      #card .card_content .nav .btn_left,
      #card .card_content .nav .btn_right {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        height: 100%; }
        #card .card_content .nav .btn_left .btn,
        #card .card_content .nav .btn_right .btn {
          width: 22px;
          height: 37px;
          background: url(../img/arrow_before.png);
          cursor: pointer; }
          #card .card_content .nav .btn_left .btn:hover,
          #card .card_content .nav .btn_right .btn:hover {
            background: url(../img/arrow_hover.png); }
      #card .card_content .nav .btn_left {
        position: absolute;
        left: 0;
        top: 0; }
        #card .card_content .nav .btn_left .btn:hover {
          -webkit-transform: rotate(180deg);
              -ms-transform: rotate(180deg);
                  transform: rotate(180deg); }
      #card .card_content .nav .btn_right {
        position: absolute;
        right: 0;
        top: 0; }
        #card .card_content .nav .btn_right .btn {
          -webkit-transform: rotate(180deg);
              -ms-transform: rotate(180deg);
                  transform: rotate(180deg); }
          #card .card_content .nav .btn_right .btn:hover {
            -webkit-transform: rotate(0deg);
                -ms-transform: rotate(0deg);
                    transform: rotate(0deg); }
    #card .card_content .slider-nav .slide {
      border: 2px solid #e9eef5;
      margin: 0 2px;
      outline: none;
      cursor: pointer; }
      #card .card_content .slider-nav .slide img {
        width: 100%;
        padding: 10px 4px; }
    #card .card_content .links {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      margin-top: 20px;
      margin-bottom: 28px; }
      #card .card_content .links .link {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        position: relative; }
        #card .card_content .links .link .popup {
          height: 149px;
          width: 179px;
          position: absolute;
          display: none;
          z-index: 10;
          background: #fff;
          top: -170px;
          -webkit-box-shadow: 0px 0px 56px 1px #b8b8b8;
                  box-shadow: 0px 0px 56px 1px #b8b8b8; }
          #card .card_content .links .link .popup:before {
            content: '';
            display: block;
            position: absolute;
            bottom: -11px;
            left: 54px;
            width: 18px;
            border-top: 11px solid #fff;
            border-right: 18px solid transparent; }
          #card .card_content .links .link .popup .close_icon {
            position: absolute;
            right: 11px;
            top: 11px;
            background: url(../img/close_icon.png);
            height: 11px;
            width: 11px;
            cursor: pointer; }
          #card .card_content .links .link .popup a {
            display: block;
            font: 1.3em "OpenSansRegular";
            color: #000;
            padding-left: 25px;
            margin-top: 22px;
            margin-left: 20px; }
          #card .card_content .links .link .popup .link1 {
            background: url(../img/icon_facebook.png) no-repeat left center; }
          #card .card_content .links .link .popup .link2 {
            background: url(../img/icon_twitter.png) no-repeat left center; }
          #card .card_content .links .link .popup .link3 {
            background: url(../img/icon_insta.png) no-repeat left center; }
        #card .card_content .links .link .popup_active {
          display: block; }
        #card .card_content .links .link a {
          font: 1.1em "Robotolight";
          text-decoration: none;
          color: #004993;
          margin-left: 7px; }
        #card .card_content .links .link .icon1 {
          background: url(../img/link_content_1.png);
          width: 20px;
          height: 11px;
          margin-top: 2px; }
        #card .card_content .links .link .icon2 {
          background: url(../img/link_content_2.png);
          width: 24px;
          height: 18px; }
        #card .card_content .links .link .icon3 {
          background: url(../img/link_content_5.png);
          width: 17px;
          height: 18px; }
        #card .card_content .links .link .icon4 {
          background: url(../img/link_content_6.png);
          width: 19px;
          height: 18px; }
    #card .card_content .information {
      padding: 15px; }
      #card .card_content .information .banner {
        border: 2px solid #ff6a00;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        height: 92px; }
        #card .card_content .information .banner img {
          width: 43px;
          margin: 0 16px; }
        #card .card_content .information .banner .txt p {
          font: 1.5em "RobotoRegular";
          color: #ff6a00;
          padding-bottom: 5px; }
        #card .card_content .information .banner .txt a {
          font: 1.3em "RobotoRegular";
          color: #004993; }
          #card .card_content .information .banner .txt a span {
            display: inline-block;
            background: url(../img/icon_arrow.png);
            width: 10px;
            height: 6px;
            -webkit-transform: rotateZ(180deg);
                -ms-transform: rotate(180deg);
                    transform: rotateZ(180deg);
            margin-left: 6px; }
      #card .card_content .information .price {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: end;
        -webkit-align-items: flex-end;
            -ms-flex-align: end;
                align-items: flex-end; }
        #card .card_content .information .price p {
          font: 2em "RobotoBold";
          position: relative;
          padding-top: 15px;
          margin-top: 12px; }
          #card .card_content .information .price p span {
            position: absolute;
            font: 13px "RobotoRegular";
            text-decoration: line-through;
            left: 0;
            top: 0; }
        #card .card_content .information .price a {
          font: 1.3em "RobotoRegular";
          color: #004993;
          padding-left: 26px;
          background: url(../img/price_icon.png) no-repeat left center; }
      #card .card_content .information .btn_to_cart {
        display: block;
        text-align: center;
        font: 1.6em "RobotoRegular";
        color: #fff;
        padding: 10px 0;
        -webkit-transition: .3s ease;
        -o-transition: .3s ease;
        transition: .3s ease;
        text-decoration: none;
        -webkit-border-radius: 4px;
                border-radius: 4px;
        background: url(../img/bg_btn.png) no-repeat;
        background-position: 15px 50%;
        margin-top: 5px;
        background-color: #ff6a00; }
        #card .card_content .information .btn_to_cart:hover {
          background-color: #e86000; }
      #card .card_content .information .btn_credit {
        font: 1.3em "RobotoRegular";
        color: #004993;
        padding-left: 26px;
        display: block;
        background: url(../img/link_content_3.png) no-repeat center left;
        margin-top: 10px; }
      #card .card_content .information .buy {
        display: block;
        width: 100%; }
        #card .card_content .information .buy .inputs {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex; }
        #card .card_content .information .buy p {
          font: 1.3em "RobotoRegular";
          white-space: nowrap;
          padding-top: 12px;
          padding-bottom: 5px; }
        #card .card_content .information .buy .input {
          display: block;
          height: 36px;
          width: 154px;
          border: 1px solid #dae2ee;
          -webkit-border-radius: 7px 0 0 7px;
                  border-radius: 7px 0 0 7px;
          font: 1.3em "RobotoRegular";
          padding-left: 5px;
          color: #999999;
          outline: none; }
        #card .card_content .information .buy .submit {
          display: block;
          height: 36px;
          border: none;
          cursor: pointer;
          font: 1.6em "RobotoRegular";
          color: #fff;
          width: 80px;
          padding-bottom: 3px;
          -webkit-border-radius: 0 7px 7px 0;
                  border-radius: 0 7px 7px 0;
          background: #b8c6d3;
          -webkit-transition: .3s ease;
          -o-transition: .3s ease;
          transition: .3s ease; }
          #card .card_content .information .buy .submit:hover {
            background: #ff6a00; }
      #card .card_content .information .options {
        margin-top: 12px; }
        #card .card_content .information .options .option {
          padding-top: 2px;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
          -webkit-justify-content: space-between;
              -ms-flex-pack: justify;
                  justify-content: space-between; }
          #card .card_content .information .options .option .left {
            font: 1.4em "RobotoRegular";
            color: #999999; }
          #card .card_content .information .options .option .right {
            font: 1.4em "RobotoBold"; }
        #card .card_content .information .options .opt6 span,
        #card .card_content .information .options .opt7 span {
          display: inline-block;
          width: 16px;
          height: 11px;
          width: 16px;
          margin-right: 7px; }
        #card .card_content .information .options .opt6 span {
          background: url(../img/honda.png); }
        #card .card_content .information .options .opt7 span {
          background: url(../img/china.png); }
    #card .card_content .delivery {
      border-left: 1px solid #dae2ee;
      margin-top: 15px;
      margin-bottom: 15px; }
      #card .card_content .delivery .delivery_block p {
        font: 1.5em "RobotoBold";
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        padding-bottom: 4px; }
        #card .card_content .delivery .delivery_block p .left {
          display: inline-block;
          background: url(../img/delivery_icon_1.png);
          width: 23px;
          height: 24px;
          margin-right: 9px; }
        #card .card_content .delivery .delivery_block p .right {
          display: inline-block;
          background: url(../img/span_right.png);
          width: 15px;
          height: 14px;
          margin-left: 9px; }
      #card .card_content .delivery .delivery_block .link {
        padding-bottom: 7px; }
      #card .card_content .delivery .delivery_block a {
        font: 1.3em "RobotoRegular";
        color: #004993;
        border-bottom: 1px dashed #004993;
        text-decoration: none; }
    #card .card_content .pay_block p {
      font: 1.5em "RobotoBold";
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      padding-top: 10px; }
      #card .card_content .pay_block p .left {
        display: inline-block;
        background: url(../img/delivery_icon_2.png);
        -webkit-background-size: contain;
                background-size: contain;
        width: 23px;
        height: 24px;
        margin-right: 9px; }
      #card .card_content .pay_block p .right {
        display: inline-block;
        background: url(../img/span_right.png);
        width: 15px;
        height: 14px;
        margin-left: 9px; }
    #card .card_content .pay_block a {
      height: 24px;
      display: block;
      margin-right: 8px; }
    #card .card_content .pay_block .links {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-flow: row wrap;
          -ms-flex-flow: row wrap;
              flex-flow: row wrap;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      margin: 0;
      margin-top: 4px; }
    #card .card_content .pay_block .link1 {
      background: url(../img/pay1.png);
      width: 39px; }
    #card .card_content .pay_block .link2 {
      background: url(../img/pay2.png);
      width: 29px; }
    #card .card_content .pay_block .link3 {
      background: url(../img/pay3.png);
      width: 20px; }
    #card .card_content .pay_block .link4 {
      background: url(../img/pay4.png);
      width: 17px; }
    #card .card_content .pay_block .link5 {
      background: url(../img/pay5.png);
      width: 20px; }
    #card .card_content .pay_block .link6 {
      background: url(../img/pay6.png);
      width: 19px; }
    #card .card_content .pay_block .link7 {
      background: url(../img/pay7.png);
      width: 79px; }
    #card .card_content .pay_block .link8 {
      background: url(../img/pay8.png);
      width: 92px; }
    #card .card_content .guarantee_block p {
      font: 1.5em "RobotoBold";
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      padding-top: 14px; }
      #card .card_content .guarantee_block p .left {
        display: inline-block;
        background: url(../img/delivery_icon_3.png);
        -webkit-background-size: contain;
                background-size: contain;
        width: 23px;
        height: 24px;
        margin-right: 9px; }
      #card .card_content .guarantee_block p .right {
        display: inline-block;
        background: url(../img/span_right.png);
        width: 15px;
        height: 14px;
        margin-left: 9px; }
    #card .card_content .guarantee_block .ul {
      padding-top: 10px; }
      #card .card_content .guarantee_block .ul p {
        font: 1.3em "RobotoRegular";
        padding: 0; }
    #card .card_content .links_guarantee {
      margin-top: 30px; }
      #card .card_content .links_guarantee a {
        display: block;
        border: 1px solid #dae2ee;
        -webkit-border-radius: 7px;
                border-radius: 7px;
        font: 1.6em "RobotoRegular";
        color: #526379;
        text-decoration: none;
        height: 38px;
        width: 90%;
        padding-top: 6px;
        padding-left: 25%;
        margin-bottom: 8px; }
      #card .card_content .links_guarantee .first {
        background: url("../img/services_icon.png") no-repeat;
        background-position: 10% 50%; }
      #card .card_content .links_guarantee .second {
        background: url("../img/clock icon.png") no-repeat;
        background-position: 10% 50%; }
    #card .card_content #tabs {
      padding: 0; }
      #card .card_content #tabs .tab_name {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        border-top: 1px solid #dae2ee;
        border-bottom: 1px solid #dae2ee;
        padding: 0 15px;
        height: 50px;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; }
        #card .card_content #tabs .tab_name .line {
          width: 1px;
          background-color: #dae2ee;
          height: 10px; }
        #card .card_content #tabs .tab_name .tab_item {
          height: 100%;
          cursor: pointer;
          border-bottom: 3px solid transparent; }
          #card .card_content #tabs .tab_name .tab_item p {
            font: 1.8em "RobotoRegular";
            display: block;
            height: 100%;
            padding-top: 11px;
            padding-left: 14px;
            padding-right: 14px; }
        #card .card_content #tabs .tab_name .active {
          border-bottom: 3px solid #ff7500; }
