#hierarchy {
  display: none; }

.active_p {
  border-bottom: 1px solid #ff7519;
  margin-bottom: -1px;
  color: #ff7519; }

.catalog .catalog_content .banner a {
  display: block;
  width: 100%; }
  .catalog .catalog_content .banner a img {
    width: 100%; }

.catalog .catalog_content .about {
  border: 1px solid #dae2ed;
  padding: 18px;
  margin-top: 13px; }
  .catalog .catalog_content .about .tab_name {
    border-bottom: 1px solid #dae2ed;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .catalog .catalog_content .about .tab_name p {
      margin: 0;
      font: 1.8em "RobotoBold";
      margin-right: 47px;
      cursor: pointer;
      padding: 0 15px;
      padding-bottom: 16px;
      line-height: 120%;
      display: block;
      border-bottom: 1px solid transparent; }
  .catalog .catalog_content .about .tab_item .tab_content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 16px; }
    .catalog .catalog_content .about .tab_item .tab_content .block {
      width: 30%; }
      .catalog .catalog_content .about .tab_item .tab_content .block .img img {
        width: 100%; }
  .catalog .catalog_content .about .tab_item .content p {
    font: 1.4em "RobotoBold";
    padding-top: 16px;
    padding-bottom: 10px; }
  .catalog .catalog_content .about .tab_item .content ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    .catalog .catalog_content .about .tab_item .content ul a {
      font: 1.3em "RobotoRegular";
      color: #004b91; }
    .catalog .catalog_content .about .tab_item .content ul li {
      padding-bottom: 5px; }
  .catalog .catalog_content .about .tab_item .line {
    width: 1px;
    height: auto;
    background: #dae2ed; }

.catalog .catalog_content .advant {
  border: 1px solid #dae2ed;
  padding: 18px;
  margin-top: -1px; }
  .catalog .catalog_content .advant .advant_content .title {
    border-bottom: 1px solid #dae2ed; }
    .catalog .catalog_content .advant .advant_content .title p {
      font: 1.8em "RobotoBold";
      padding-bottom: 16px;
      margin: 0; }
  .catalog .catalog_content .advant .advant_content .blocks {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 28px 0;
    padding-bottom: 10px; }
    .catalog .catalog_content .advant .advant_content .blocks .block p.top {
      font: 1.4em "RobotoRegular";
      text-align: center;
      padding-top: 20px; }
      .catalog .catalog_content .advant .advant_content .blocks .block p.top .black {
        font-family: "RobotoBold"; }
      .catalog .catalog_content .advant .advant_content .blocks .block p.top .red {
        color: #ff7519; }
    .catalog .catalog_content .advant .advant_content .blocks .block p.bottom {
      font: 1.2em "RobotoRegular";
      color: #999999;
      text-align: center;
      padding-top: 3px; }
      .catalog .catalog_content .advant .advant_content .blocks .block p.bottom .red {
        color: #ff7519; }
    .catalog .catalog_content .advant .advant_content .blocks .block .img {
      height: 43px; }
    .catalog .catalog_content .advant .advant_content .blocks .block .img1 {
      background: url(../img/advant1.svg) no-repeat center center;
      -webkit-background-size: contain;
              background-size: contain; }
    .catalog .catalog_content .advant .advant_content .blocks .block .img2 {
      background: url(../img/advant2.svg) no-repeat center center;
      -webkit-background-size: contain;
              background-size: contain; }
    .catalog .catalog_content .advant .advant_content .blocks .block .img3 {
      background: url(../img/advant3.svg) no-repeat center center;
      -webkit-background-size: contain;
              background-size: contain; }
    .catalog .catalog_content .advant .advant_content .blocks .block .img4 {
      background: url(../img/advant4.svg) no-repeat center center;
      -webkit-background-size: contain;
              background-size: contain; }

.catalog .catalog_content .shares {
  border: 1px solid #dae2ed;
  padding: 18px;
  margin-top: 19px; }
  .catalog .catalog_content .shares .shares_content .carousel_block {
    overflow: hidden;
    margin: 0 -20px;
    margin-top: 20px; }
  .catalog .catalog_content .shares .shares_content .owl2 {
    margin-left: -1px; }
  .catalog .catalog_content .shares .shares_content .tab_name {
    position: relative;
    border-bottom: 1px solid #dae2ed;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .catalog .catalog_content .shares .shares_content .tab_name p {
      margin: 0;
      font: 1.8em "RobotoBold";
      margin-right: 47px;
      cursor: pointer;
      padding: 0 15px;
      padding-bottom: 16px;
      line-height: 120%;
      display: block;
      margin-bottom: -1px;
      border-bottom: 1px solid transparent; }
    .catalog .catalog_content .shares .shares_content .tab_name .tab_arrows {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      position: absolute;
      right: 0px;
      top: 4px; }
      .catalog .catalog_content .shares .shares_content .tab_name .tab_arrows .line {
        width: 1px;
        height: 10px;
        background: #dae2ee;
        margin: 0 14px; }
      .catalog .catalog_content .shares .shares_content .tab_name .tab_arrows .arrow_left_owl2,
      .catalog .catalog_content .shares .shares_content .tab_name .tab_arrows .arrow_right_owl2 {
        width: 7px;
        height: 13px;
        cursor: pointer; }
      .catalog .catalog_content .shares .shares_content .tab_name .tab_arrows .arrow_left_owl2 {
        background: url(../img/arl.png); }
      .catalog .catalog_content .shares .shares_content .tab_name .tab_arrows .arrow_right_owl2 {
        background: url(../img/arr.png); }
  .catalog .catalog_content .shares .shares_content .tab_item .tab_content1,
  .catalog .catalog_content .shares .shares_content .tab_item .tab_content2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 16px; }
  .catalog .catalog_content .shares .shares_content .tab_item .slide {
    padding: 0 20px;
    border-left: 1px solid #dae2ed;
    border-right: 1px solid #dae2ed;
    margin-right: -1px; }
    .catalog .catalog_content .shares .shares_content .tab_item .slide .title .availability {
      font: 1.2em "RobotoRegular";
      color: #00a453;
      padding-top: 17px; }
    .catalog .catalog_content .shares .shares_content .tab_item .slide .title .name {
      font: 1.4em "RobotoRegular";
      color: #004b91;
      text-decoration: none;
      display: block;
      margin-top: 5px;
      margin-bottom: 8px; }
    .catalog .catalog_content .shares .shares_content .tab_item .slide .options .option {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .catalog .catalog_content .shares .shares_content .tab_item .slide .options .option .left {
        font: 1.2em "RobotoRegular";
        color: #999999;
        line-height: 170%; }
      .catalog .catalog_content .shares .shares_content .tab_item .slide .options .option .right {
        font: 1.4em "RobotoBold"; }
    .catalog .catalog_content .shares .shares_content .tab_item .slide .price {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: end;
      -webkit-align-items: flex-end;
          -ms-flex-align: end;
              align-items: flex-end; }
      .catalog .catalog_content .shares .shares_content .tab_item .slide .price p {
        font: 1.8em "RobotoBold";
        display: block;
        position: relative;
        margin-top: 15px;
        margin-bottom: 0;
        text-decoration: line-through; }
        .catalog .catalog_content .shares .shares_content .tab_item .slide .price p span {
          font: 13px "RobotoRegular";
          position: absolute;
          left: 0;
          top: -1em; }
      .catalog .catalog_content .shares .shares_content .tab_item .slide .price a {
        width: 118px;
        height: 24px;
        background: #ff6a00;
        color: #fff;
        font: 1.3em "RobotoRegular";
        position: relative;
        display: block;
        padding-left: 40px;
        padding-top: 2px;
        text-decoration: none;
        -webkit-border-radius: 3px;
                border-radius: 3px; }
        .catalog .catalog_content .shares .shares_content .tab_item .slide .price a span {
          position: absolute;
          background: url(../img/arr_btn.png) no-repeat center left;
          width: 16px;
          height: 12px;
          display: block;
          left: 10px;
          top: 6px; }
    .catalog .catalog_content .shares .shares_content .tab_item .slide .links {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      padding: 5px 16px;
      background: #f2f6fa;
      margin-top: 10px; }
      .catalog .catalog_content .shares .shares_content .tab_item .slide .links a {
        display: block;
        height: 18px;
        width: 20px; }
      .catalog .catalog_content .shares .shares_content .tab_item .slide .links .icon1 {
        background: url(../img/link_content_1.png) no-repeat center center;
        -webkit-background-size: contain;
                background-size: contain; }
      .catalog .catalog_content .shares .shares_content .tab_item .slide .links .icon2 {
        background: url(../img/link_content_2.png) no-repeat center center;
        -webkit-background-size: contain;
                background-size: contain; }
      .catalog .catalog_content .shares .shares_content .tab_item .slide .links .icon3 {
        background: url(../img/link_content_3.png) no-repeat center center;
        -webkit-background-size: contain;
                background-size: contain; }
      .catalog .catalog_content .shares .shares_content .tab_item .slide .links .icon4 {
        background: url(../img/link_content_4.png) no-repeat center center;
        -webkit-background-size: contain;
                background-size: contain; }
      .catalog .catalog_content .shares .shares_content .tab_item .slide .links .icon5 {
        background: url(../img/link_content_5.png) no-repeat center center;
        -webkit-background-size: contain;
                background-size: contain; }

.catalog .catalog_content .news {
  border: 1px solid #dae2ed;
  padding: 18px;
  margin-top: 19px; }
  .catalog .catalog_content .news .news_content .title {
    border-bottom: 1px solid #dae2ed;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .catalog .catalog_content .news .news_content .title p {
      font: 1.8em "RobotoBold";
      padding-bottom: 16px;
      margin: 0; }
    .catalog .catalog_content .news .news_content .title a {
      display: block;
      font: 1.3em "RobotoRegular"; }
  .catalog .catalog_content .news .news_content .blocks {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 20px; }
    .catalog .catalog_content .news .news_content .blocks .line {
      width: 2px;
      height: auto;
      background: #dae2ed;
      margin: 0 21px; }
    .catalog .catalog_content .news .news_content .blocks .block .img {
      display: block; }
    .catalog .catalog_content .news .news_content .blocks .block img {
      width: 100%;
      height: auto; }
    .catalog .catalog_content .news .news_content .blocks .date {
      font: 1.2em "RobotoRegular";
      color: #999999;
      padding-top: 7px;
      padding-bottom: 3px; }
    .catalog .catalog_content .news .news_content .blocks .link {
      font: 1.4em "RobotoRegular";
      color: #004b91;
      text-decoration: none; }
    .catalog .catalog_content .news .news_content .blocks .txt {
      padding-top: 10px;
      font: 1.4em "RobotoRegular"; }

@media screen and (max-width: 1200px) {
  .catalog .catalog_content .shares .shares_content .tab_item .slide .price a {
    width: 85px;
    padding-left: 10px; }
  .catalog .catalog_content .shares .shares_content .tab_item .slide .price a span {
    display: none; } }

@media screen and (max-width: 992px) {
  .catalog .catalog_content .about .tab_item .tab_content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .catalog .catalog_content .about .tab_item .tab_content .block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: auto;
    margin-bottom: 20px; }
  .catalog .catalog_content .news .news_content .blocks .block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .catalog .catalog_content .news .news_content .blocks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .catalog .catalog_content .about .tab_item .tab_content .block .img {
    width: 40%; }
  .catalog .catalog_content .news .news_content .blocks .block .content {
    padding-left: 15px;
    width: 60%; }
  .catalog .catalog_content .news .news_content .blocks .date {
    padding-top: 0; }
  .catalog .catalog_content .about .tab_item .content {
    width: 60%; }
  .catalog .catalog_content .news .news_content .blocks .block .img {
    width: 40%; }
  .catalog .catalog_content .news .news_content .blocks .line {
    width: 100%;
    height: 1px;
    margin: 20px 0; }
  .catalog .catalog_content .about .tab_item .content {
    padding-left: 15px; }
  .catalog .catalog_content .about .tab_item .content p {
    padding-top: 0; }
  .catalog .catalog_content .about {
    padding-bottom: 0; }
  .catalog .catalog_content .about .tab_name p, .catalog .catalog_content .advant .advant_content .title p {
    font-size: 1.6em;
    margin-right: 0; }
  .catalog .catalog_content .news .news_content .title p {
    font-size: 1.6em; }
  .catalog .catalog_content .advant .advant_content .blocks {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    padding-bottom: 0; }
  .catalog .catalog_content .advant .advant_content .blocks .block {
    width: 50%;
    margin-bottom: 15px; }
  .catalog .catalog_content .shares .shares_content .tab_name p {
    margin-right: 0;
    padding-left: 0; } }

@media screen and (max-width: 478px) {
  .catalog .catalog_content .shares .shares_content .tab_item .slide .price a {
    width: 118px;
    padding-left: 40px; }
  .catalog .catalog_content .shares .shares_content .tab_item .slide .price a span {
    display: block; }
  .catalog .catalog_content .shares .shares_content .tab_name p {
    font-size: 1.6em;
    width: auto; }
  .catalog .catalog_content .shares .shares_content .tab_name {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .catalog .catalog_content .shares .shares_content .tab_name .tab_arrows {
    position: relative; }
  .catalog .catalog_content .advant .advant_content .blocks .block {
    width: 100%;
    margin-bottom: 37px; } }

@media screen and (max-width: 400px) {
  .catalog .catalog_content .about .tab_item .tab_content .block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .catalog .catalog_content .about .tab_item .tab_content .block .img {
    width: 100%; }
  .catalog .catalog_content .about .tab_item .content {
    width: 100%;
    padding-left: 0;
    padding-top: 15px; }
  .catalog .catalog_content .news .news_content .blocks .block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .catalog .catalog_content .news .news_content .blocks .block .img {
    width: 100%; }
  .catalog .catalog_content .news .news_content .blocks .block .content {
    width: 100%;
    padding-left: 0;
    padding-top: 10px; } }
