.category-page-container {
	position: relative;
	z-index: 1;
}
.category-page-content {
  display: flex;
  .page-container {
    width: 100%;
  }
}
.category-head {
  display: flex;
  margin: 0 -7px;
  padding-bottom: 10px;
  .block-category__content {
    flex-shrink: 0;
    height: 135px;
    width: 235px;
    background-color: #2e3653;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .block-category__title {
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.8em;
    position: absolute;
    bottom: 7px;
    left: 10px;
    margin: 0;
    font-weight: normal;
  }
  .block-category__title-product {
  	bottom: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
  	padding: 10px;
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	font: 2.4em "HeliosCondBold";
  	text-align: center;
  	background-color: #ce71aa;
  }
  .block-category__img {
    height: 38%;
  }
  .block-category {
  	padding: 0 7px;
  }
  .block-search {
    width: 100%;
    padding: 0 7px;
  }
  .block-search__content {
    height: 135px;
    background-color: #2e3653;
    padding: 10px 30px;
  }
  .block-search__title {
    text-transform: uppercase;
    color: #fff;
    font: 3em "HeliosCondBold";
  }
  .block-search__form {
    max-width: 540px;
    padding-top: 10px;
  }
  .select-container {
    position: relative;
    &:before {
      content: '';
      display: block;
      position: absolute;
      height: 15px;
      width: 15px;
      background: url("../img/arrow-blue.png");
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .select-container__list {
    border: none;
    cursor: pointer;
    width: 100%;
    height: 46px;
    padding: 0 20px;
    color: #3a3a3a;
    font-weight: bold;
    font: 1.8em "HeliosCondRegular";
    text-transform: uppercase;
    outline: none;
    /*for WebKit*/
    -webkit-appearance: none;
    /* for FF */
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    /* for IE */
    -ms-appearance: none;
    appearance: none !important;
    &:before {
      content: '';
    }
  }
}

.issue-container {
  margin: 0 -10px -15px -10px;
  display: flex;
  flex-wrap: wrap;
}
.issue-block {
  padding: 0 10px;
  margin-bottom: 15px;
  width: 50%;
  &:nth-child(1) {
    .issue-block__title-container .issue-block__link {
      background-color: #97ccde;
    }
  }
  &:nth-child(2) {
    .issue-block__title-container .issue-block__link {
      background-color: #9bcdc1;
    }
  }
  &:nth-child(3) {
    .issue-block__title-container .issue-block__link {
      background-color: #ce71aa;
    }
  }
  &:nth-child(4) {
    .issue-block__title-container .issue-block__link {
      background-color: #cc6945;
    }
  }
  &:nth-child(5) {
    .issue-block__title-container .issue-block__link {
      background-color: #dfbf65;
    }
  }
  &:nth-child(6) {
    .issue-block__title-container .issue-block__link {
      background-color: #a9a294;
    }
  }
  &:nth-child(7) {
    .issue-block__title-container .issue-block__link {
      background-color: #7178b7;
    }
  }
  &:nth-child(8) {
    .issue-block__title-container .issue-block__link {
      background-color: #a7bd56;
    }
  }
  &__content {
    display: flex;
  }
  &__title-container {
    height: 135px;
    width: 135px;
    flex-shrink: 0;
    box-sizing: content-box;
    padding-right: 20px;
  }
  &__link {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
    height: 100%;
    width: 100%;
    padding: 10px;
    &:hover {
    	opacity: 0.9;
    }
  }
  &__title {
    color: #fff;
    font: 1.4em "HeliosCondBold";
    text-align: center;
  }
  &__text {
    color: #2e3653;
    font-size: 1.8rem;
    line-height: 140%;
    margin-top: -0.2em;
  }
}

.aside-links  {
	margin-top: 3px;
	.tile_type_1 {
		width: 100%;
		img {
			height: 25% !important;
		}
		.block_content {
			background-color: #2e3653;
		}
	}
}

.info-container {
	display: flex;
	margin: 0 -7px;
}
.short-block {
	padding: 0 7px;
	&__content {
    width: 235px;
	}
	&__affiliation-section {
		padding-bottom: 10px;
	}
}

.affiliation-section {
	display: flex;
	margin: 0 -2px;
	&__item {
		padding: 0 2px;
		width: 25%;
		&:nth-child(1) .affiliation-section__item-container {
      background-color: #ff7d7d;
		}
		&:nth-child(2) .affiliation-section__item-container {
      background-color: #e78d23;
		}
		&:nth-child(3) .affiliation-section__item-container {
      background-color: #a8a3a3;
		}
		&:nth-child(4) .affiliation-section__item-container {
      background-color: #027cb5;
		}
	}
	&__item-container {
		position: relative;
		background-color: #027cb5;
		&:before {
			content: '';
      display: block;
      padding-top: 100%;
      position: relative;
      z-index: 1;
		}
	}
	&__img {
		position: absolute;
		z-index: 2;
		height: 30%;
		width: auto;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}
.additionally-section {
	font: 1.4em "OpenSansRegular";
	font-weight: bold;
	&__item {
		display: block;
	}
}

.text-block {
	padding: 0 7px;
	font: 1.8em "OpenSansRegular";
	&__item {
		margin-top: -0.3em;
		&:last-child {
			margin-bottom: 0;
		}
	}
}

// ≥992px
@media screen and (max-width: 992px) {
	.issue-block {
		width: 100%;
	}
	.category-head .select-container__list {
		font-size: 1.6em;
		height: 36px;
	}
	.category-head {
		flex-wrap: wrap;
	}
	.category-head .block-category {
		order: 2;
		width: 100%;
	}
	.category-head .block-category__content {
		width: 100%;
	}
	.category-head .block-search {
		padding-bottom: 10px;
	}
	.info-container {
		flex-wrap: wrap;
	}
	.info-container__short-block {
		padding-bottom: 20px;
		width: 100%;
	}
	.short-block__content {
		width: 100%;
	}
	.affiliation-section__item {
		width: 10%;
	}
	.additionally-section__item {
		display: inline-block;
		margin-right: 15px;
	}
}

@media screen and (max-width: 768px) {
	.category-page-content {
		display: block;
	}
	.aside-links .tile_type_1 {
		width: 25%;
	}
}
@media screen and (max-width: 576px) {
  .aside-links .tile_type_1 {
		width: 50%;
	}
	.category-head .block-category,
	.category-head .block-search {
		width: 100%;
		flex-shrink: 1;
	}
	.category-head .block-category__content {
		width: 100%;
	}
	.category-head {
		flex-wrap: wrap;
	}
	.category-head .block-search__content {
		height: auto;
		padding: 20px;
	}
	.category-head .block-search__title {
		font-size: 2em;
	}
	.issue-block__text {
		font-size: 1.4em;
	}
	.issue-block__title-container {
		width: 100px;
		height: 100px;
		padding-right: 10px;
	}
	.affiliation-section__item {
		width: 25%;
	}
	.text-block {
		font-size: 1.4em;
	}
	.category-head .block-category__content {
		height: 120px;
	}
	.category-head .select-container__list {
		padding: 0 10px;
	}
}