.shadow {
    a {
        box-shadow: 0px 0px 16px -1px rgba(122, 122, 122, 1);
    }
}

.main-page-content {
    display: flex;
}

.tile1 {
    background-color: #ff7d7d;
}
.tile2 {
    background-color: #e78d23;
}
.tile3 {
    background-color: #a8a3a3;
}
.tile4 {
    background-color: #027cb5;
}
.tile5 {
    background-color: #a81818;
}
.tile6 {
    background-color: #0d7483;
}
.tile7 {
    background-color: #913737;
}
.tile8 {
    background-color: #1c488a;
}
.tile9 {
    background-color: #9b1b8d;
}
.tile10 {
    background-color: #2c9242;
}
.tile11 {
    background-color: #2e3653;
}
.page-container {
    margin: -7px 0;
    width: 100%;
}

.top-categories {}

.tile_type_1,
.tile_type_3 {
    width: 25%;
    padding: 7px;
    box-sizing: border-box;
    .block_content {
        position: relative;
        &:before {
            content: '';
            display: block;
            padding-top: 100%;
        }
        a {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            top: 0;
            img {
                height: 30%;
                width: auto;
            }
            .title {
                text-transform: uppercase;
                color: #fff;
                font-size: 1.8em;
                position: absolute;
                bottom: 7px;
                left: 10px;
            }
        }
    }
}

.tile_type_2 {
    width: 50%;
    padding: 7px;
    box-sizing: border-box;
    .block_content {
        position: relative;
        &:before {
            content: '';
            display: block;
            padding-top: 100%;
        }
        a {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            top: 0;
            .title {
                text-transform: uppercase;
                color: #fff;
                text-align: center;
                display: block;
                font-size: 1.8em;
                position: absolute;
                bottom: 7px;
                left: 0;
                width: 100%;
            }
        }
    }
}

.tile_type_3 {
    width: 100%;
    height: 50%;
    .block_content {
        height: 100%;
    }
    .block_content:before {
        display: none;
    }
}

.parent_container {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.block_slider {
    width: 75%;
    padding: 7px;
    box-sizing: border-box;
    .slider_container {
        width: 100%;
        height: 100%;
        position: relative;
    }
    a {
        display: block;
        width: 100%;
        height: 100%;
        position: relative;
        img {
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
        }
    }
}


//media
@media screen and (max-width: 1280px) {
    .tile_type_1 {
        width: 33.333%;
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4) {
            width: 25%;
        }
    }
    .parent_container {
    	width: 50%;
    }
    .block_slider {
        width: 100%;
        box-sizing: border-box;
        .slider_container {
            position: relative;
            &:before {
                content: '';
                display: block;
                padding-top: 25%;
            }
            height: 100%;
            width: 100%;
            a {
            	position: absolute;
            	width: 100%;
            	height: 100%;
            	top: 0;
            }
        }
    }

}

// ≥992px
@media screen and (max-width: 992px) {
	.tile_type_1 {
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4) {
            width: 50%;
        }
        &:nth-child(6),
        &:nth-child(7),
        &:nth-child(8),
        &:nth-child(9),
        &:nth-child(10) {
            .block_content a .title {
            	font-size: 1.2rem;
            }
        }
    }
}

// ≥768px
@media screen and (max-width: 768px) {
    .main-page-content {
        display: block;
    }
    .block_slider {
    	width: 66.666%;
    }
    .tile_type_1 {
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4) {
            width: 33.333%;
        }
      }
}

// ≥576px
@media screen and (max-width: 576px) {
	.block_slider {
    	width: 100%;
    	.slider_container:before {
    		padding-top: 50%;
    	}
    }
    .tile_type_1 {
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4) {
            width: 50%;
            .block_content a .title {
            	font-size: 1.6rem;
            }
        }
        &:nth-child(6),
        &:nth-child(7),
        &:nth-child(8) {
        	width: 50%;
        }
        &:nth-child(10) {
        	width: 100%;
        	.tile_type_2 {
        		width: 25%;
        	}
        }
        &:nth-child(9), &:nth-child(10) {
        	.block_content a .title {
        		font-size: 1.1rem;
        	}
        }
    }
}