#home {
    position: relative;
    z-index: 2;
    height: 100%;
    .container {
        height: 100%;
    }
}

.bg_page_home {
    width: 100%;
    height: 100%;
    position: absolute;
    background: url(../img/bg_dop_page.jpg) no-repeat center center;
    background-size: cover;
}

#home {
    .container {
        position: relative;
        height: 100%;
        .home_page {
            height: 100%;
            position: relative;
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            justify-content: center;
            .bg {
                position: absolute;
                z-index: 1;
                width: 105%;
                left: -2.5%;
                height: 100%;
                background: url(../img/bg_logo.png) no-repeat center center;
                background-size: contain;
            }
            .top_section {
                width: 100%;
                position: relative;
                padding-top: 60em;
                z-index: 2;
                display: flex;
                justify-content: center;
                width: 100%;
                 .left_item, .right_item {
                    margin: 0 20em;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                       h5 {
                        font: 8em "BebasNeueBold";
                        color: #fff;
                        letter-spacing: 0.5em;
                        text-align: center;
                        padding-bottom: 0.4em;
                        padding-left: 0.5em;
                       }
                       .item_content {
                        display: flex;
                            .block {
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: space-between;
                                margin: 0 6em;
                                .top {
                                    display: block;
                                }
                                .top1 {
                                    background: url(../img/left_item_1.jpg) no-repeat center center;
                                    background-size: contain;
                                    width: 29.6em;
                                    height: 29.6em;
                                }
                                .top2 {
                                    background: url(../img/left_item_2.jpg) no-repeat center center;
                                    background-size: contain;
                                    width: 22.5em;
                                    height: 30.1em;
                                }
                                .top3 {
                                     background: url(../img/right_item_1.jpg) no-repeat center center;
                                     background-size: contain;
                                     width: 33.8em;
                                     height: 22.9em;
                                }
                                .top4 {
                                     background: url(../img/right_item_2.jpg) no-repeat center center;
                                     background-size: contain;
                                     width: 41.3em;
                                     height: 24.3em;
                                }
                                p {
                                    font: 4.25em "BebasNeueBook";
                                    color: #fff;
                                    padding-top: 1em;
                                    padding-bottom: 0.1em;
                                }
                                .bottom {
                                    font: 2.8em "RobotoRegular";
                                    color: #999999;
                                    text-decoration: underline;
                                }
                            }
                       }
                 }
                 .right_item .item_content .block p {
                       padding-top: 1.8em;
                 }
            }
            .center_section {
                position: relative;
                z-index: 2;
                h5 {
                    font: 8em "BebasNeueBold";
                    color: #fff;
                    letter-spacing: 0.5em;
                    padding-top: 0.4em;
                    padding-bottom: 0.1em;
                    text-align: center;
                }
                .content_center {
                    display: flex;
                    justify-content: center;
                    .block {
                        max-width: 42.3em;
                        margin: 0 1.4em;
                        display: flex;
                        flex-direction: column;
                            .top {
                                display: block;
                                width: 42.3em;
                                height: 23.8em;
                            }
                            .top1 {
                                background: url(../img/center1.jpg) no-repeat;
                                background-size: cover;
                            }
                            .top2 {
                                background: url(../img/center2.jpg) no-repeat;
                                background-size: cover;
                            }
                            .top3 {
                                background: url(../img/center3.jpg) no-repeat;
                                background-size: cover;
                            }
                            .top4 {
                                background: url(../img/center4.jpg) no-repeat;
                                background-size: cover;
                            }
                            .top5 {
                                background: url(../img/center5.jpg) no-repeat;
                                background-size: cover;
                            }
                            .top6 {
                                background: url(../img/center6.jpg) no-repeat;
                                background-size: cover;
                            }
                            p {
                                font: 4.25em "BebasNeueBook";
                                color: #fff;
                                padding-top: 1em;
                                span {
                                    font-family: "BebasNeueRegular";
                                }
                            }
                            .bottom {
                                    font: 2.8em "RobotoRegular";
                                    color: #999999;
                                    text-decoration: underline;
                                }
                    }
                }
            }
            .bottom_section {
                position: relative;
                z-index: 2;
                align-self: flex-end;
                padding-bottom: 5em;
                .top {
                    font: 4.95em "BebasNeueLight";
                    color: #fff;
                    letter-spacing: 0.125em;
                    padding-left: 1em;
                    .span2 {
                      font-family: "BebasNeueBook";
                    }
                    .span3 {
                      font-family: "BebasNeueRegular";
                    }
                }
                .bottom {
                    font: 9.5em "BebasNeueBook";
                    color: #fff;
                    letter-spacing: 0.15em;
                }
            }
        }
    }
}

@media screen and (max-width: 9999px) {
    #home .container, html {
        min-height: 2092px;
    }
}

@media screen and (max-width: 3500px) {
    #home .container, html{
        min-height: 1260px;
    }
}

@media screen and (max-width: 2260px) {
    #home .container, html {
        min-height: 996px;
    }
}

@media screen and (max-width: 1680px) {
    #home .container, html {
        min-height: 630px;
    }
    #home .container {
        font-size: 2.5px;
    }
    #home .container .home_page .top_section .left_item .item_content .block p, #home .container .home_page .top_section .right_item .item_content .block p {
    font-size: 6em;
    padding-top: 0.4em;
    padding-bottom: 0.1em;
}
#home .container .home_page .top_section .left_item .item_content .block .bottom, #home .container .home_page .top_section .right_item .item_content .block .bottom {
    font-size: 3.5em;
}
#home .container .home_page .top_section .left_item h5, #home .container .home_page .top_section .right_item h5 {
    padding-bottom: 0.4em;
}
#home .container .home_page .center_section .content_center .block p {
    font-size: 6em;
}
#home .container .home_page .center_section .content_center .block {
    max-width: 15%;
}
#home .container .home_page .center_section .content_center .block {
    align-items: center;
}
#home .container .home_page .center_section .content_center .block p {
    text-align: center;
    padding-top: 0.5em;
}
#home .container .home_page .center_section .content_center .block .bottom {
    font-size: 3.5em;
}
}

@media screen and (max-width: 1365px) {
  #home .container, html {
        min-height: 657px;
    }
    #home .container .home_page .bg {
        width: 95%;
        left: 2.5%;
    }
    #home .container .home_page .top_section .left_item h5, #home .container .home_page .top_section .right_item h5 {
        font-size: 6em;
        padding-bottom: 0em;
    }
    #home .container .home_page .center_section h5 {
        font-size: 6em;
        padding-bottom: 0em;
    }
    #home .container .home_page .center_section .content_center .block {
        width: 30%;
    }
    #home .container .home_page .center_section .content_center {
        flex-flow: row wrap;
    }
}

@media screen and (max-width: 1023px) {
    #home .container, html {
        min-height: 1100px;
    }
    #home .container .home_page .top_section .left_item .item_content .block, #home .container .home_page .top_section .right_item .item_content .block {
        text-align: center;
    }
    
    #home .container .home_page .top_section .left_item, #home .container .home_page .top_section .right_item {
        margin: 0;
    }
    #home .container .home_page .top_section {
        font-size: 1.5em;
        padding-top: 40em;
    }
    #home .container .home_page .center_section {
        font-size: 1.5em;
    }
    #home .container .home_page .center_section .content_center .block {
        max-width: 1000px !important;
        margin-bottom: 5em;
    }
}

@media screen and (max-width: 767px) {
    #home .container, html {
        min-height: 760px;
    }
    #home .container .home_page .top_section .left_item .item_content .block, #home .container .home_page .top_section .right_item .item_content .block {
        margin: 0 3em;
    }
}

@media screen and (max-width: 567px) {
    #home .container, html {
        min-height: 568px;
    }
    body {
        height: auto;
    }
    #home .container .home_page .top_section {
        flex-direction: column;
    }
    #home .container .home_page .top_section .left_item .item_content .block, #home .container .home_page .top_section .right_item .item_content .block {
        width: 40%;
        max-width: 1000px;
    }
    #home .container .home_page .top_section .left_item .item_content, #home .container .home_page .top_section .right_item .item_content {
        justify-content: center;
        padding-bottom: 5em;
    }
    #home .container .home_page .top_section .left_item h5, #home .container .home_page .top_section .right_item h5 {
        padding-bottom: 1em;
    }
    #home .container .home_page .center_section .content_center .block {
        width: 40%;
    }
    #home .container .home_page .bottom_section {
        padding-top: 10em;
    }
    #home .container .home_page .center_section h5 {
        padding-bottom: 1em;
    }
    #home .container .home_page .bottom_section {
        font-size: 2em;
    }
    #home .container .home_page .bg {
        display: none;
    }
}

@media screen and (max-width: 400px) {
    #home .container .home_page .center_section .content_center .block {
        width: 80%;
    }
    #home .container .home_page .center_section .content_center .block .top {
        width: 84.6em;
        height: 47.6em;
    }
    #home .container {
        font-size: 2.2px;
    }
    #home .container .home_page .top_section {
        padding-top: 30em;
    }
    }

@media screen and (max-height: 568px) {
    
    }

