body {
    font-size: 10px;
    min-width: 320px;
}

.body_active {
    overflow: hidden;
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#wrapper {
    overflow: hidden;
}

.map {
    .map_container {
        margin: 10px 0;
        padding: 0 130px;
        position: relative;
        &:after {
            content: '';
            display: block;
            position: absolute;
            height: 430px;
            width: 300px;
            right: 0;
            top: 50%;
            transform: translate(100%, -50%);
            background: url(../img/bg_item1.png) no-repeat;
            background-size: contain;
        }
        .map {
            height: 380px;
            position: relative;
            &:before,
            &:after {
                content: '';
                display: block;
                height: 75px;
                width: 75px;
                position: absolute;
                background-color: #ff0089;
            }
            &:before {
                left: -2px;
                bottom: -2px;
            }
            &:after {
                right: -3px;
                top: -3px;
            }
        }
        .decoration {
            display: block;
            width: 392px;
            height: 285px;
            position: absolute;
            transform: translateX(-100%);
            left: 77px;
            top: 15%;
            z-index: 3;
            background: url(../img/map_decoration.png) no-repeat;
            background-size: contain;
        }
        iframe {
            width: 100%;
            height: 100%;
            position: relative;
            z-index: 2;
            border: 1px solid #959595;
        }
    }
}
.more_crystal {
    display: flex;
    justify-content: center;
    margin: 35px 0;
    margin-right: 20px;
    position: relative;
    z-index: 2;
    a {
        font: 1.8em "SupermolotLight";
        letter-spacing: 0.2em;
        text-decoration: none;
        color: #959595;
        position: relative;
        text-transform: uppercase;
        border-bottom: 1px solid #959595;
        &:after {
            content: '';
            height: 24px;
            position: absolute;
            right: -3px;
            top: 0;
            transform: translateX(100%);
            width: 24px;
            display: block;
            background: url(../img/icons/title_copy.png) no-repeat;
            background-size: contain;
        }
    }
}
.main-page {
    position: relative;
    z-index: 1;
    padding: 75px 0;
}

.socials_block {
        position: absolute;
        right: 15px;
        top: 0;
        display: flex;
        a {
            display: block;
            width: 30px;
            height: 30px;
            margin-right: 10px;
            &:last-child {
                margin-right: 0;
            }
        }
        .insta_icon {
            background: url(../img/icons/instagram.png) no-repeat center center;
            background-size: contain;
        }
        .facebook_icon {
            background: url(../img/icons/facebook.png) no-repeat center center;
            background-size: contain;
        }
        .vk_icon {
            background: url(../img/icons/vk.png) no-repeat center center;
            background-size: contain;
        }
    }

.fixed_btn {
    position: fixed;
    height: 100px;
    width: 100px;
    display: block;
    z-index: 1000;
    bottom: 0;
    right: 0;
    background: url(../img/fixed_icon.png) no-repeat;
    background-size: contain;
}

header {
    padding: 15px 0;
    position: relative;
    z-index: 1000;
    .container {
        position: relative;
        height: 51px;
        //background-color: rgba(0, 0, 0, 0.1);
    }
    .main_number {
        position: absolute;
        left: 15px;
        top: -2px;
        font: 2em "SupermolotThin";
        color: #8e8e8e;
        text-decoration: none;
        i {
            display: none;
        }
    }
    .header_title {
        position: absolute;
        right: 13%;
        top: 5px;
        font: 1em "SupermolotRegular";
        letter-spacing: 1.5em;
        margin-right: -1.5em;
        color: #ff028a;
    }
    .header_content {
        position: absolute;
        height: 100%;
        left: 50%;
        transform: translateX(-50%);
    }
    .left_section,
    .right_section {
        position: absolute;
    }
    ul {
        display: flex;
        li {
            margin-right: 20px;
            &:last-child {
                margin: 0;
            }
        }
        a {
            color: #8e8e8e;
            line-height: 70%;
            white-space: nowrap;
            text-transform: uppercase;
            font: 1.6em "SupermolotLight";
            text-decoration: none !important;
            border-bottom: 1px solid transparent;
            transition: .3s ease;
        }
    }
    .left_section {
        left: -20px;
        transform: translateX(-100%);
        bottom: -3px;
    }
    .right_section {
        right: -20px;
        transform: translateX(100%);
        bottom: -3px;
    }
    a.main_logo {
        display: block;
        img {
            width: 185px;
            height: 100px;
        }
    }
}

footer {
    .right_section {
        width: 40%;
        display: flex;
        justify-content: space-between;
        padding-top: 40px;
        .tel_number {
                font: 2.2em "SupermolotThin";
                text-decoration: none;
                color: #212529;
                line-height: 70%;
            }
        .socials_block {
            position: relative;
            right: 0;
            justify-content: center;
            margin-top: 20px;
        }
        .mobile {
            display: flex;
            height: 40px;
            a {
                height: 100%;
                &:first-child {
                    margin-right: 10px;
                }
            }
            img {
                height: 100%;
                width: auto;
                display: block;
            }
        }
    }
    .footer_content {
        display: flex;
        border-top: 2px solid #949494;
        padding: 25px 0;
    }
    .footer_logo {
        display: block;
        width: 100%;
        img {
            width: 100%;
            height: auto;
        }
    }
    .left_section {
        padding-right: 40px;
        width: 37%;
        position: relative;
        &:after {
            content: 'ЛАБОРАТОРИЯ УЛЫБОК';
            position: absolute;
            white-space: nowrap;
            transform: translateX(100%);
            right: 35%;
            top: 3px;
            letter-spacing: 2.5em;
            margin-right: -1.5em;
            color: rgb(255, 2, 138);
            font: 1em "SupermolotRegular";
        }
    }
    .copy {
        color: #959595;
        display: inline-block;
        text-transform: uppercase;
        font: 1.8em "SupermolotLight";
        margin-top: 20px;
        span {
            font-size: 12px;
            text-transform: lowercase;
        }
    }
    .center_section {
        width: 23%;
        padding-right: 40px;
        display: flex;
        justify-content: space-between;
        padding-top: 40px;
    }

    .nav_left,
    .nav_right {
        padding-top: 10px;
        position: relative;
        &:before {
           content: '';
           position: absolute;
           top: 0;
           display: block;
           width: 70%;
           height: 2px;
           background-color: #949494;
        }
    }

    .nav_left li,
    .nav_right li {
        padding: 4px 0;
        a {
            color: #8e8e8e;
            line-height: 100%;
            white-space: nowrap;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            font: 1.2em "SupermolotLight";
            text-decoration: none !important;
            transition: .3s;
        }
    }
}

.sub {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
    top: 0;
    left: 0;
    display: none;
}

.nav-btn {
    display: none;
    position: absolute;
    right: 15px;
    bottom: 0;
    z-index: 1000;
    a {
        display: block;
        position: relative;
        height: 17px;
        width: 25px;
        box-sizing: border-box;
        transition: .3s ease;
        span {
            display: block;
            height: 3px;
            width: 100%;
            background-color: #949494;
            position: absolute;
            top: 7px;
            transition: .3s ease;
            border-radius: 1px;
        }
        &::before {
            display: block;
            content: "";
            height: 3px;
            width: 100%;
            background-color: #949494;
            position: absolute;
            transition: .3s ease;
            top: 0;
            border-radius: 1px;
        }
        &::after {
            display: block;
            content: "";
            height: 3px;
            width: 100%;
            background-color: #949494;
            position: absolute;
            bottom: 0;
            transition: .3s ease;
            border-radius: 1px;
        }
    }
    .a_active {
        &::before {
            transform: rotate(45deg);
            top: 6px;
            width: 26px;
            background: #fff;
        }
        &::after {
            transform: rotate(-45deg);
            bottom: 8px;
            width: 26px;
            background: #fff;
        }
        span {
            background-color: transparent !important;
        }
    }
}

.mobile_nav_block {
    position: fixed;
    left: 0;
    transform: translateX(-100%);
    transition: .3s;
    z-index: 2;
    height: 100vh;
    width: 250px;
    top: 0;
    background-color: #fff;
    padding: 20px 15px;
    ul {
        display: block;
    }
    li {
        margin: 0;
    }
    a {
        padding: 10px 10px;
        display: block;
    }
}

.nav_active {
        transform: translateX(0) !important;
    }

@media screen and (min-width: 1025px) {
    header ul a:hover {
        color: #ff028a;
        border-color: #ff028a;
    }
    footer .nav_left li a:hover, footer .nav_right li a:hover {
        color: #ff028a;
    }
    .nav-btn a:hover {
        span, &:after, &:before {
            background-color: #000;
        }
    }
}


@media screen and (min-width: 1025px) {
    .links_block a:hover,
    .crystal_labs .arrow_right:hover,
    .crystal_labs .arrow_left:hover,
    .arrow_right_brands:hover,
    .arrow_left_brands:hover {
        opacity: 1;
    }
    .more_crystal a:hover,
    .btn:hover {
        color: #000 !important;
    }
}

@media screen and (max-width: 1230px) {
   header .header_title {
    display: none;
   }
   header .right_section, header .left_section {
    display: none;
   }
   .nav-btn {
    display: inline-block !important;
   }
   .socials_block {
     display: none;
   }
   header .main_number {
    bottom: 0;
    top: auto;
   }
   footer .left_section {
        width: 30%;
    }
    footer .right_section .mobile {
        display: block;
        height: auto;
        width: 45%;
        padding-left: 20px;
    }
    footer .right_section .mobile a {
        margin-top: 10px;
        display: block;
        height: auto;
        &:first-child {
            margin-right: 0;
            margin: 0;
        }
    }
    footer .right_section .mobile img {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 992px) {
    footer .center_section {
        width: auto;
    }
    footer .right_section .mobile {
        display: flex;
        width: 100%;
        padding: 0;
        margin-bottom: 10px;
    }
    footer .right_section .tel_number {
        font-size: 2em;
    }
    footer .right_section .mobile a {
        margin: 0;
        padding: 0 5px;
    }
    footer .left_section {
        width: auto;
    }
    footer .right_section {
        display: block;
    }
}

@media screen and (max-width: 768px) {
    .main-page {
        padding: 30px 0;
    }
   header a.main_logo img {
    width: 120px;
    height: auto;
   }
   .nav-btn, header .main_number {
    top: 50%;
    bottom: auto;
    transform: translateY(-50%);
    font-size: 1.8em;
   }
   .nav-btn a::after, .nav-btn a::before, .nav-btn a span {
     height: 2px;
   }
   .nav-btn a {
    height: 16px;
   }
   footer .left_section:after {
        letter-spacing: 1em;
    }
    footer .left_section {
        width: 50%;
        padding: 0;
    }
    footer .center_section {
        padding: 0;
        width: 50%;
        padding-left: 20px;
    }
    footer .left_section:after {
        display: none;
    }
    footer .right_section {
        display: flex;
        width: 100%;
    }
    footer .right_section .mobile {
        width: 40%;
        margin: 0 -5px;
    }
    footer .footer_content {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 576px) {
    .main-page {
        padding-top: 20px;
    }
    footer .left_section {
        width: 100%;
    }
    footer .center_section {
        padding: 0;
        margin-top: 20px;
        width: 100%;
    }
    footer .copy span {
        font-size: 14px;
    }
    .fixed_btn {
        height: 75px;
        width: 75px;
    }
    footer .nav_right {
        a {
            display: block;
            text-align: right;
        }
    }
    footer .right_section .mobile {
        width: 120px;
        display: block;
        a:first-child {
            margin-bottom: 10px;
        }
    }
    footer .right_section {
        padding-top: 20px;
        justify-content: flex-start;
        align-items: center;
    }
    footer .right_section .tel_number {
        padding-left: 10px;
    }
    footer .copy {
        br {
            display: none;
        }
    }
   header .main_number  {
    font-size: 0em;
    i {
        display: inline-block;
        font-size: 18px;
        color: #949494;
    }
   }
}