.main-page {
    position: relative;
    z-index: 1;
    padding-bottom: 100px;
}

.arrow_right,
.arrow_left,
.arrow_right_brands,
.arrow_left_brands {
    display: block;
    position: absolute;
    height: 52px;
    width: 27px;
    background: url(../img/icons/arrow.png) no-repeat;
    background-size: contain;
    top: 24%;
    opacity: 0.7;
    cursor: pointer;
}
.arrow_left,
.arrow_left_brands {
    left: 0;
}
.arrow_right,
.arrow_right_brands {
    right: 0;
    transform: rotate(180deg);
}

.title_section {
    display: flex;
    position: relative;
    z-index: 3;
    justify-content: center;
    .title {
        font: 4.5em "SupermolotThin";
        text-transform: uppercase;
        letter-spacing: 0.6em;
        padding-left: 0.6em;
        position: relative;
        color: #e60075;
        margin-bottom: 0.65em;
        span {
            color: #949494;
            position: relative;
            &:after {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                width: 20px;
                height: 20px;
                background: url(../img/icons/title_copy.png) no-repeat;
                background-size: contain;
            }
        }
        &:before,
        &:after {
            content: '';
            display: block;
            height: 3px;
            width: 110px;
            position: absolute;
            top: 50%;
            margin-top: -1px;
        }
        &:before {
            background-color: #a2a2a2;
            left: 0;
            transform: translateX(-100%);
        }
        &:after {
            background-color: #e60075;
            right: 0;
            transform: translateX(100%);
        }
    }
}
.title_desription {
    position: relative;
    z-index: 3;
    p {
        text-align: center;
        color: #939598;
        font: 1.5em "SupermolotLight";
        line-height: 130%;
        margin-bottom: 0.15em;
        span {
            position: relative;
            font-family: "SupermolotRegular";
            padding-right: 1em;
            &:after {
                content: '';
                display: block;
                position: absolute;
                right: 0;
                top: 0;
                width: 11px;
                height: 11px;
                background: url(../img/icons/title_copy.png) no-repeat;
                background-size: contain;
            }
        }
    }
    .post_txt {
        color: #f11f83;
        display: block;
        font-size: 1.5em;
        text-align: center;
        letter-spacing: 0.05em;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        &:after {
            content: '';
            height: 25px;
            width: 25px;
            display: block;
            background: url(../img/icons/map_item.png) no-repeat;
            background-size: contain;
            margin-top: 6px;
        }
    }
}

.slick-dots {
    bottom: 33px;
    z-index: 10;
    width: auto;
    left: 50%;
    transform: translateX(-50%);
    margin-left: 106px;
    z-index: 4;
}
.slick-dots li {
    width: 25px;
    height: 25px;
    margin: 0 14px;
}
.slick-dots li button {
    width: 100%;
    height: 100%;
}
.slick-dots li button:before {
    width: 100%;
    height: 100%;
    border-radius: 0;
    background: url(../img/icons/pagg.png) no-repeat;
    background-size: contain;
}
.slick-dots li.slick-active button:before {
    background: url(../img/icons/pagg_active.png) no-repeat;
    background-size: contain;
}

.top_banner {
    margin-top: 75px;
    .container {
        position: relative;
    }
    .banner_slider {
        margin-bottom: 0;
        z-index: 2;
    }
    .decoration_item1 {
        display: block;
        position: absolute;
        z-index: 3;
        width: 250px;
        height: 120px;
        bottom: -15px;
        left: -130px;
        background: url(../img/banner/banner_decoration1.png) no-repeat center center;
        background-size: contain;
    }
    .decoration_item2 {
        display: block;
        position: absolute;
        z-index: 3;
        left: -45px;
        top: -50px;
        height: 500px;
        width: 420px;
        background: url(../img/banner/banner_decoration3.svg) no-repeat;
        background-size: contain;
        opacity: 0.5;
    }
    .txt {
        position: absolute;
        display: block;
        bottom: -0.5em;
        padding-left: 0.35em;
        left: 50%;
        color: #ef3e80;
        font: 5em "SupermolotThin";
        z-index: 1;
        white-space: nowrap;
    }
    .decoration_item3 {
        display: block;
        position: absolute;
        z-index: 3;
        right: 40px;
        top: 0;
        height: 195px;
        width: 600px;
        background: url(../img/banner/banner_decoration4.svg) no-repeat;
        background-size: contain;
        opacity: 0.5;
    }
    .decoration_item4 {
        display: block;
        position: absolute;
        z-index: 3;
        top: -20px;
        height: 90%;
        left: 0%;
        width: 95%;
        background: url(../img/banner/banner_decoration4.png) no-repeat;
        background-size: contain;
    }
    .logo_banner {
        display: block;
        position: absolute;
        z-index: 4;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 700px;
        height: 385px;
        margin-left: 10px;
        background: url(../img/banner/logo_banner.png) no-repeat;
        background-size: contain;
        opacity: 0.7;
    }
    .banner_slider {
        position: relative;
        z-index: 1;
        clip-path: polygon(0% 0%, 48% 0, 50% 4%, 52% 0, 99% 0, 95% 9%, 100% 9%, 100% 96%, 52% 96%, 50% 100%, 48% 96%, 8% 96%, 0 80%);
    }
    .slide {
        .img_block {
            display: block;
            overflow: hidden;
            position: relative;
            height: 525px;
        }
        img {
            position: absolute;
            width: 100%;
            height: auto;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

.links_block {
    padding-top: 60px;
    padding-bottom: 50px;
    ul {
        display: flex;
        justify-content: center;
    }
    li {
        width: 100px;
        margin: 0 10px;
    }
    a {
        font: 2em "CranberryCyr";
        text-transform: uppercase;
        color: #000;
        white-space: nowrap;
        display: block;
        text-align: center;
        text-decoration: none;
        opacity: 0.9;
        &:before {
            content: '';
            display: block;
            margin: 0 auto;
            width: 40px;
            height: 40px;
            margin-bottom: 4px;
            display: block;
        }
    }
    .link1 {
        &:before {
            background: url(../img/icons/link1.png);
            background-size: contain;
        }
    }
    .link2 {
        &:before {
            background: url(../img/icons/link2.png);
            background-size: contain;
        }
    }
    .link3 {
        &:before {
            background: url(../img/icons/link3.png);
            background-size: contain;
        }
    }
    .link4 {
        &:before {
            background: url(../img/icons/link4.png);
            background-size: contain;
        }
    }
    .link5 {
        &:before {
            background: url(../img/icons/link5.png);
            background-size: contain;
        }
    }
}

.map {
    .more_crystal {
        display: flex;
        justify-content: center;
        margin: 35px 0;
        a {
            font: 1.8em "SupermolotLight";
            letter-spacing: 0.2em;
            text-decoration: none;
            color: #959595;
            position: relative;
            text-transform: uppercase;
            border-bottom: 1px solid #959595;
            &:after {
                content: '';
                height: 24px;
                position: absolute;
                right: -3px;
                top: 0;
                transform: translateX(100%);
                width: 24px;
                display: block;
                background: url(../img/icons/title_copy.png) no-repeat;
                background-size: contain;
            }
        }
    }
    .map_container {
        margin: 10px 0;
        padding: 0 130px;
        position: relative;
        &:after {
            content: '';
            display: block;
            position: absolute;
            height: 430px;
            width: 300px;
            right: 0;
            top: 50%;
            transform: translate(100%, -50%);
            background: url(../img/bg_item1.png) no-repeat;
            background-size: contain;
        }
        .map {
            height: 380px;
            position: relative;
            &:before,
            &:after {
                content: '';
                display: block;
                height: 75px;
                width: 75px;
                position: absolute;
                background-color: #ff0089;
            }
            &:before {
                left: -2px;
                bottom: -2px;
            }
            &:after {
                right: -3px;
                top: -3px;
            }
        }
        .decoration {
            display: block;
            width: 392px;
            height: 285px;
            position: absolute;
            transform: translateX(-100%);
            left: 77px;
            top: 15%;
            z-index: 3;
            background: url(../img/map_decoration.png) no-repeat;
            background-size: contain;
        }
        iframe {
            width: 100%;
            height: 100%;
            position: relative;
            z-index: 2;
            border: 1px solid #959595;
        }
    }
}

.letter_item {
    margin: 35px 0;
    display: flex;
    justify-content: center;
    &:before {
        content: '';
        background: url(../img/bg_item1.png) no-repeat;
        background-size: contain;
        height: 70px;
        width: 50px;
    }
}

.crystal_labs {
    position: relative;
    padding-bottom: 25px;
    .decoration_item {
        display: block;
        position: absolute;
        z-index: 1;
        top: 270px;
        width: 100%;
        height: 2px;
        background-color: #e5e5e5;
        &:before {
            content: '';
            display: block;
            height: 700px;
            width: 377px;
            position: absolute;
            left: 0;
            bottom: -165px;
            background: url(../img/lab_decoration.png) no-repeat;
            background-size: contain;
        }
    }
    .container {
        position: relative;
        z-index: 2;
    }
    .labs_container {
        margin-top: 20px;
        position: relative;
        padding: 0 37px;
    }
    .slide {
        width: 33%;
        padding: 0 10px;
        outline: none;
    }
    .img_block {
        position: relative;
        width: 100%;
        &:before {
            content: "";
            display: block;
            padding-top: 100%;
        }
    }
    .img_container {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .bottom_section {
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;

    }
    .slide_link {
        text-transform: uppercase;
        font: 1.6em "SupermolotLight";
        border-bottom: 1px solid #ff028a;
        color: #ff028a;
        text-decoration: none;
        position: relative;
        margin-bottom: 5px;
        opacity: 1;
        &:after {
            content: '';
            height: 24px;
            position: absolute;
            right: -6px;
            top: 0;
            -webkit-transform: translateX(100%);
            -ms-transform: translateX(100%);
            transform: translateX(100%);
            width: 24px;
            display: block;
            background: url(../img/icons/link_icon_lab.png) no-repeat;
            -webkit-background-size: contain;
            background-size: contain;
        }
    }
    .rating {
        position: absolute;
        top: -53px;
        right: 0;
        .stars {
            display: block;
            width: 120px;
            height: 14px;
            background: url(../img/labs/rating.png) no-repeat;
            background-size: contain;
            margin-bottom: 4px;
        }
        .city {
            text-transform: uppercase;
            font: 1.2em "SupermolotRegular";
            text-align: center;
            display: block;
            letter-spacing: 0.4em;
        }
    }
    .title_block {
        display: inline-block;
        position: relative;
        margin-bottom: 30px;
        &:before,
        &:after {
            content: '';
            display: block;
            position: absolute;
            height: 30px;
            width: 20px;
        }
        &:before {
            left: -27px;
            bottom: -15px;
            border-bottom: 2px solid #afafaf;
            border-left: 2px solid #afafaf;
        }
        &:after {
            top: -15px;
            right: -17px;
            border-top: 2px solid #afafaf;
            border-right: 2px solid #afafaf;
        }
        .title_block_top {
            position: relative;
            z-index: 2;
            color: #949494;
            display: block;
            text-transform: uppercase;
            letter-spacing: 0.6em;
            margin-right: -0.6em;
            font: 1.6em "SupermolotLight";
            text-align: center;
        }
        .title_block_bottom {
            position: relative;
            z-index: 2;
            color: #949494;
            display: block;
            text-transform: uppercase;
            letter-spacing: 0.8em;
            margin-right: -0.8em;
            font: 1.8em "SupermolotRegular";
            text-align: center;
        }
    }
}

.brands {
    padding-bottom: 80px;
    position: relative;
    z-index: 3;
    .post_txt {
        text-align: center;
        position: relative;
        z-index: 2;
        span {
            font: 1.5em "SupermolotRegular";
            padding: 20px 50px 0px 50px;
            display: block;
        }
    }
    .container {
        position: relative;
        &:after {
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 155px;
            background: url(../img/bg_partners.png) no-repeat center center;
            background-size: contain;
            transform: translateY(50%);
        }
    }
    .slider_container {
        position: relative;
        z-index: 2;
        padding: 0 37px;
        &:before {
            content: '';
            position: absolute;
            display: block;
            height: 40px;
            width: 60px;
            border: 2px solid #ff007f;
            border-top: none;
            border-right: none;
            bottom: 0;
            left: 0;
        }
        &:after {
            content: '';
            position: absolute;
            display: block;
            height: 40px;
            width: 60px;
            border: 2px solid #ff007f;
            border-top: none;
            border-left: none;
            bottom: 0;
            right: 0;
        }
    }
    .arrow_right_brands,
    .arrow_left_brands {
        top: 50%;
        margin-top: -26px;
    }
    .slider_brands {
        .brand_slide {
            display: flex;
            align-items: center;
            margin: 0 20px;
            position: relative;
            outline: none;
            &:before {
                content: "";
                display: block;
                padding-top: 100%;
            }
            .img_content {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                display: flex;
                align-items: center;

            }
        }
        img {
            width: 100%;
            height: auto;
        }
    }
}

.price {
    position: relative;
    .price_container {
        position: relative;
        z-index: 2;
        display: flex;
        justify-content: center;
        padding-top: 10px;
         &:after {
        content: '';
        position: absolute;
        display: block;
        width: 950px;
        height: 1200px;
        background: url(../img/bg__price.png); 
        background-size: contain;
        transform: translate(-32%, -42%); 
    }
    }
    .center_price_block {
        width: 60%;
        position: relative;
        z-index: 2;
        background-color: rgba(0, 0, 0, 0.2);
        background: url(../img/bg_price.png) no-repeat top center;
        background-size: contain;
        &:after {
            content: '';
            display: block;
            padding-top: 100%;
        }
        &:before {
            content: '';
            display: block;
            position: absolute;
            width: 106px;
            height: 96px;
            background: url(../img/price_item1.png) no-repeat center center;
            background-size: contain;
            right: 0;
            transform: translateX(83%);
            top: 15%;
        }
        .price_block_container {
            position: absolute;
            width: 100%;
            height: 100%;
            padding: 0 15%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            &:before{
                content: '';
                position: absolute;
                right: 0;
                width: 146px;
                height: 146px;
                background: url(../img/price_item2.png) no-repeat center center;
                background-size: contain;
                top: 0;
                right: 10%;
                transform: translateY(-20%);
            }
            img {
                width: 100%;
            }
        }
        a.sign_up {
            text-transform: uppercase;
            font: 1.3em "SupermolotRegular";
            display: inline-block;
            background: url(../img/bg_button.png) no-repeat center center;
            padding: 8px 20px;
            color: #fff;
            padding-right: 45px;
            background-size: 100% 100%;
            position: relative;
            margin: 10% 0;
            text-decoration: underline;
        }
    }
}

.stock {
    padding-top: 20px;
}

@media screen and (min-width: 1025px) {
    .links_block a:hover,
    .crystal_labs .arrow_right:hover,
    .crystal_labs .arrow_left:hover,
    .arrow_right_brands:hover,
    .arrow_left_brands:hover {
        opacity: 1;
    }
    .map .more_crystal a:hover {
        color: #717171;
    }
}