.stars-page {
  display: none; }
  .stars-page .scroll_container {
    height: 100%; }
  .stars-page .stars-page_content {
    height: 100%; }
  .stars-page .stars_container {
    padding: 20px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .stars-page .star_block {
    padding: 5px;
    width: 14.285%; }
    .stars-page .star_block img {
      width: 100%;
      height: auto; }
    .stars-page .star_block .name, .stars-page .star_block .about {
      color: #d6ad6f;
      display: block;
      text-align: center;
      font: 1.6rem "BebasNeueRegular";
      letter-spacing: .1em; }
    .stars-page .star_block .about {
      font-size: 1.4rem;
      letter-spacing: 0; }

@media screen and (max-width: 1479px) {
  .stars-page .star_block {
    width: 16.66%; } }

@media screen and (max-width: 992px) {
  .stars-page .star_block {
    width: 20%; } }

@media screen and (max-width: 767px) {
  .stars-page .star_block {
    width: 25%; } }

@media screen and (max-width: 576px) {
  .stars-page .star_block {
    width: 50%; } }
