@import 'vars';
@import 'fonts';

.slider2 *,
.slider1 * {
    outline: none !important;
}

h2 {
    font: 3.6em "OswaldMedium";
    text-transform: uppercase;
    text-align: center;
    padding-top: 76px;
    letter-spacing: 4px;
    color: #222222;
}

body {
    font-size: 10px;
}

.container {
    min-width: 320px;
}

.wrap {
    position: relative;
    padding-top: 91px;
}

#header {
    background: #eceaef;
    position: absolute;
    width: 100%;
    top: 0;
    .content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 91px;
        .logo {
            a {
                display: block;
                background: url(../img/logo.png) no-repeat center center;
                width: 121px;
                height: 47px;
            }
        }
        .nav {
            ul {
                display: flex;
                list-style: none;
                padding: 0;
                margin-right: 8px;
                li {
                    margin-right: 45px;
                    font: 1.5em "OswaldRegular";
                    text-transform: uppercase;
                    height: 91px;
                    padding-top: 36px;
                    transition: .3s ease;
                    border-bottom: 3px solid transparent;
                    a {
                        color: #222222;
                        text-decoration: none;
                        letter-spacing: 1px;
                    }
                }
                li:last-child {
                    margin-right: 0px;
                }
                .active {
                    border-color: #222222;
                }
            }
        }
        .numbers {
            a {
            	display: block;
                font: 1.7em "OswaldMedium";
                margin: 0;
                letter-spacing: 1px;
                text-align: center;
                color: #222222;
            }
        }
    }
}

#home {
    background: #0a0a0c url(../img/bg_home.jpg) no-repeat center top;
    background-size: cover;
    padding-bottom: 132px;
    .content {
        max-width: 611px;
    }

    h1 {
        font: 5.2em "OswaldBold";
        text-transform: uppercase;
        padding-top: 143px;
        letter-spacing: 8px;
        padding-bottom: 19px;
        color: #fff;
    }
    p {
        font: 1.8em "ProximaNovaSemiBold";
        line-height: 1.35em;
        margin: 0;
        padding-bottom: 14px;
        color: #fff;
    }
    a {
        margin-top: 10px;
        display: block;
        height: 47px;
        width: 230px;
        background: #f02e53;
        border-radius: 22px;
        text-align: center;
        text-transform: uppercase;
        font: 1.5em "OswaldMedium";
        color: #fff;
        text-decoration: none;
        letter-spacing: 2px;
        padding-top: 12px;
        transition: .3s ease;
        &:hover {
            background: #d61b3f;
        }
    }
}

#help {
    .row {
        padding-top: 60px;
        .block {
            .content {
                background: #f35472;
                height: 213px;
                padding: 20px;
                margin: 20px 0;
                position: relative;
                border-radius: 10px;
                p {
                    font: 1.6em "ProximaNovaRegular";
                    color: #fff;
                    padding-top: 18px;
                    line-height: 150%;
                }
                .num {
                    position: absolute;
                    display: block;
                    font: 9em "ProximaNovaBlack";
                    color: rgba(0, 0, 0, 0.1);
                    padding: 0;
                    margin: 0;
                    top: -52px;
                    left: 15px;
                }
            }
        }
    }
    p.bottom {
        font: 1.6em "ProximaNovaRegular";
        padding: 0 51px;
        padding-top: 56px;
        line-height: 148%;
        padding-bottom: 93px;
        letter-spacing: 0.25px;
    }
}

#projects {
    background: #f7f7f7;
    padding-bottom: 115px;
    h2 {
        padding-top: 85px;
        letter-spacing: 3.5px;
        padding-bottom: 35px;
    }
    .slider1 {
        padding: 0 24px;
        position: relative;
    }
    img {
        position: absolute;
        z-index: 1;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    .slider_content {
        margin: 0;
        overflow: hidden;
        .overlay {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            z-index: 2;
            background: rgba(255, 255, 255, 0.9);
            padding: 20px;
            opacity: 0;
            transition: .3s ease;
            h3 {
                font: 1.8em "OswaldMedium";
                text-transform: uppercase;
                padding-top: 24px;
                letter-spacing: 1.5px;
                padding-bottom: 15px;
            }
            p {
                font: 1.5em "ProximaNovaRegular";
                line-height: 150%;
                letter-spacing: 1px;
            }
        }
        .slide {
            padding: 0 7px;
            .slide_content {
                height: 268px;
                border: 10px solid #fff;
                position: relative;
                a {
                    position: absolute;
                    display: block;
                    top: 0;
                    height: 100%;
                    width: 100%;
                    z-index: 3;
                    outline: none;
                    &:hover+.overlay {
                        opacity: 1;
                    }
                }
            }
        }
    }
    .arrow_left1,
    .arrow_right1 {
        height: 21px;
        width: 9px;
        position: absolute;
        top: 50%;
        margin-top: -10px;
        cursor: pointer;
    }
    .arrow_left1 {
        left: 0;
        background: url(../img/arrow_left.png) no-repeat center center;
    }
    .arrow_right1 {
        right: 0;
        background: url(../img/arrow_right.png) no-repeat center center;
    }
}

#reviews {
    background: #fdfdfd;
    padding-bottom: 120px;
    h2 {
        padding-top: 105px;
    }
    .slider2 {
        padding: 53px 24px;
        position: relative;
        .shadow {
            position: absolute;
            width: 100%;
            top: 50%;
            left: 0;
            -webkit-box-shadow: 2px 9px 300px 34px rgba(163, 161, 163, 1);
            -moz-box-shadow: 2px 9px 300px 34px rgba(163, 161, 163, 1);
            box-shadow: 2px 9px 300px 34px rgba(163, 161, 163, 1);
        }
    }
    .slider_content {
        margin: 0;
        overflow: hidden;
        .head {
            padding-top: 12px;
            display: flex;
        }
        .img {
            height: 62px;
            width: 62px;
            border-radius: 31px;
            overflow: hidden;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .info {
            padding-left: 25px;
            h6 {
                font: 1.8em "OswaldLight";
                padding-top: 2px;
                text-transform: none;
                letter-spacing: 2px;
                span {
                    font: 1em "OswaldMedium";
                    text-transform: uppercase;
                }
            }
            p {
                font: 1.4em "OswaldLight";
                line-height: 100%;
                letter-spacing: 1px;
            }
        }
        .txt {
            p {
                font: 1.4em "ProximaNovaRegular";
                padding-top: 15px;
                padding-left: 4px;
                line-height: 145%;
                letter-spacing: 0.5px;
            }
        }
        .slide {
            padding: 0px 7px;

            .slide_content {
                height: 253px;
                position: relative;
                background: #ffffff;
                padding: 28px;
                border-radius: 10px;
            }
        }
    }
    .arrow_left2,
    .arrow_right2 {
        height: 21px;
        width: 9px;
        position: absolute;
        top: 50%;
        margin-top: -10px;
        cursor: pointer;
    }
    .arrow_left2 {
        left: 0;
        background: url(../img/arrow_left.png) no-repeat center center;
    }
    .arrow_right2 {
        right: 0;
        background: url(../img/arrow_right.png) no-repeat center center;
    }
}

#info {
	background: url(../img/bg_form.png) no-repeat;
	background-position: 70% 100%;
    .content {
        h2 {
            padding-top: 108px;
            padding-bottom: 15px;
        }
        p {
            font: 1.6em "ProximaNovaRegular";
            text-align: center;
            letter-spacing: 0.5px;
            padding-bottom: 73px;
        }
        form {
            display: flex;
            flex-direction: column;
            max-width: 576px;
            margin: 0 auto;
            .input {
                width: 100%;
                height: 51px;
                margin-bottom: 31px;
                font: 1.7em "ProximaNovaRegular";
                padding-left: 21px;
                border: 1px solid #c3c3c3;
                border-radius: 25px;
                outline: none;
            }
            .text {
                width: 100%;
                height: 112px;
                font: 1.7em "ProximaNovaRegular";
                padding: 15px 21px;
                border-radius: 25px;
                resize: none;
                border: 1px solid #c3c3c3;
                margin-bottom: 17px;
                outline: none;
            }
            p {
                text-align: left;
                font: 1.4em "ProximaNovaThin";
                padding-left: 30px;
                margin: 0;
                padding-bottom: 26px;
            }
            .check {
                display: flex;
                padding-left: 27px;
                padding-bottom: 24px;
                input {
                    height: 17px;
                    width: 17px;
                    background: #fff;
                    border: 1px solid #c3c3c3;
                    border-radius: 0px;
                }
                p {
                    font: 1.6em "ProximaNovaThin";
                    padding-left: 8px;
                }
            }
            .submit {
                width: 190px;
                height: 48px;
                margin: 0 auto;
                border-radius: 24px;
                background: #f02e53;
                border: none;
                font: 1.5em "OswaldMedium";
                text-transform: uppercase;
                color: #fff;
                letter-spacing: 2px;
                transition: .3s ease;
                cursor: pointer;
                margin-bottom: 100px;
                &:hover {
                    background: #d61b3f;
                }
            }
        }
    }
}

#services {
    .content {
        padding-bottom: 111px;
    }
    h2 {
        padding-top: 97px;
        letter-spacing: 3.5px;
        padding-bottom: 45px;
    }



    .tabs {
        .icon {
            height: 30%;
            width: 30%;
        }
        .icon1 {
            background: url(../img/icon1.png) no-repeat center center;
            background-size: contain;
        }
        .icon2 {
            background: url(../img/icon2.png) no-repeat center center;
            background-size: contain;
        }
        .icon3 {
            background: url(../img/icon3.png) no-repeat center center;
            background-size: contain;
        }
        .icon4 {
            background: url(../img/icon4.png) no-repeat center center;
            background-size: contain;
        }
        .icon5 {
            background: url(../img/icon5.png) no-repeat center center;
            background-size: contain;
            margin-top: 24px;
        }
        .tab_items {
            display: flex;
            margin: 0 -6px;
            position: relative;
            z-index: 2;
        }
        .block {
            width: 20%;
            margin: 0 6px;
            padding-bottom: 12px;
            &:hover .content_tab {
                border-color: #e8375a;
            }
        }
        .tab_item {
            position: relative;
            width: 100%;
            &::before {
                content: "";
                display: block;
                padding-top: 100%;
            }
            .content_tab {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                border: 1px solid #dddddd;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                p {
                    font: 1.8em "OswaldMedium";
                    text-transform: uppercase;
                    text-align: center;
                    padding-top: 20px;
                    color: #222222;
                }
            }
            .active_t {
                border: none;
            }
        }
    }




    .tabs_content {
        border: 1px solid #e8375a;
        background: #f7f7f7;
        position: relative;
        z-index: 1;
        margin-top: -1px;
        padding: 30px 20px;
        .tab_content {
            display: flex;
        }
        .block_content {
            width: 20%;
            margin: 6px;
            max-height: 220px;
            overflow: hidden;
            -webkit-box-shadow: 4px 5px 80px -6px rgba(214, 211, 214, 1);
            -moz-box-shadow: 4px 5px 80px -6px rgba(214, 211, 214, 1);
            box-shadow: 4px 5px 80px -6px rgba(214, 211, 214, 1);
            .responsive_block {
                position: relative;
                &::before {
                    content: "";
                    display: block;
                    padding-top: 100%;
                }
                .tab_content_b {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    border: 1px solid #dddddd;
                    cursor: pointer;
                    background: #fff;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 10px;
                    a {
                        display: block;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        &:hover~p {
                            text-decoration: underline;
                        }
                    }
                    img {
                        height: 40%;
                        width: auto;
                        margin-top: 13%;
                    }
                    p {
                        font: 1.8em "OswaldRegular";
                        text-align: center;
                        padding-top: 20px;
                        transition: .3s ease;
                        margin: 0;
                        letter-spacing: 2px;
                        color: #222222;
                    }
                }
            }
        }
    }
    .active {
        border: 1px solid #e8375a;
        border-bottom: 1px solid #f7f7f7;
        background: #f7f7f7;
    }
}


#footer {
	background-color: #e6e6e6;
	.top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-top: 52px;
		padding-bottom: 23px;

		.item_left {
			a {
				display: block;
				width: 119px;
				height: 44px;
				background: url(../img/logo_footer.png) no-repeat;
			}
			p {
				font: 1.5em "ProximaNovaRegular";
				padding-top: 25px;
				line-height: 140%;
				margin: 0;
				color: #929292;
			}
		}
		.item_center {
			p {
				font: 1.5em "ProximaNovaRegular";
				margin: 0;
				letter-spacing: 1px;
				color: #929292;
				padding-bottom: 15px;
                text-align: center;
			}
		}
		.item_right {
			a {
				display: block;
				font: 1.9em "ProximaNovaBold";
				color: #000;
				text-align: right;
				line-height: 140%;
			}
			p {
				padding-top: 18px;
				font: 1.5em "ProximaNovaRegular";
				text-align: right;
				padding-bottom: 10px;
				color: #929292;
			}
			.socials {
				display: flex;
				justify-content: space-between;
				a {
					font-size: 2em;
					color: #929292;
					transition: .3s ease;
					&:hover {
						color: #000;
					}
				}
			}
		}
	}
	.line {
		height: 1px;
		background: #c4c4c4;
	}
	.nav {
		ul {
			display: flex;
			justify-content: space-between;
			margin: 0 auto;
			list-style: none;
			max-width: 685px;
			font: 1.6em "ProximaNovaRegular";
			padding: 29px 0;
			.line {
				width: 1px;
				height: 20px;
				background-color: #c4c4c4;
			}
			a {
				color: #929292;
				text-decoration: none;
				transition: .3s ease;
				&:hover {
					color: #000;
				}
			}
		}
	}
}

@import 'media';