@import 'vars';
@import 'libs';
@import 'fonts';

//user styles
body {
    font-size: 10px;
}

.body_active {
    overflow: hidden;
}

.container {
    //overflow: hidden;
}

.sub {
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 0;
    top: 0;
    left: 0;
    transition: .5s;
    display: none;
}

.sub_active {
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.5);
    display: block;
}

h3 {
    font: 10em "Aempirial";
    text-align: center;
    padding-top: 122px;
    letter-spacing: 4px;
}


#home {
    background: #25394e url(../img/bg_home.jpg) no-repeat center center;
    background-size: cover;
    .content {
        position: relative;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    header {
        position: absolute;
        width: 100%;
        top: 0;
        height: 125px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 2;
    }
    .logo {
        position: relative;
        a {
            display: block;
            width: 160px;
            height: 50px;
            background: url(../img/logo.png) no-repeat center bottom;
        }
    }
    .mobile_nav {
        position: fixed;
        top: 0px;
        left: -100%;
        height: 100vh;
        width: 243px;
        transition: .5s;
        background: #fff url(../img/bg_mobile_nav.png) no-repeat top right;
        z-index: 1000;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .nav_m {
            flex-direction: column;
            padding-top: 50px;
            padding-left: 0px;
            li {
                padding: 5px 0;
            }
            a {
                color: #000;
                font: 1.8em "MuseoSansCyrl500";
                padding: 20px 0;
                text-transform: uppercase;
                text-decoration: none;
                display: block;
                padding-left: 34px;
                &:hover {
                    color: #fe1119;
                }
            }
        }
        .btn_mobile {
            margin-bottom: 96px;
            a {
                margin: 0 auto;
                position: relative;
                display: flex;
                text-decoration: none;
                color: #fff;
                width: 197px;
                height: 45px;
                background: #bb1c27;
                font: 1.4em "MuseoSansCyrl500";
                transition: .1s ease;
                &:hover {
                    background-color: #b31a25;
                }
                .icon {
                    display: block;
                    height: 14px;
                    width: 19px;
                    background: url(../img/speech-bubbles-comment-option.png) no-repeat center top;
                    margin-right: 15px;
                    margin-top: 14px;
                    margin-left: 31px;
                }
                .txt {
                    padding-top: 14px;
                }
            }
        }
    }
    .nav_active {
        left: 0%;
    }
    .nav {
        display: flex;
        list-style: none;
        margin-left: -9px;

        li {
            position: relative;
            padding-right: 53px;
            &:last-child {
                padding-right: 0px;
            }
            .bg {
                position: absolute;
                top: -1px;
                left: -17px;
                height: 33px;
                width: 71px;
                transition: .3s;
                z-index: 1;
            }
            .activebg {
                background: url(../img/icon_nav_hover.png) no-repeat;
            }
        }
        a {
            position: relative;
            display: block;
            z-index: 2;
            text-decoration: none;
            color: #fff;
            text-transform: uppercase;
            font: 1.4em "MuseoSansCyrl500";
            transition: .1s ease;
        }
        .active {
            color: #fe1119;
        }
    }
    .btn {
        position: relative;
        .bg {
            position: absolute;
            top: -8px;
            right: -13px;
            width: 100%;
            height: 100%;
            background: url(../img/bg_btn.png) no-repeat;
            z-index: 1;
        }
        a {
            position: relative;
            z-index: 2;
            font: 1.4em "MuseoSansCyrl500";
            color: #cdcdcd;
            display: block;
            height: 45px;
            width: 195px;
            border: 1px solid #fff;
            text-decoration: none;
            transition: .3s ease;
            display: flex;
            &:hover {
                background: #bb1c27;
                border: 1px solid #bb1c27;
            }
            .icon {
                display: block;
                height: 14px;
                width: 19px;
                background: url(../img/speech-bubbles-comment-option.png) no-repeat center top;
                margin-right: 15px;
                margin-top: 14px;
                margin-left: 31px;
            }
            .txt {
                padding-top: 14px;
            }
        }
    }
    .nav-btn a {
        height: 50px;
        width: 50px;
        box-sizing: border-box;
        transition: .3s ease;
    }
    .nav-btn {
        display: none;
        margin-right: 10px;
        position: relative;
        z-index: 1000;
        a {
            display: block;
            position: relative;
            height: 32px;
            width: 35px;
            span {
                display: block;
                height: 3px;
                width: 100%;
                background-color: #fff;
                position: absolute;
                top: 50%;
                margin-top: -1px;
                transition: .3s ease;
            }
            &::before {
                display: block;
                content: "";
                height: 3px;
                width: 100%;
                background-color: #fff;
                position: absolute;
                transition: .3s ease;
                top: 0;
            }
            &::after {
                display: block;
                content: "";
                height: 3px;
                width: 100%;
                background-color: #fff;
                position: absolute;
                bottom: 0;
                transition: .3s ease;
            }
        }
        a:hover::before,
        a:hover::after,
        a:hover span {
            background-color: #fe1119;
        }
        .a_active {
            &::before {
                transform: rotate(45deg);
                top: 14px;
                width: 35px;
            }
            &::after {
                transform: rotate(-45deg);
                bottom: 15px;
                width: 35px;
            }
            span {
                background-color: transparent !important;
            }
        }
    }
    .title {
        max-width: 700px;
        margin: 0 auto;
        position: relative;
    }
    h1 {
        font: 12em "Aempirial";
        color: #cdcdcd;
        text-align: center;
        letter-spacing: 5px;
    }
    p {
        font: 4.7em "ParkAvenue";
        color: #cdcdcd;
        text-align: center;
        padding-top: 32px;
    }
    .a_bottom {
        position: absolute;
        width: 95px;
        margin: 0 auto;
        bottom: 47px;
        left: 50%;
        margin-left: -47px;
        z-index: 1;
        a {
            position: relative;
            z-index: 2;
            display: block;
            height: 55px;
            width: 45px;
            background: url(../img/icon_back.png);
            margin: 0 auto;
        }
        .bg {
            position: absolute;
            background: url(../img/bg_arrow.png);
            width: 95px;
            height: 74px;
            top: 28px;
            z-index: 1;
        }
    }
}

#about {
    position: relative;
    z-index: 2;
    background: url(../img/bg_about.png) no-repeat center top;
    h3 {
        font: 10em "Aempirial";
        text-align: center;
        padding-top: 122px;
        letter-spacing: 4px;
    }
    p {
        text-align: center;
        font: 1.4em "MuseoSansCyrl500";
        padding-top: 28px;
        letter-spacing: 1px;
        line-height: 210%;
        padding-bottom: 41px;
    }
}

#collections {
    position: relative;
    h4 {
        font: 1.2em "MuseoSansCyrl500";
        text-transform: uppercase;
        text-align: center;
        padding-bottom: 2px;
    }
    .a_bottom {
        position: relative;
        padding-bottom: 46px;
        width: 95px;
        margin: 0 auto;
        a {
            position: relative;
            z-index: 2;
            display: block;
            height: 55px;
            width: 45px;
            background: url(../img/btn_collect.png);
            margin: 0 auto;
            margin-bottom: 77px;
        }
        .bg {
            position: absolute;
            background: url(../img/bg_btn_collect.png);
            width: 95px;
            height: 74px;
            top: 37px;
            z-index: 1;
        }
    }
    .collection {
        .btn {
            position: relative;
            margin-left: 138px;
            width: 245px;
            .bg {
                position: absolute;
                top: -10px;
                right: -15px;
                width: 245px;
                height: 100%;
                background: url(../img/btn_bg_title.png) no-repeat;
                z-index: 1;
            }
            a {
                position: relative;
                z-index: 2;
                font: 1.4em "MuseoSansCyrl500";
                color: #000;
                display: block;
                height: 45px;
                width: 245px;
                border: 1px solid #000;
                text-decoration: none;
                transition: .3s ease;
                display: flex;
                padding-left: 25px;
                &:hover {
                    background: #bb1c27;
                    border: 1px solid #bb1c27;
                }
                .icon {
                    display: block;
                    height: 13px;
                    width: 16px;
                    background: url(../img/slide_arrow.png) no-repeat center top;
                    margin-right: 15px;
                    margin-top: 15px;
                    margin-left: 30px;
                }
                .txt {
                    padding-top: 13px;
                    margin: 0;
                }
            }
        }
        .capt {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding-bottom: 62px;
            align-items: flex-start;
            .img {
                position: relative;
                max-width: 605px;
                background: #d1d1d1;
                border-radius: 9px;
                -webkit-box-shadow: 11px 11px 11px -1px rgba(209, 209, 209, 1);
                -moz-box-shadow: 11px 11px 11px -1px rgba(209, 209, 209, 1);
                box-shadow: 11px 11px 11px -1px rgba(209, 209, 209, 1);
                img {
                    width: 100%;
                    height: auto;
                    border-radius: 9px;
                }
                .bg {
                    position: absolute;
                    z-index: 3;
                    height: 218px;
                    width: 252px;
                    right: -115px;
                    top: 24px;
                    background: url(../img/bgformodel.png) no-repeat;
                }
            }
            .txt {
                position: relative;
                z-index: 3;
                margin-right: 15px;
                margin-left: 30px;
                .num {
                    font: 1.2em "MuseoSansCyrl500";
                    color: #000;
                    padding-top: 56px;
                }
                .season {
                    font: 3.6em "MuseoSansCyrl500";
                    padding-top: 20px;
                    line-height: 64%;
                }
                h5 {
                    font: 3.6em "MuseoSansCyrl500";
                    line-height: 64%;
                    padding-bottom: 120px;
                }
            }
        }
        .slide_models {
            position: relative;
            .btn {
                margin: 0 auto;
                display: none;
                margin-top: 40px;
            }
            .carousel {}
            .arrow_l,
            .arrow_r {
                background: url(../img/slider_arrow.png);
                height: 26px;
                width: 32px;
                position: absolute;
                cursor: pointer;
                margin-top: 174px;
            }
            .arrow_l {
                left: -60px;
                .bg {
                    position: absolute;
                    height: 48px;
                    width: 47px;
                    top: -10px;
                    left: 12px;
                }
                &:hover {
                    background: url(../img/slider_arrow_hover.png);
                    transform: rotate(180deg);
                }
                &:hover .bg {
                    background: url(../img/slider_arrow_bg.png);
                }
            }
            .arrow_r {
                right: -60px;
                transform: rotate(180deg);
                .bg {
                    position: absolute;
                    height: 48px;
                    width: 47px;
                    top: -10px;
                    left: 12px;
                }
                &:hover {
                    background: url(../img/slider_arrow_hover.png);
                    transform: rotate(0deg);
                }
                &:hover .bg {
                    background: url(../img/slider_arrow_bg.png);
                }
            }
            .carousel {
                .slide {}
                .slide_content {
                    padding: 0px 15px;
                    position: relative;
                    &:hover .title p {
                        color: #bb1c27;
                    }
                    &:hover .title .arrow {
                        background: url(../img/slide_arrow_hover.png);
                    }
                    a {
                        display: block;
                        position: absolute;
                        width: 100%;
                        margin: 0 -15px;
                        height: 100%;
                    }
                    img {
                        width: 100%;
                        border-radius: 9px;
                        -webkit-box-shadow: 11px 11px 15px -1px rgba(209, 209, 209, 1);
                        -moz-box-shadow: 11px 11px 15px -1px rgba(209, 209, 209, 1);
                        box-shadow: 11px 11px 15px -1px rgba(209, 209, 209, 1);
                    }
                    .title {
                        display: flex;
                        justify-content: space-between;
                        p {
                            font: 1.4em "MuseoSansCyrl500";
                            text-transform: uppercase;
                            padding-top: 28px;
                            padding-left: 10px;
                            transition: .3s ease;
                        }
                        .arrow {
                            background: url(../img/slide_arrow.png);
                            height: 13px;
                            width: 16px;
                            margin-top: 30px;
                            margin-right: 23px;
                            transition: .3s ease;
                        }
                    }
                }
            }
        }
    }
}

#reviews {
    position: relative;
    .title {
        position: relative;
        width: 192px;
        margin: 0 auto;
        margin-top: 145px;
        padding-bottom: 27px;
    }
    h3 {
        padding-top: 0px;
        position: relative;
    }
    .bg {
        height: 66px;
        width: 192px;
        background: url(../img/bg_h3_rev.png) no-repeat;
        position: absolute;
        top: -25px;
    }
    .block {
        padding: 33px 15px;
    }
    .scontent {
        position: relative;
        .quot {
            position: absolute;
            background: url(../img/quotations.png) no-repeat center center;
            height: 62px;
            width: 55px;
            top: 10px;
            right: 80px;
        }
        .bg {
            top: 27px;
            left: -34px;
            width: 157px;
        }
        .rev {
            font: 1.2em "MuseoSansCyrl500";
            color: #9a9a9a;
        }
        .name {
            font: 2em "MuseoSansCyrl500";
            padding-top: 5px;
            text-decoration: underline;
            position: relative;
            z-index: 2;
        }
        .txt {
            font: 1.4em "MuseoSansCyrl500";
            padding-top: 9px;
            line-height: 160%;
            padding-bottom: 2px;
            position: relative;
            z-index: 2;
        }
        .btn {
            a {
                font: 1.2em "MuseoSansCyrl500";
                color: #767676;
                text-transform: uppercase;
                text-decoration: none;
                span {
                    display: inline-block;
                    background: url(../img/slide_arrow.png) no-repeat bottom;
                    background-size: 100% 100%;
                    height: 11px;
                    width: 13px;
                    margin-left: 15px;
                }
            }
            a:hover {
                color: #bb1c27;
            }
            a:hover span {
                background: url(../img/slide_arrow_hover.png) no-repeat bottom;
                background-size: 100% 100%;
            }
        }
    }
    .more {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 85px;
        padding-bottom: 71px;
        .line {
            height: 1px;
            background: #d4d4d4;
            flex-basis: 50%;
        }
        .btn {
            position: relative;
            width: 245px;
            margin: 0px 23px;
            .bg {
                position: absolute;
                top: -10px;
                right: -15px;
                width: 245px;
                height: 100%;
                background: url(../img/btn_bg_title.png) no-repeat;
                z-index: 1;
            }
            a {
                position: relative;
                z-index: 2;
                font: 1.4em "MuseoSansCyrl500";
                color: #000;
                display: block;
                height: 45px;
                width: 245px;
                border: 1px solid #000;
                text-decoration: none;
                transition: .3s ease;
                display: flex;
                padding-left: 24px;
                &:hover {
                    background: #bb1c27;
                    border: 1px solid #bb1c27;
                }
                .icon {
                    display: block;
                    height: 13px;
                    width: 16px;
                    background: url(../img/slide_arrow.png) no-repeat center top;
                    margin-right: 15px;
                    margin-top: 15px;
                    margin-left: 33px;
                    transform: rotate(90deg);
                }
                .txt {
                    padding-top: 13px;
                }
            }
        }
    }
}

#questions {
    background: #000000;
    position: relative;
    z-index: 2;
    .content {
        background: url(../img/quest.png) no-repeat top right;
    }
    h6 {
        font: 2.8em "MuseoSansCyrl500";
        color: #ffffff;
        padding-top: 64px;
    }
    p {
        font: 1.4em "MuseoSansCyrl500";
        color: #ffffff;
        padding-top: 17px;
        padding-bottom: 38px;
    }
    form {
        padding-bottom: 105px;
        display: flex;
        justify-content: space-between;
    }
    .input {
        background: transparent;
        border: 1px solid #fff;
        height: 50px;
        width: 23%;
        margin-right: 19px;
        box-sizing: padding-box;
        display: block;
        padding-left: 19px;
        font: 1.4em "MuseoSansCyrl500";
        color: #fff;
        outline: none;
    }
    .text {
        background: transparent;
        border: 1px solid #fff;
        height: 50px;
        width: 29.5%;
        margin-right: 19px;
        padding-left: 19px;
        font: 1.4em "MuseoSansCyrl500";
        padding-top: 16px;
        color: #fff;
        outline: none;
    }
    .submit {
        width: 19%;
        font: 1.4em "MuseoSansCyrl500";
        text-transform: uppercase;
        background: #bb1c27;
        border: none;
        color: #fff;
        transition: .3s ease;
        cursor: pointer;
        outline: none;
        &:hover {
            background: #d52430;
        }
    }
}

#contacts {
    position: relative;
    z-index: 5;
    .content {
        position: relative;
        display: flex;
        justify-content: flex-end;
    }
    .map {
        height: 398px;
        width: 602px;
        background: url(../img/map.jpg) no-repeat center center;
        position: absolute;
        top: -30px;
        left: 0px;
        z-index: 3;
        border-radius: 10px;
        .map_content {
            width: 100%;
            height: 100%;
            background: url(../img/map.jpg) no-repeat center center;
            border-radius: 10px;
            position: relative;
            z-index: 2;
            overflow: hidden;
            -webkit-box-shadow: 6px 17px 46px 0px rgba(143, 141, 143, 1);
            -moz-box-shadow: 6px 17px 46px 0px rgba(143, 141, 143, 1);
            box-shadow: 6px 17px 46px 0px rgba(143, 141, 143, 1);
        }
        .bg {
            height: 211px;
            width: 300px;
            background: url(../img/bg_map.png) no-repeat center right;
            position: absolute;
            text-outline: 10px;
            right: -121px;
            z-index: 1;
            top: 58px;
        }
    }
    .contacts {
        width: 42%;
        h6 {
            font: 3.6em "MuseoSansCyrl500";
            padding-top: 61px;
            padding-left: 4px;
        }
        .numbers {
            font: 2.4em "MuseoSansCyrl500";
            padding-left: 5px;
            padding-top: 19px;
            text-decoration: underline;
            display: flex;
            p {
                padding-right: 20px;
            }
        }
        .adress {
            font: 1.4em "MuseoSansCyrl500";
            padding-top: 28px;
            padding-left: 9px;
        }
        .mail {
            font: 1.8em "MuseoSansCyrl500";
            padding-top: 14px;
            padding-left: 9px;
            span {
                display: inline-block;
                width: 19px;
                height: 15px;
                background: url('../img/socials_sprite.png') -49px -10px;
                margin-bottom: -2px;
                margin-right: 11px;
            }
        }
        .socials {
            display: flex;
            padding-left: 9px;
            padding-top: 30px;
            padding-bottom: 30px;
            a {
                display: block;
                margin-right: 20px;
            }
            .insta {
                width: 19px;
                height: 19px;
                background: url('../img/socials_sprite.png') -10px -10px;
            }
            .vk {
                width: 19px;
                height: 19px;
                background: url('../img/socials_sprite.png') -41px -42px;
            }
            .facebook {
                width: 11px;
                height: 19px;
                background: url('../img/socials_sprite.png') -10px -49px;
            }
        }
    }
}

#nav {
    padding-top: 95px;
    .nav {
        display: flex;
        list-style: none;
        justify-content: center;
        padding: 0px;
        li {
            position: relative;
            padding-right: 62px;
            padding-top: 7px;
            &:last-child {
                padding-right: 0px;
            }
        }
        a {
            position: relative;
            display: block;
            z-index: 2;
            text-decoration: none;
            color: #000;
            text-transform: uppercase;
            font: 1.4em "MuseoSansCyrl500";
            transition: .1s ease;
        }
        .active {
            color: #fe1119;
        }
    }
}

#footer {
    .copy {
        text-align: center;
        font: 1.4em "MuseoSansCyrl500";
        color: #cdcdcd;
        padding-top: 37px;
        text-transform: uppercase;
        padding-bottom: 50px;
    }
}

@import 'media';