.catalog {
    .catalog_content {
        h3 {
            font: 2.4em "RobotoBold";
            margin: 0;
            line-height: 75%;
        }
        .catalog_list {
            border: 1px solid #dae2ee;
            margin-top: 20px;
            justify-content: center;
            position: relative;
            z-index: 1;
        }
        .blocks {
            display: flex;
            flex-flow: row wrap;
            margin-left: -1px;
            margin-top: -1px;
            margin-right: -1px;
            justify-content: flex-start;
        }
        .block {
            padding: 20px;
            //flex-grow: 1;
            border: 1px solid #dae2ee;
            width: 33.45%;
            margin-right: -1px;
            max-height: 489px;
            margin-bottom: -1px;
            position: relative;
            z-index: 2;
            &:hover {
                border-color: #ff6a00;
                z-index: 3;
            }
            .title {
            	img {
            		width: 100%;
            	}
                .availability {
                    font: 1.2em "RobotoRegular";
                    color: #00a453;
                    padding-top: 17px;
                }
                .name {
                    font: 1.4em "RobotoRegular";
                    color: #004b91;
                    text-decoration: none;
                    display: block;
                    margin-top: 5px;
                    margin-bottom: 8px;
                }
            }
            .options {
                .option {
                    display: flex;
                    justify-content: space-between;
                    .left {
                        font: 1.2em "RobotoRegular";
                        color: #999999;
                        line-height: 170%;
                    }
                    .right {
                        font: 1.4em "RobotoBold";
                    }
                }
            }
            .price {
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                p {
                    font: 1.8em "RobotoBold";
                    display: block;
                    position: relative;
                    margin-top: 23px;
                    margin-bottom: 0;
                    text-decoration: line-through;
                    span {
                        font: 13px "RobotoRegular";
                        position: absolute;
                        left: 0;
                        top: -1.2em;
                    }
                }
                .rating {
                    background: url(../img/raiting.png);
                    width: 78px;
                    height: 14px;
                    margin-bottom: 4px;
                }
            }
            .more {
                width: 100%;
                height: 34px;
                background: #ff6a00;
                color: #fff;
                font: 1.3em "RobotoRegular";
                position: relative;
                display: block;
                padding-top: 6px;
                text-align: center;
                text-decoration: none;
                border-radius: 3px;
                margin-top: 7px;
                span {
                    position: absolute;
                    background: url(../img/arr_btn.png) no-repeat center left;
                    width: 16px;
                    height: 12px;
                    display: block;
                    left: 10px;
                    top: 10px;
                }
            }
            .links {
                display: flex;
                justify-content: space-between;
                padding: 5px 16px;
                background: #f2f6fa;
                margin-top: 10px;
                margin-bottom: 5px;
                a {
                    display: block;
                    height: 18px;
                    width: 20px;
                }
                .icon1 {
                    background: url(../img/link_content_1.png) no-repeat center center;
                    background-size: contain;
                }
                .icon2 {
                    background: url(../img/link_content_2.png) no-repeat center center;
                    background-size: contain;
                }
                .icon3 {
                    background: url(../img/link_content_3.png) no-repeat center center;
                    background-size: contain;
                }
                .icon4 {
                    background: url(../img/link_content_4.png) no-repeat center center;
                    background-size: contain;
                }
                .icon5 {
                    background: url(../img/link_content_5.png) no-repeat center center;
                    background-size: contain;
                }
            }
        }
        .number_pages {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 25px;
            a {
                display: block;
                width: 7px;
                height: 13px;
            }
            .arrow_left {
                background: url(../img/arl.png);
            }
            .arrow_right {
                background: url(../img/arr.png);
            }
            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                display: flex;
                margin: 0 23px;
                li {
                    margin: 0 5px;
                }
                a {
                    height: 24px;
                    width: 24px;
                    border-radius: 4px;
                    text-decoration: none;
                    color: #000;
                    font: 1.6em "RobotoRegular";
                    text-align: center;
                    padding-top: 1px;
                }
                .active {
                    background: #ff6a00;
                }
            }
        }
        .tags {
        	position: relative;
        	margin-top: 33px;
            .carousel {
                max-width: 90%;
            }
            .slide {
                a {
                    display: block;
                    padding: 4px 10px;
                    margin-right: 8px;
                    border: 1px solid #dae2ee;
                    border-radius: 4px;
                    font: 1.3em "RobotoRegular";
                    text-align: center;
                    text-decoration: none;
                    color: #333333;
                }
            }
            .tab_arrows {
                display: flex;
                position: absolute;
                right: 0px;
                top: 8px;
                .line {
                    width: 1px;
                    height: 10px;
                    background: #dae2ee;
                    margin: 0 14px;
                }
                .arrow_left_owl4,
                .arrow_right_owl4 {
                    width: 7px;
                    height: 13px;
                    cursor: pointer;
                }
                .arrow_left_owl4 {
                    background: url(../img/arl.png);
                }
                .arrow_right_owl4 {
                    background: url(../img/arr.png);
                }
            }
        }
        .search {
        	border: 1px solid #dae2ed;
            padding: 18px;
            margin-top: -1px;
            margin-top: 23px;
        	.search_content {
        		display: flex;
        		justify-content: space-between;	
              .title {
                    border-bottom: 1px solid #dae2ed;
                    justify-content: space-between;
                    .line {
                    	height: 10px;
                    	width: 1px;
                    	background: #dae2ee;
                    	margin-top: 9px;
                    }
                    p {
                        font: 1.8em "RobotoBold";
                        padding-bottom: 16px;
                        margin: 0;
                    }
                  }
                  ul {
                  	list-style: none;
                  	margin: 0;
                  	padding: 0;
                  	padding-top: 12px;
                  	a {
                  		display: block;
                  		font: 1.3em "RobotoRegular";
                  		color: #RobotoRegular;
                  		margin-top: 8px;
                  	}
                  }
        	}
        }
        .advant {
            border: 1px solid #dae2ed;
            padding: 18px;
            margin-top: 20px;
            .advant_content {
                .title {
                    border-bottom: 1px solid #dae2ed;
                    p {
                        font: 1.8em "RobotoBold";
                        padding-bottom: 16px;
                        margin: 0;
                    }
                }
                .blocks {
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: nowrap;
                    padding: 28px 0;
                    padding-bottom: 10px;
                    .block_advant {
                        p.top {
                            font: 1.4em "RobotoRegular";
                            text-align: center;
                            padding-top: 20px;
                            .black {
                                font-family: "RobotoBold";
                            }
                            .red {
                                color: #ff7519;
                            }
                        }
                        p.bottom {
                            font: 1.2em "RobotoRegular";
                            color: #999999;
                            text-align: center;
                            padding-top: 3px;
                            .red {
                                color: #ff7519;
                            }
                        }
                        .img {
                            height: 43px;
                        }
                        .img1 {
                            background: url(../img/advant1.svg) no-repeat center center;
                            background-size: contain;
                        }
                        .img2 {
                            background: url(../img/advant2.svg) no-repeat center center;
                            background-size: contain;
                        }
                        .img3 {
                            background: url(../img/advant3.svg) no-repeat center center;
                            background-size: contain;
                        }
                        .img4 {
                            background: url(../img/advant4.svg) no-repeat center center;
                            background-size: contain;
                        }
                    }
                }
            }
        }
        .question {
            border: 1px solid #dae2ed;
            padding: 18px;
            margin-top: 19px;
            .question_content {
                .title {
                    border-bottom: 1px solid #dae2ed;
                    display: flex;
                    justify-content: space-between;
                    p {
                        font: 1.8em "RobotoBold";
                        padding-bottom: 16px;
                        margin: 0;
                    }
                    a {
                        font: 1.3em "RobotoRegular";
                        height: 13px;
                    }
                }
                ul {
                	margin: 0;
                	padding: 0;
                	list-style: none;
                	margin-top: 13px;
                	a {
                		font: 1.4em "RobotoRegular";
                		color: #074f93;
                		text-decoration: underline;
                		margin-bottom: 6px;
                		display: block;
                	}
                }
            }
        }
        .seo {
               border: 1px solid #dae2ed;
            padding: 18px;
            margin-top: 19px;
            .seo_content {
            	display: flex;
            	p {
            		font: 1.4em "RobotoRegular";
            		line-height: 160%;
            	}
            }
        }
    }
}


@media screen and (max-width: 992px) {
	.catalog .catalog_content .block {
		width: 50%;
	}
	.catalog .catalog_content .question .question_content .title a {
		min-width: 90px;
	}
	.catalog .catalog_content .question {
		padding-top: 0px;
	}
	.catalog .catalog_content .question .question_content .title p {
		padding-top: 16px;
	}
	.catalog .catalog_content .question .question_content .title {
		align-items: center;
	}
	.catalog .catalog_content .search .search_content {
	flex-direction: column;
	}
.catalog .catalog_content .search .search_content ul {
	padding-bottom: 30px;
}
.catalog .catalog_content .search .search_content .title p {
	font-size: 1.6em;
}
.catalog .catalog_content .advant .advant_content .title p {
	font-size: 1.6em;
}
.catalog .catalog_content h3 {
	font-size: 2em;
}
.catalog .catalog_content .advant .advant_content .blocks {
        flex-flow: row wrap;
        padding-bottom: 0;
    }
    .catalog .catalog_content .advant .advant_content .blocks .block_advant {
        width: 50%;
        margin-bottom: 15px;
    }
    .catalog .catalog_content .seo .seo_content {
    	flex-direction: column;
    	align-items: center;
    }
    .catalog .catalog_content .seo .seo_content p {
    	padding-top: 15px;
    }
}



@media screen and (max-width: 479px) {
	.catalog .catalog_content .block {
		width: 100%;
		max-height: 1000px;
	}
	.catalog .catalog_content .tags .slide a {
	}
	.catalog .catalog_content .tags .carousel {
		max-width: 80%;
	}
	.catalog .catalog_content .advant .advant_content .blocks .block_advant {
        width: 100%;
        margin-bottom: 37px;
    }
    .catalog .catalog_content .question .question_content ul a {
    	margin-bottom: 10px;
    }
}