#card {
    padding-top: 8px;
    h4 {
        font: 2.4em "RobotoBold";
        color: #333333;
    }
    .info {
        display: flex;
        align-items: center;
        margin-bottom: 8px;
        .articule {
            background: #fef2b4;
            margin-right: 15px;
            p {
                font: 1.2em "RobotoRegular";
                color: #52647b;
                padding: 5px 13px;

                span {
                    color: #333333;
                }
            }
        }
        .availability_c {
            p {
                font: 1.4em "RobotoRegular";
                color: #00a650;
            }
        }
    }

    .card_content {
        border: 1px solid #dae2ee;
        margin: 0;
        position: relative;
        .new {
            position: absolute;
            left: 15px;
            width: 60px;
            height: 29px;
            background: #ff6a00;
            top: 0;
            clip-path: polygon(100% 0, 100% 82%, 50% 100%, 0 82%, 0 0);
            z-index: 1;
            padding-top: 5px;
            p {
                font: 0.9em "OpenSansRegular";
                text-transform: uppercase;
                text-align: center;
                color: #fff;
            }
        }
        .gallery_content {
            padding-top: 20px;
        }
        .slider-for {
            .slide {
                outline: none;
                a {
                    outline: none;
                    display: block;
                    width: 85%;
                    margin: 0 auto;
                }
                img {
                    width: 100%;
                    display: block;
                }
            }
        }
        .nav {
            padding: 0 27px;
            position: relative;
            margin-top: 18px;
            .btn_left,
            .btn_right {
                display: flex;
                align-items: center;
                height: 100%;
                .btn {
                    width: 22px;
                    height: 37px;
                    background: url(../img/arrow_before.png);
                    cursor: pointer;
                    &:hover {
                        background: url(../img/arrow_hover.png);
                    }
                }
            }
            .btn_left {
                position: absolute;
                left: 0;
                top: 0;
                .btn {
                    &:hover {
                        transform: rotate(180deg);
                    }
                }
            }
            .btn_right {
                position: absolute;
                right: 0;
                top: 0;
                .btn {
                    transform: rotate(180deg);
                    &:hover {
                        transform: rotate(0deg);
                    }
                }
            }
        }
        .slider-nav {
            .slide {
                border: 2px solid #e9eef5;
                margin: 0 2px;
                outline: none;
                cursor: pointer;
                img {
                    width: 100%;
                    padding: 10px 4px;
                }
            }
        }
        .links {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 20px;
            margin-bottom: 28px;
            .link {
                display: flex;
                position: relative;
                .popup {
                    height: 149px;
                    width: 179px;
                    position: absolute;
                    display: none;
                    z-index: 10;
                    background: #fff;
                    top: -170px;
                    box-shadow: 0px 0px 56px 1px rgba(184, 184, 184, 1);
                    &:before {
                        content: '';
                        display: block;
                        position: absolute;
                        bottom: -11px;
                        left: 54px;
                        width: 18px;
                        border-top: 11px solid #fff;
                        border-right: 18px solid transparent;
                    }
                    .close_icon {
                        position: absolute;
                        right: 11px;
                        top: 11px;
                        background: url(../img/close_icon.png);
                        height: 11px;
                        width: 11px;
                        cursor: pointer;
                    }
                    a {
                        display: block;
                        font: 1.3em "OpenSansRegular";
                        color: #000;
                        padding-left: 25px;
                        margin-top: 22px;
                        margin-left: 20px;
                    }
                    .link1 {
                        background: url(../img/icon_facebook.png) no-repeat left center;
                    }
                    .link2 {
                        background: url(../img/icon_twitter.png) no-repeat left center;
                    }
                    .link3 {
                        background: url(../img/icon_insta.png) no-repeat left center;
                    }
                }
                .popup_active {
                    display: block;
                }
                a {
                    font: 1.1em "Robotolight";
                    text-decoration: none;
                    color: #004993;
                    margin-left: 7px;
                }
                .icon1 {
                    background: url(../img/link_content_1.png);
                    width: 20px;
                    height: 11px;
                    margin-top: 2px;
                }
                .icon2 {
                    background: url(../img/link_content_2.png);
                    width: 24px;
                    height: 18px;
                }
                .icon3 {
                    background: url(../img/link_content_5.png);
                    width: 17px;
                    height: 18px;
                }
                .icon4 {
                    background: url(../img/link_content_6.png);
                    width: 19px;
                    height: 18px;
                }
            }
        }
        .information {
            padding: 15px;
            .banner {
                border: 2px solid #ff6a00;
                display: flex;
                align-items: center;
                height: 92px;
                img {
                    width: 43px;
                    margin: 0 16px;
                }
                .txt {
                    p {
                        font: 1.5em "RobotoRegular";
                        color: #ff6a00;
                        padding-bottom: 5px;
                    }
                    a {
                        font: 1.3em "RobotoRegular";
                        color: #004993;
                        span {
                            display: inline-block;
                            background: url(../img/icon_arrow.png);
                            width: 10px;
                            height: 6px;
                            transform: rotateZ(180deg);
                            margin-left: 6px;
                        }
                    }
                }
            }
            .price {
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                p {
                    font: 2em "RobotoBold";
                    position: relative;
                    padding-top: 15px;
                    margin-top: 12px;
                    span {
                        position: absolute;
                        font: 13px "RobotoRegular";
                        text-decoration: line-through;
                        left: 0;
                        top: 0;
                    }
                }
                a {
                    font: 1.3em "RobotoRegular";
                    color: #004993;
                    padding-left: 26px;
                    background: url(../img/price_icon.png) no-repeat left center;
                }
            }
            .btn_to_cart {
                display: block;
                text-align: center;
                font: 1.6em "RobotoRegular";
                color: #fff;
                padding: 10px 0;
                transition: .3s ease;
                text-decoration: none;
                border-radius: 4px;
                background: url(../img/bg_btn.png) no-repeat;
                background-position: 15px 50%;
                margin-top: 5px;
                background-color: #ff6a00;
                &:hover {
                    background-color: #e86000;
                }
            }
            .btn_credit {
                font: 1.3em "RobotoRegular";
                color: #004993;
                padding-left: 26px;
                display: block;
                background: url(../img/link_content_3.png) no-repeat center left;
                margin-top: 10px;
            }
            .buy {
                display: block;
                width: 100%;
                .inputs {
                    display: flex;
                }
                p {
                    font: 1.3em "RobotoRegular";
                    white-space: nowrap;
                    padding-top: 12px;
                    padding-bottom: 5px;
                }
                .input {
                    display: block;
                    height: 36px;
                    width: 154px;
                    border: 1px solid #dae2ee;
                    border-radius: 7px 0 0 7px;
                    font: 1.3em "RobotoRegular";
                    padding-left: 5px;
                    color: #999999;
                    outline: none;
                }
                .submit {
                    display: block;
                    height: 36px;
                    border: none;
                    cursor: pointer;
                    font: 1.6em "RobotoRegular";
                    color: #fff;
                    width: 80px;
                    padding-bottom: 3px;
                    border-radius: 0 7px 7px 0;
                    background: #b8c6d3;
                    transition: .3s ease;
                    &:hover {
                        background: #ff6a00;
                    }
                }
            }
            .options {
                margin-top: 12px;
                .option {
                    padding-top: 2px;
                    display: flex;
                    justify-content: space-between;
                    .left {
                        font: 1.4em "RobotoRegular";
                        color: #999999;
                    }
                    .right {
                        font: 1.4em "RobotoBold";
                    }
                }
                .opt6 span,
                .opt7 span {
                    display: inline-block;
                    width: 16px;
                    height: 11px;
                    width: 16px;
                    margin-right: 7px;
                }
                .opt6 span {
                    background: url(../img/honda.png);
                }
                .opt7 span {
                    background: url(../img/china.png);
                }
            }
        }
        .delivery {
            border-left: 1px solid #dae2ee;
            margin-top: 15px;
            margin-bottom: 15px;
            .delivery_block {
                p {
                    font: 1.5em "RobotoBold";
                    display: flex;
                    align-items: center;
                    padding-bottom: 4px;
                    .left {
                        display: inline-block;
                        background: url(../img/delivery_icon_1.png);
                        width: 23px;
                        height: 24px;
                        margin-right: 9px;
                    }
                    .right {
                        display: inline-block;
                        background: url(../img/span_right.png);
                        width: 15px;
                        height: 14px;
                        margin-left: 9px;
                    }
                }
                .link {
                    padding-bottom: 7px;
                }
                a {
                    font: 1.3em "RobotoRegular";
                    color: #004993;
                    border-bottom: 1px dashed #004993;
                    text-decoration: none;

                }
            }
        }
        .pay_block {
            p {
                    font: 1.5em "RobotoBold";
                    display: flex;
                    align-items: center;
                    padding-top: 10px;
                    .left {
                        display: inline-block;
                        background: url(../img/delivery_icon_2.png);
                        background-size: contain;
                        width: 23px;
                        height: 24px;
                        margin-right: 9px;
                    }
                    .right {
                        display: inline-block;
                        background: url(../img/span_right.png);
                        width: 15px;
                        height: 14px;
                        margin-left: 9px;
                    }
                }
            a {
                height: 24px;
                display: block;
                margin-right: 8px;
            }
            .links {
                display: flex;
                flex-flow: row wrap;
                justify-content: flex-start;
                margin: 0;
                margin-top: 4px;
            }
            .link1 {
            background: url(../img/pay1.png);
            width: 39px;
           }
           .link2 {
            background: url(../img/pay2.png);
            width: 29px;
           }
           .link3 {
           background: url(../img/pay3.png);
           width: 20px;
           }
           .link4 {
            background: url(../img/pay4.png);
            width: 17px;
           }
           .link5 {
           background: url(../img/pay5.png);
           width: 20px;
           }
           .link6 {
            background: url(../img/pay6.png);
            width: 19px;
           }
           .link7 {
            background: url(../img/pay7.png);
            width: 79px;
           }
           .link8 {
            background: url(../img/pay8.png);
            width: 92px;
           }
        }
        .guarantee_block {
            p {
                    font: 1.5em "RobotoBold";
                    display: flex;
                    align-items: center;
                    padding-top: 14px;
                    .left {
                        display: inline-block;
                        background: url(../img/delivery_icon_3.png);
                        background-size: contain;
                        width: 23px;
                        height: 24px;
                        margin-right: 9px;
                    }
                    .right {
                        display: inline-block;
                        background: url(../img/span_right.png);
                        width: 15px;
                        height: 14px;
                        margin-left: 9px;
                    }
                }
                .ul {
                    padding-top: 10px;
                    p {
                        font: 1.3em "RobotoRegular";
                        padding: 0;
                    }
                }
        }
        .links_guarantee {
            margin-top: 30px;
            a {
                display: block;
                border: 1px solid #dae2ee;
                border-radius: 7px;
                font: 1.6em "RobotoRegular";
                color: #526379;
                text-decoration: none;
                height: 38px;
                width: 90%;
                padding-top: 6px;
                padding-left: 25%;
                margin-bottom: 8px;
            }
            .first {
                background: url("../img/services_icon.png") no-repeat;
                background-position: 10% 50%;
            }
            .second {
                background: url("../img/clock icon.png") no-repeat;
                background-position: 10% 50%;
            }
        }
        #tabs {
            padding: 0;
            .tab_name {
                display: flex;
                width: 100%;
                justify-content: space-between;
                border-top: 1px solid #dae2ee;
                border-bottom: 1px solid #dae2ee;
                padding: 0 15px;
                height: 50px;
                align-items: center;
                .line {
                        width: 1px;
                        background-color: #dae2ee;
                        height: 10px;
                     }
                .tab_item {
                    height: 100%;
                    cursor: pointer;
                    border-bottom: 3px solid transparent;
                     p {
                        font: 1.8em "RobotoRegular";
                        display: block;
                        height: 100%;
                        padding-top: 11px;
                        padding-left: 14px;
                        padding-right: 14px;
                     }
                }
                .active {
                        border-bottom: 3px solid #ff7500;
                     }
            }
        }
    }
}