#hierarchy {
    display: none;
}
                .active_p {
                    border-bottom: 1px solid #ff7519;
                    margin-bottom: -1px;
                    color: #ff7519;
                }
.catalog {
    .catalog_content {
        .banner {
            a {
                display: block;
                width: 100%;
                height: 201px;
                background: url(../img/banner.jpg) no-repeat center center;
            }
        }
        .about {
            border: 1px solid #dae2ed;
            padding: 18px;
            margin-top: 13px;
            .about_content {}
            .tab_name {
                border-bottom: 1px solid #dae2ed;
                display: flex;
                p {
                    margin: 0;
                    font: 1.8em "RobotoBold";
                    margin-right: 47px;
                    cursor: pointer;
                    padding: 0 15px;
                    padding-bottom: 16px;
                    line-height: 120%;
                    display: block;
                    border-bottom: 1px solid transparent;
                }
            }
            .tab_item {
                .tab_content {
                    display: flex;
                    justify-content: space-between;
                    padding-top: 16px;
                }
                .content {
                    p {
                        font: 1.4em "RobotoBold";
                        padding-top: 16px;
                        padding-bottom: 10px;
                    }
                    ul {
                        margin: 0;
                        padding: 0;
                        list-style: none;
                        a {
                            font: 1.3em "RobotoRegular";
                            color: #004b91;
                        }
                        li {
                            padding-bottom: 5px;
                        }
                    }
                }
                .line {
                    width: 1px;
                    height: auto;
                    background: #dae2ed;
                }
            }
        }
        .advant {
            border: 1px solid #dae2ed;
            padding: 18px;
            margin-top: -1px;
            .advant_content {
                .title {
                    border-bottom: 1px solid #dae2ed;
                    p {
                        font: 1.8em "RobotoBold";
                        padding-bottom: 16px;
                        margin: 0;
                    }
                }
                .blocks {
                    display: flex;
                    justify-content: space-between;
                    padding: 28px 0;
                    padding-bottom: 10px;
                    .block {
                        p.top {
                            font: 1.4em "RobotoRegular";
                            text-align: center;
                            padding-top: 20px;
                            .black {
                                font-family: "RobotoBold";
                            }
                            .red {
                                color: #ff7519;
                            }
                        }
                        p.bottom {
                            font: 1.2em "RobotoRegular";
                            color: #999999;
                            text-align: center;
                            padding-top: 3px;
                            .red {
                                color: #ff7519;
                            }
                        }
                        .img {
                            height: 43px;
                        }
                        .img1 {
                            background: url(../img/advant1.svg) no-repeat center center;
                            background-size: contain;
                        }
                        .img2 {
                            background: url(../img/advant2.svg) no-repeat center center;
                            background-size: contain;
                        }
                        .img3 {
                            background: url(../img/advant3.svg) no-repeat center center;
                            background-size: contain;
                        }
                        .img4 {
                            background: url(../img/advant4.svg) no-repeat center center;
                            background-size: contain;
                        }
                    }
                }
            }
        }
        .shares {
            border: 1px solid #dae2ed;
            padding: 18px;
            margin-top: 19px;
            .shares_content {
                .carousel_block {
                    overflow: hidden;
                    margin: 0 -20px;
                    margin-top: 20px;
                }
                .owl2 {
                    margin-left: -1px;
                }
                .tab_name {
                    position: relative;
                    border-bottom: 1px solid #dae2ed;
                    display: flex;
                    p {
                        margin: 0;
                        font: 1.8em "RobotoBold";
                        margin-right: 47px;
                        cursor: pointer;
                        padding: 0 15px;
                        padding-bottom: 16px;
                        line-height: 120%;
                        display: block;
                        margin-bottom: -1px;
                        border-bottom: 1px solid transparent;
                    }
                    .tab_arrows {
                        display: flex;
                        position: absolute;
                        right: 0px;
                        top: 4px;
                        .line {
                            width: 1px;
                            height: 10px;
                            background: #dae2ee;
                            margin: 0 14px;
                        }
                        .arrow_left_owl2,
                        .arrow_right_owl2 {
                            width: 7px;
                            height: 13px;
                            cursor: pointer;
                        }
                        .arrow_left_owl2 {
                            background: url(../img/arl.png);
                        }
                        .arrow_right_owl2 {
                            background: url(../img/arr.png);
                        }
                    }
                }
                .tab_item {
                    .tab_content1,
                    .tab_content2 {
                        display: flex;
                        justify-content: space-between;
                        padding-top: 16px;
                    }
                    .slide {
                        padding: 0 20px;
                        border-left: 1px solid #dae2ed;
                        border-right: 1px solid #dae2ed;
                        margin-right: -1px;
                        .title {
                            .availability {
                                font: 1.2em "RobotoRegular";
                                color: #00a453;
                                padding-top: 17px;
                            }
                            .name {
                                font: 1.4em "RobotoRegular";
                                color: #004b91;
                                text-decoration: none;
                                display: block;
                                margin-top: 5px;
                                margin-bottom: 8px;
                            }
                        }
                        .options {
                            .option {
                                display: flex;
                                justify-content: space-between;
                                .left {
                                    font: 1.2em "RobotoRegular";
                                    color: #999999;
                                    line-height: 170%;
                                }
                                .right {
                                    font: 1.4em "RobotoBold";
                                }
                            }
                        }
                        .price {
                            display: flex;
                            justify-content: space-between;
                            align-items: flex-end;
                            p {
                                font: 1.8em "RobotoBold";
                                display: block;
                                position: relative;
                                margin-top: 15px;
                                margin-bottom: 0;
                                text-decoration: line-through;
                                span {
                                    font: 13px "RobotoRegular";
                                    position: absolute;
                                    left: 0;
                                    top: -1em;
                                }
                            }
                            a {
                                width: 118px;
                                height: 24px;
                                background: #ff6a00;
                                color: #fff;
                                font: 1.3em "RobotoRegular";
                                position: relative;
                                display: block;
                                padding-left: 40px;
                                padding-top: 2px;
                                text-decoration: none;
                                border-radius: 3px;
                                span {
                                    position: absolute;
                                    background: url(../img/arr_btn.png) no-repeat center left;
                                    width: 16px;
                                    height: 12px;
                                    display: block;
                                    left: 10px;
                                    top: 6px;
                                }
                            }
                        }
                        .links {
                            display: flex;
                            justify-content: space-between;
                            padding: 5px 16px;
                            background: #f2f6fa;
                            margin-top: 10px;
                            a {
                                display: block;
                                height: 18px;
                                width: 20px;
                            }
                            .icon1 {
                                background: url(../img/link_content_1.png) no-repeat center center;
                                background-size: contain;
                            }
                            .icon2 {
                                background: url(../img/link_content_2.png) no-repeat center center;
                                background-size: contain;
                            }
                            .icon3 {
                                background: url(../img/link_content_3.png) no-repeat center center;
                                background-size: contain;
                            }
                            .icon4 {
                                background: url(../img/link_content_4.png) no-repeat center center;
                                background-size: contain;
                            }
                            .icon5 {
                                background: url(../img/link_content_5.png) no-repeat center center;
                                background-size: contain;
                            }
                        }
                    }
                }
            }
        }
        .news {
        	border: 1px solid #dae2ed;
            padding: 18px;
            margin-top: 19px;
        	.news_content {
              .title {
                    border-bottom: 1px solid #dae2ed;
                    display: flex;
                    justify-content: space-between;
                    p {
                        font: 1.8em "RobotoBold";
                        padding-bottom: 16px;
                        margin: 0;
                    }
                    a {
                    	display: block;
                    	font: 1.3em "RobotoRegular";
                    }
                }
                .blocks {
                	display: flex;
                	justify-content: space-between;
                	margin-top: 20px;
                	.line {
                		width: 2px;
                    height: auto;
                    background: #dae2ed;
                    margin: 0 21px;
                	}
                	.block {
                		img {
                			width: 100%;
                			height: auto;
                		}
                	}
                	.date {
                		font: 1.2em "RobotoRegular";
                		color: #999999;
                		padding-top: 7px;
                		padding-bottom: 3px;
                	}
                	.link {
                		font: 1.4em "RobotoRegular";
                		color: #004b91;
                		text-decoration: none;
                	}
                	.txt {
                		padding-top: 10px;
                		font: 1.4em "RobotoRegular";
                	}
                }
        	}
        }
    }
}