ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.filter_show_btn {
    cursor: pointer;
    width: 100%;
    border: none;
    background-color: #78a1b3;
    border-radius: 1px solid #95b5c3;
    height: 40px;
    margin: 0px 10px;
    margin-bottom: 30px;
    border-radius: 3px;
    color: #fff;
    transition: .3s;
    display: none;
}

// banner top
.card_banner_box {
    margin-top: 0;
}

.brand_country {
    .content_title {
        font-size: 18px;
        color: #1e0602;
        font-weight: bold;
        padding-top: 25px;
        padding-bottom: 20px;
        display: block;
    }
    .all_collections_content {
        border: 1px solid #e5e5e5;
        padding: 25px 40px;
        background-color: #fff;
        ul {
            margin: 0;
            padding: 0;
            margin: 0px -40px -25px -40px;
            list-style: none;
            display: flex;
            flex-wrap: wrap;
        }
        li {
            width: 12.5%;
            text-align: center;
            margin-bottom: 20px;
            a {
                color: #585858;
                position: relative;
                &:hover .droppable_preview {
                    opacity: 1;
                    visibility: visible;
                    transform: translate3d(0, 0, 0) scale(1) rotateX(0);
                }
            }
        }
    }
}

.category-name {
    .title {
        color: #1e0602;
        font-size: 30px;
        margin-bottom: 20px;
        display: flex;
        flex: 1;
        align-items: center;
    }

    .title .button_back {
        -ms-flex-positive: 0;
        flex-grow: 0;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        width: 30px;
        height: 30px;
        border-radius: 3px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        background-color: #fff;
        text-align: center;
        line-height: 28px;
        display: none;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-right: 18px;
    }

    @media screen and (max-width: 567px) {
        .title .button_back {
            display: -ms-flexbox;
            display: flex;
        }
    }
    .title .button_back i {
        color: rgba(0, 0, 0, 0.4);
        display: inline-block;
        vertical-align: middle;
        font-size: 16px;
    }
    .title_general {
        -ms-flex-positive: 1;
        flex-grow: 1;
        color: #1e0602;
        font-size: 30px;
        font-weight: normal;
        margin: 0;
    }

    @media screen and (max-width: 567px) {
        .title_general {
            font-size: 14px;
            line-height: 1.4;
        }
    }
}
.product_slider {
    margin-top: 40px;
    margin-bottom: 20px;
}
.sort-line {
    margin-bottom: 30px;
    position: relative;
    z-index: 2;
    .sort-line-content {
        border: 1px solid #e5e5e5;
        background: #fff;
        height: 50px;
        display: flex;
    }
    .section {
        display: flex;
        border-right: 1px solid #e5e5e5;
        align-items: center;
        justify-content: center;
        width: 6%;
        overflow: hidden;
        position: relative;
        transition: 0.6s ease;
    }
    a.static {
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        //display: none;
    }
    .linage {
        width: 11%;
        border-right: 0;
        justify-content: center;
        .list,
        .block {
            width: 16px;
            height: 16px;
            margin: 0 10px;
        }
        .list {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 18px;
            span {
                display: block;
                background-color: #d9d9d9;
                height: 2px;
                width: 100%;
            }
        }
        .block {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            span {
                display: block;
                background-color: #d9d9d9;
                height: 7px;
                width: 7px;
                position: relative;
                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    bottom: -9px;
                    height: 7px;
                    width: 7px;
                    background-color: inherit;
                }
            }
        }
        .place {
            width: 14px;
            height: 19px;
            background: url(../images/icons/icon_place.png) no-repeat center center;
            margin: 0 10px;
        }
    }
    ul.link_list {
        display: flex;
        a {
            display: block;
            text-align: center;
            width: 12px;
            margin: 0 -10px;
            opacity: 0;
            transition: margin .6s ease, opacity .5s ease;
            color: #585858;
        }
        li {
            overflow: hidden;
        }
        li:first-child {
            overflow: visible;
            a {
                opacity: 1;
                margin: 0 3px;
                position: relative;
                &:after {
                    content: '−';
                    position: absolute;
                    top: 50%;
                    right: 0px;
                    transform: translate(100%, -50%);
                    opacity: 1;
                    visibility: visible;
                    transition: .6s ease;
                }
            }
        }
        li:last-child {
            a {
                opacity: 1;
                margin: 0 3px;
                position: relative;
            }
        }
    }
    .active_section {
        width: 71%;
        .static {
            display: none;
        }
        .link_list a {
            margin: 0 3px !important;
            opacity: 1;
        }
        li:first-child a:after {
            opacity: 0 !important;
            visibility: hidden !important;
        }
    }
}

.more_cards_btn {
    cursor: pointer;
    width: 100%;
    border: none;
    background-color: #78a1b3;
    border-radius: 1px solid #95b5c3;
    height: 40px;
    border-radius: 3px;
    color: #fff;
    transition: .3s;
    margin-top: 30px;
}

.paginator {
    display: flex;
    width: 100%;
    margin-top: 30px;
    .paginator_link_page {
        height: 48px;
        width: 9%;
        a {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            margin-right: -1px;
            position: relative;
            border-radius: 0px;
            z-index: 1;
            background-color: #ffffff;
        }
    }
    .prev,
    .next {
        width: 18.5%;
        a {
            position: relative;
        }
        a::before {
            display: none;
            font-family: 'Ico Moon' !important;
            font-size: 26px;
            color: #cfcfcf;
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            content: "\e921";
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .prev {
        a::before {
            content: "\e921\e921";
            letter-spacing: -2px;
        }
    }
    .active_pag_page {
        a {
            background: #f7f7f7;
            font-weight: bolder;
        }
    }
}

.all-brand-page {
    margin-top: 30px;
    margin-bottom: 40px;
    .catalog-page {
        margin-top: 30px;
    }
}

.bottom_line {
    display: block;
    height: 1px;
    width: 100%;
    background-color: #e8e8e8;
    margin-top: 20px;
    margin: 40px 0;
}

.popular_cat_block {
    margin: 40px 0;
    ul {
        display: flex;
        border: 1px solid #e6e6e6;
        background-color: #fff;
        width: 100%;
        padding: 40px 5px;
        li {
            width: 16.66%;
            padding: 0 35px;
        }
        .content_block {
            position: relative;
        }
        .content_block::before {
            content: "";
            display: block;
            padding-top: 90%;
        }
        a {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            opacity: 0.5;
            transition: .3s;
            &:hover {
                opacity: 1;
            }
        }
        img {
            width: 100%;
        }
        p {
            text-align: center;
            margin: 0;
        }
    }
}

.banner_block {
    margin: 40px 0;
}

.current_category {
    display: none;
}

.brand_list_container {
    margin: -10px -10px;
    column-count: 3;
    column-width: 33.33%;
    column-gap: 0px;
    .list_block_content {
        padding: 10px;
        display: inline-block;
        width: 100%;
    }
    .item_sign {
        font-size: 16px;
        font-weight: bold;
        line-height: 100%;
        padding-right: 17px;
        color: #1e0602;
    }
    .list_block {
        border: 1px solid #e5e5e5;
        padding: 20px;
        display: flex;
    }
    li {
        margin-bottom: 5px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    li a {
        font-size: 14px;
        color: #585858;
    }
}

//фильтр брендов
.filter {
    border: 1px solid #e5e5e5;
    border-bottom: none;
    background-color: #fff;
    .brand_section {
        padding: 0 20px;
        border-bottom: 1px solid #e6e6e6;
        .tab_title {
            padding: 20px 0;
            span {
                font-weight: bold;
                color: #000;
                font-size: 16px;
            }
        }
        .tab_content {
            .list {
                margin-bottom: 18px;
            }
            .dropdown {
                margin-bottom: 0;
            }
            .dropdown_list {
                display: none;
            }
            .button_more {
                padding: 8px 0px;
                cursor: pointer;
                width: 110px;
                text-align: center;
                white-space: nowrap;
                margin: 0;
                margin-bottom: 20px;
                margin-top: 15px;
                font-size: 100%;
            }
            li {
                margin-bottom: 4px;
            }
            span {
                text-decoration: none !important;
                margin-right: 0.2em;
            }
            a {
                color: #585858;
            }
        }
    }
}

.text_block {
    .block_content {
        display: flex;
        overflow: hidden;
        height: 72px;
        position: relative;
    }
    .block_content:after {
        content: "";
        width: 100%;
        height: 43px;
        position: absolute;
        left: 0;
        bottom: 0;
        background: linear-gradient(to bottom, rgba(250, 250, 250, 0.01) 0%, rgba(250, 250, 250, 0.17) 21%, rgba(250, 250, 250, 0.83) 79%, rgba(250, 250, 250, 0.99) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#03ffffff', endColorstr='#fcffffff', GradientType=0);
        opacity: 1;
        visibility: visible;
        transition: opacity .3s, visibility .3s;
    }

    .block_content.open:after {
        visibility: hidden;
        opacity: 0;
    }
    .title_list {
        font-size: 16px;
        font-weight: bold;
        color: #1e0602;
        padding-right: 30px;
        white-space: nowrap;
    }
    .txt {
        width: 100%;
        padding-top: 3px;
        color: #1e0602;
        font-size: 14px;
        line-height: 140%;
    }
    .button_more {
        margin-top: 15px;
    }
}

@media screen and (min-width: 1025px) {
    .more_cards_btn:hover {
        background-color: #7eb8d2;
        border-color: #7eb8d2;
    }
    .paginator_link_page a:hover {
        z-index: 2;
    }
    .brand_country a:hover,
    .filter .tab_content a:hover,
    .sort-line ul.link_list a:hover,
    .brand_list_container li a:hover {
        color: #197ac4 !important;
        text-decoration: underline !important;
    }
}



@media screen and (max-width: 1180px) {}

@media screen and (max-width: 1124px) {}

@media screen and (max-width: 992px) {}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 567px) {}