@font-face {
  font-family: "OswaldRegular";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Oswald/OswaldRegular.eot");
  src: url("../fonts/Oswald/OswaldRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/Oswald/OswaldRegular.woff") format("woff"), url("../fonts/Oswald/OswaldRegular.ttf") format("truetype"); }

@font-face {
  font-family: "OswaldMedium";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Oswald/OswaldMedium.eot");
  src: url("../fonts/Oswald/OswaldMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/Oswald/OswaldMedium.woff") format("woff"), url("../fonts/Oswald/OswaldMedium.ttf") format("truetype"); }

@font-face {
  font-family: "OswaldBold";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Oswald/OswaldBold.eot");
  src: url("../fonts/Oswald/OswaldBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Oswald/OswaldBold.woff") format("woff"), url("../fonts/Oswald/OswaldBold.ttf") format("truetype"); }

@font-face {
  font-family: "OswaldLight";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Oswald/OswaldLight.eot");
  src: url("../fonts/Oswald/OswaldLight.eot?#iefix") format("embedded-opentype"), url("../fonts/Oswald/OswaldLight.woff") format("woff"), url("../fonts/Oswald/OswaldLight.ttf") format("truetype"); }

@font-face {
  font-family: "OswaldMedium";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Oswald/OswaldMedium.eot");
  src: url("../fonts/Oswald/OswaldMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/Oswald/OswaldMedium.woff") format("woff"), url("../fonts/Oswald/OswaldMedium.ttf") format("truetype"); }

@font-face {
  font-family: "ProximaNovaSemiBold";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/ProximaNova/ProximaNova-Semibold.eot");
  src: url("../fonts/ProximaNova/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-Semibold.ttf") format("truetype"); }

@font-face {
  font-family: "ProximaNovaRegular";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/ProximaNova/ProximaNova-Regular.eot");
  src: url("../fonts/ProximaNova/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "ProximaNovaBlack";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/ProximaNova/ProximaNova-Black.eot");
  src: url("../fonts/ProximaNova/ProximaNova-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNova-Black.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-Black.ttf") format("truetype"); }

@font-face {
  font-family: "ProximaNovaThin";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/ProximaNova/ProximaNovaT-Thin.eot");
  src: url("../fonts/ProximaNova/ProximaNovaT-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNovaT-Thin.woff") format("woff"), url("../fonts/ProximaNova/ProximaNovaT-Thin.ttf") format("truetype"); }

@font-face {
  font-family: "ProximaNovaBold";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/ProximaNova/ProximaNova-Bold.eot");
  src: url("../fonts/ProximaNova/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-Bold.ttf") format("truetype"); }

.slider2 *,
.slider1 * {
  outline: none !important; }

h2 {
  font: 3.6em "OswaldMedium";
  text-transform: uppercase;
  text-align: center;
  padding-top: 76px;
  letter-spacing: 4px;
  color: #222222; }

body {
  font-size: 10px; }

.container {
  min-width: 320px; }

.wrap {
  position: relative;
  padding-top: 91px; }

#header {
  background: #eceaef;
  position: absolute;
  width: 100%;
  top: 0; }
  #header .content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 91px; }
    #header .content .logo a {
      display: block;
      background: url(../img/logo.png) no-repeat center center;
      width: 121px;
      height: 47px; }
    #header .content .nav ul {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      list-style: none;
      padding: 0;
      margin-right: 8px; }
      #header .content .nav ul li {
        margin-right: 45px;
        font: 1.5em "OswaldRegular";
        text-transform: uppercase;
        height: 91px;
        padding-top: 36px;
        -webkit-transition: .3s ease;
        -o-transition: .3s ease;
        transition: .3s ease;
        border-bottom: 3px solid transparent; }
        #header .content .nav ul li a {
          color: #222222;
          text-decoration: none;
          letter-spacing: 1px; }
      #header .content .nav ul li:last-child {
        margin-right: 0px; }
      #header .content .nav ul .active {
        border-color: #222222; }
    #header .content .numbers a {
      display: block;
      font: 1.7em "OswaldMedium";
      margin: 0;
      letter-spacing: 1px;
      text-align: center;
      color: #222222; }

#home {
  background: #0a0a0c url(../img/bg_home.jpg) no-repeat center top;
  -webkit-background-size: cover;
          background-size: cover;
  padding-bottom: 132px; }
  #home .content {
    max-width: 611px; }
  #home h1 {
    font: 5.2em "OswaldBold";
    text-transform: uppercase;
    padding-top: 143px;
    letter-spacing: 8px;
    padding-bottom: 19px;
    color: #fff; }
  #home p {
    font: 1.8em "ProximaNovaSemiBold";
    line-height: 1.35em;
    margin: 0;
    padding-bottom: 14px;
    color: #fff; }
  #home a {
    margin-top: 10px;
    display: block;
    height: 47px;
    width: 230px;
    background: #f02e53;
    -webkit-border-radius: 22px;
            border-radius: 22px;
    text-align: center;
    text-transform: uppercase;
    font: 1.5em "OswaldMedium";
    color: #fff;
    text-decoration: none;
    letter-spacing: 2px;
    padding-top: 12px;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease; }
    #home a:hover {
      background: #d61b3f; }

#help .row {
  padding-top: 60px; }
  #help .row .block .content {
    background: #f35472;
    height: 213px;
    padding: 20px;
    margin: 20px 0;
    position: relative;
    -webkit-border-radius: 10px;
            border-radius: 10px; }
    #help .row .block .content p {
      font: 1.6em "ProximaNovaRegular";
      color: #fff;
      padding-top: 18px;
      line-height: 150%; }
    #help .row .block .content .num {
      position: absolute;
      display: block;
      font: 9em "ProximaNovaBlack";
      color: rgba(0, 0, 0, 0.1);
      padding: 0;
      margin: 0;
      top: -52px;
      left: 15px; }

#help p.bottom {
  font: 1.6em "ProximaNovaRegular";
  padding: 0 51px;
  padding-top: 56px;
  line-height: 148%;
  padding-bottom: 93px;
  letter-spacing: 0.25px; }

#projects {
  background: #f7f7f7;
  padding-bottom: 115px; }
  #projects h2 {
    padding-top: 85px;
    letter-spacing: 3.5px;
    padding-bottom: 35px; }
  #projects .slider1 {
    padding: 0 24px;
    position: relative; }
  #projects img {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover; }
  #projects .slider_content {
    margin: 0;
    overflow: hidden; }
    #projects .slider_content .overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      z-index: 2;
      background: rgba(255, 255, 255, 0.9);
      padding: 20px;
      opacity: 0;
      -webkit-transition: .3s ease;
      -o-transition: .3s ease;
      transition: .3s ease; }
      #projects .slider_content .overlay h3 {
        font: 1.8em "OswaldMedium";
        text-transform: uppercase;
        padding-top: 24px;
        letter-spacing: 1.5px;
        padding-bottom: 15px; }
      #projects .slider_content .overlay p {
        font: 1.5em "ProximaNovaRegular";
        line-height: 150%;
        letter-spacing: 1px; }
    #projects .slider_content .slide {
      padding: 0 7px; }
      #projects .slider_content .slide .slide_content {
        height: 268px;
        border: 10px solid #fff;
        position: relative; }
        #projects .slider_content .slide .slide_content a {
          position: absolute;
          display: block;
          top: 0;
          height: 100%;
          width: 100%;
          z-index: 3;
          outline: none; }
          #projects .slider_content .slide .slide_content a:hover + .overlay {
            opacity: 1; }
  #projects .arrow_left1,
  #projects .arrow_right1 {
    height: 21px;
    width: 9px;
    position: absolute;
    top: 50%;
    margin-top: -10px;
    cursor: pointer; }
  #projects .arrow_left1 {
    left: 0;
    background: url(../img/arrow_left.png) no-repeat center center; }
  #projects .arrow_right1 {
    right: 0;
    background: url(../img/arrow_right.png) no-repeat center center; }

#reviews {
  background: #fdfdfd;
  padding-bottom: 120px; }
  #reviews h2 {
    padding-top: 105px; }
  #reviews .slider2 {
    padding: 53px 24px;
    position: relative; }
    #reviews .slider2 .shadow {
      position: absolute;
      width: 100%;
      top: 50%;
      left: 0;
      -webkit-box-shadow: 2px 9px 300px 34px #a3a1a3;
      box-shadow: 2px 9px 300px 34px #a3a1a3; }
  #reviews .slider_content {
    margin: 0;
    overflow: hidden; }
    #reviews .slider_content .head {
      padding-top: 12px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
    #reviews .slider_content .img {
      height: 62px;
      width: 62px;
      -webkit-border-radius: 31px;
              border-radius: 31px;
      overflow: hidden; }
      #reviews .slider_content .img img {
        width: 100%;
        height: 100%; }
    #reviews .slider_content .info {
      padding-left: 25px; }
      #reviews .slider_content .info h6 {
        font: 1.8em "OswaldLight";
        padding-top: 2px;
        text-transform: none;
        letter-spacing: 2px; }
        #reviews .slider_content .info h6 span {
          font: 1em "OswaldMedium";
          text-transform: uppercase; }
      #reviews .slider_content .info p {
        font: 1.4em "OswaldLight";
        line-height: 100%;
        letter-spacing: 1px; }
    #reviews .slider_content .txt p {
      font: 1.4em "ProximaNovaRegular";
      padding-top: 15px;
      padding-left: 4px;
      line-height: 145%;
      letter-spacing: 0.5px; }
    #reviews .slider_content .slide {
      padding: 0px 7px; }
      #reviews .slider_content .slide .slide_content {
        height: 253px;
        position: relative;
        background: #ffffff;
        padding: 28px;
        -webkit-border-radius: 10px;
                border-radius: 10px; }
  #reviews .arrow_left2,
  #reviews .arrow_right2 {
    height: 21px;
    width: 9px;
    position: absolute;
    top: 50%;
    margin-top: -10px;
    cursor: pointer; }
  #reviews .arrow_left2 {
    left: 0;
    background: url(../img/arrow_left.png) no-repeat center center; }
  #reviews .arrow_right2 {
    right: 0;
    background: url(../img/arrow_right.png) no-repeat center center; }

#info {
  background: url(../img/bg_form.png) no-repeat;
  background-position: 70% 100%; }
  #info .content h2 {
    padding-top: 108px;
    padding-bottom: 15px; }
  #info .content p {
    font: 1.6em "ProximaNovaRegular";
    text-align: center;
    letter-spacing: 0.5px;
    padding-bottom: 73px; }
  #info .content form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 576px;
    margin: 0 auto; }
    #info .content form .input {
      width: 100%;
      height: 51px;
      margin-bottom: 31px;
      font: 1.7em "ProximaNovaRegular";
      padding-left: 21px;
      border: 1px solid #c3c3c3;
      -webkit-border-radius: 25px;
              border-radius: 25px;
      outline: none; }
    #info .content form .text {
      width: 100%;
      height: 112px;
      font: 1.7em "ProximaNovaRegular";
      padding: 15px 21px;
      -webkit-border-radius: 25px;
              border-radius: 25px;
      resize: none;
      border: 1px solid #c3c3c3;
      margin-bottom: 17px;
      outline: none; }
    #info .content form p {
      text-align: left;
      font: 1.4em "ProximaNovaThin";
      padding-left: 30px;
      margin: 0;
      padding-bottom: 26px; }
    #info .content form .check {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      padding-left: 27px;
      padding-bottom: 24px; }
      #info .content form .check input {
        height: 17px;
        width: 17px;
        background: #fff;
        border: 1px solid #c3c3c3;
        -webkit-border-radius: 0px;
                border-radius: 0px; }
      #info .content form .check p {
        font: 1.6em "ProximaNovaThin";
        padding-left: 8px; }
    #info .content form .submit {
      width: 190px;
      height: 48px;
      margin: 0 auto;
      -webkit-border-radius: 24px;
              border-radius: 24px;
      background: #f02e53;
      border: none;
      font: 1.5em "OswaldMedium";
      text-transform: uppercase;
      color: #fff;
      letter-spacing: 2px;
      -webkit-transition: .3s ease;
      -o-transition: .3s ease;
      transition: .3s ease;
      cursor: pointer;
      margin-bottom: 100px; }
      #info .content form .submit:hover {
        background: #d61b3f; }

#services .content {
  padding-bottom: 111px; }

#services h2 {
  padding-top: 97px;
  letter-spacing: 3.5px;
  padding-bottom: 45px; }

#services .tabs .icon {
  height: 30%;
  width: 30%; }

#services .tabs .icon1 {
  background: url(../img/icon1.png) no-repeat center center;
  -webkit-background-size: contain;
          background-size: contain; }

#services .tabs .icon2 {
  background: url(../img/icon2.png) no-repeat center center;
  -webkit-background-size: contain;
          background-size: contain; }

#services .tabs .icon3 {
  background: url(../img/icon3.png) no-repeat center center;
  -webkit-background-size: contain;
          background-size: contain; }

#services .tabs .icon4 {
  background: url(../img/icon4.png) no-repeat center center;
  -webkit-background-size: contain;
          background-size: contain; }

#services .tabs .icon5 {
  background: url(../img/icon5.png) no-repeat center center;
  -webkit-background-size: contain;
          background-size: contain;
  margin-top: 24px; }

#services .tabs .tab_items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -6px;
  position: relative;
  z-index: 2; }

#services .tabs .block {
  width: 20%;
  margin: 0 6px;
  padding-bottom: 12px; }
  #services .tabs .block:hover .content_tab {
    border-color: #e8375a; }

#services .tabs .tab_item {
  position: relative;
  width: 100%; }
  #services .tabs .tab_item::before {
    content: "";
    display: block;
    padding-top: 100%; }
  #services .tabs .tab_item .content_tab {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid #dddddd;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    #services .tabs .tab_item .content_tab p {
      font: 1.8em "OswaldMedium";
      text-transform: uppercase;
      text-align: center;
      padding-top: 20px;
      color: #222222; }
  #services .tabs .tab_item .active_t {
    border: none; }

#services .tabs_content {
  border: 1px solid #e8375a;
  background: #f7f7f7;
  position: relative;
  z-index: 1;
  margin-top: -1px;
  padding: 30px 20px; }
  #services .tabs_content .tab_content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  #services .tabs_content .block_content {
    width: 20%;
    margin: 6px;
    max-height: 220px;
    overflow: hidden;
    -webkit-box-shadow: 4px 5px 80px -6px #d6d3d6;
    box-shadow: 4px 5px 80px -6px #d6d3d6; }
    #services .tabs_content .block_content .responsive_block {
      position: relative; }
      #services .tabs_content .block_content .responsive_block::before {
        content: "";
        display: block;
        padding-top: 100%; }
      #services .tabs_content .block_content .responsive_block .tab_content_b {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border: 1px solid #dddddd;
        cursor: pointer;
        background: #fff;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        padding: 10px; }
        #services .tabs_content .block_content .responsive_block .tab_content_b a {
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%; }
          #services .tabs_content .block_content .responsive_block .tab_content_b a:hover ~ p {
            text-decoration: underline; }
        #services .tabs_content .block_content .responsive_block .tab_content_b img {
          height: 40%;
          width: auto;
          margin-top: 13%; }
        #services .tabs_content .block_content .responsive_block .tab_content_b p {
          font: 1.8em "OswaldRegular";
          text-align: center;
          padding-top: 20px;
          -webkit-transition: .3s ease;
          -o-transition: .3s ease;
          transition: .3s ease;
          margin: 0;
          letter-spacing: 2px;
          color: #222222; }

#services .active {
  border: 1px solid #e8375a;
  border-bottom: 1px solid #f7f7f7;
  background: #f7f7f7; }

#footer {
  background-color: #e6e6e6; }
  #footer .top {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 52px;
    padding-bottom: 23px; }
    #footer .top .item_left a {
      display: block;
      width: 119px;
      height: 44px;
      background: url(../img/logo_footer.png) no-repeat; }
    #footer .top .item_left p {
      font: 1.5em "ProximaNovaRegular";
      padding-top: 25px;
      line-height: 140%;
      margin: 0;
      color: #929292; }
    #footer .top .item_center p {
      font: 1.5em "ProximaNovaRegular";
      margin: 0;
      letter-spacing: 1px;
      color: #929292;
      padding-bottom: 15px;
      text-align: center; }
    #footer .top .item_right a {
      display: block;
      font: 1.9em "ProximaNovaBold";
      color: #000;
      text-align: right;
      line-height: 140%; }
    #footer .top .item_right p {
      padding-top: 18px;
      font: 1.5em "ProximaNovaRegular";
      text-align: right;
      padding-bottom: 10px;
      color: #929292; }
    #footer .top .item_right .socials {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      #footer .top .item_right .socials a {
        font-size: 2em;
        color: #929292;
        -webkit-transition: .3s ease;
        -o-transition: .3s ease;
        transition: .3s ease; }
        #footer .top .item_right .socials a:hover {
          color: #000; }
  #footer .line {
    height: 1px;
    background: #c4c4c4; }
  #footer .nav ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto;
    list-style: none;
    max-width: 685px;
    font: 1.6em "ProximaNovaRegular";
    padding: 29px 0; }
    #footer .nav ul .line {
      width: 1px;
      height: 20px;
      background-color: #c4c4c4; }
    #footer .nav ul a {
      color: #929292;
      text-decoration: none;
      -webkit-transition: .3s ease;
      -o-transition: .3s ease;
      transition: .3s ease; }
      #footer .nav ul a:hover {
        color: #000; }

/*==========  Desktop First  ==========*/
@media screen and (max-width: 1230px) {
  #projects .slider_content .slide .slide_content {
    height: 200px; }
  #projects .slider_content .overlay h3 {
    font-size: 1.5em;
    padding-top: 0px;
    padding-bottom: 5px; }
  #projects .slider_content .overlay p {
    line-height: 100%; }
  #reviews .slider_content .txt p {
    line-height: 110%;
    margin: 0;
    padding-top: 0; }
  #reviews .slider_content .head {
    padding-top: 0; }
  #services .tabs .tab_item .content_tab p {
    font-size: 1.4em; }
  #services .tabs_content .block_content .responsive_block .tab_content_b p {
    font-size: 1.4em;
    padding-top: 5px;
    line-height: 130%; }
  #services .tabs_content .block_content {
    max-height: 163.59px; } }

@media screen and (max-width: 992px) {
  #header .content .nav ul li {
    margin-right: 15px; }
  #services .tabs_content {
    padding: 5px; }
  #services .tabs_content .block_content {
    -webkit-box-shadow: none;
            box-shadow: none; }
  #header .content .numbers a {
    font-size: 1.5em; }
  #reviews .slider_content .txt p {
    line-height: 130%;
    padding-top: 10px; }
  #help p.bottom {
    text-align: center;
    padding: 0;
    padding-top: 40px;
    padding-bottom: 40px; }
  #projects h2 {
    padding-top: 40px; }
  #projects {
    padding-bottom: 55px; }
  #reviews h2 {
    padding-top: 40px; }
  #services h2 {
    padding-top: 40px; }
  #reviews {
    padding-bottom: 25px; }
  #info .content h2 {
    padding-top: 40px; }
  #info .content p {
    padding-bottom: 25px; }
  #info .content form .submit {
    margin-bottom: 50px; }
  #services .tabs_content .block_content .responsive_block .tab_content_b p {
    font-size: 1em;
    padding-top: 5px;
    line-height: 130%; }
  #services .tabs_content .block_content {
    max-height: 115.59px; }
  #services .content {
    padding-bottom: 60px; }
  #footer .top .item_center {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
    width: 100%;
    padding-top: 30px; }
  #footer .top {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around; }
  #footer .line {
    display: none; }
  #footer .nav {
    display: none; } }

@media screen and (max-width: 768px) {
  #header .content .nav {
    display: none; }
  #header .content .numbers {
    display: none; }
  #reviews .slider_content .txt p {
    line-height: 130%;
    padding-top: 0; }
  #home h1 {
    padding-top: 110px;
    font-size: 4em; }
  #home p {
    font-size: 1.6em; }
  h2 {
    font-size: 3em; }
  #help .row .block .content p {
    font-size: 1.4em; }
  #help p.bottom {
    font-size: 1.4em; }
  #projects .slider_content .slide .slide_content {
    height: 260px; }
  #projects .slider_content .overlay p {
    line-height: 150%;
    padding-top: 10px; }
  #services .active {
    border: none;
    background: none; }
  #services .tabs .tab_item .active_t {
    border: 1px solid #e8375a;
    background: #f7f7f7; }
  #services .tabs .block {
    width: 31%; }
  #services .tabs .tab_items {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  #services .tabs_content .tab_content {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  #services .tabs_content .block_content {
    width: 30%; }
  #services .tabs_content .block_content {
    max-height: none; }
  #services .tabs_content .block_content .responsive_block .tab_content_b p {
    font-size: 1.4em;
    line-height: 100%; }
  #footer .top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  #footer .top .item_left a {
    display: block;
    margin: 0 auto; }
  #footer .top .item_left p {
    text-align: center; }
  #footer .top .item_center {
    padding-top: 15px; }
  #footer .top .item_right p {
    text-align: center;
    padding-top: 10px;
    margin: 0;
    padding-bottom: 15px; }
  #footer .top .item_right a {
    text-align: center; }
  #footer .top .item_right {
    padding-top: 10px; }
  #footer .top {
    padding-bottom: 20px; } }

@media screen and (max-width: 576px) {
  #home h1 {
    text-align: center; }
  #home p {
    text-align: center; }
  #home a {
    margin: 10px auto; }
  #info {
    background-position: 90% 120%; }
  #help .row .block .content p {
    font-size: 1.6em; }
  #services .tabs .block {
    width: 45%; }
  #services .tabs_content .block_content {
    width: 45%; }
  #services .tabs_content .block_content .responsive_block .tab_content_b p {
    font-size: 1.2em;
    line-height: 100%; }
  h2 {
    font-size: 2.5em; } }

@media screen and (max-width: 378px) {
  #projects .slider_content .overlay p {
    padding-top: 0px; }
  #reviews .slider_content .info {
    padding-left: 10px; }
  #reviews .slider_content .txt p {
    padding-top: 15px;
    line-height: 140%; }
  #reviews .slider_content .slide .slide_content {
    padding: 10px; }
  #home h1 {
    padding-top: 45px; }
  #home p {
    line-height: 150%; }
  #home {
    padding-bottom: 45px; } }
