#last_page {
  position: relative;
  z-index: 1;
  overflow: hidden; }
  #last_page .active_bg {
    position: absolute;
    height: 100%;
    width: 600%;
    top: 0;
    left: 0;
    background: url(../img/animate_bg_last.jpg) no-repeat center center;
    -webkit-background-size: cover;
            background-size: cover;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s; }
  #last_page .active_bg_fixed {
    position: fixed; }
  #last_page .custom_dots {
    position: absolute;
    top: 20px;
    width: 100%;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease; }
    #last_page .custom_dots span {
      position: absolute;
      font: 1.8em "HelveticaNeueCyrRoman";
      color: #f4ea48; }
    #last_page .custom_dots .span_left {
      left: -425%; }
    #last_page .custom_dots .span_right {
      right: -425%; }
    #last_page .custom_dots ul {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      list-style: none;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin: 0 auto;
      width: 260px;
      padding: 0;
      position: relative; }
      #last_page .custom_dots ul li {
        width: 31px;
        height: 19px;
        background: url(../img/bg_dots.png) no-repeat;
        background-position: 0px 0;
        -webkit-background-size: cover;
                background-size: cover;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        margin: 0 10px;
        cursor: pointer; }
        #last_page .custom_dots ul li span {
          display: block;
          -webkit-border-radius: 50%;
                  border-radius: 50%;
          width: 13px;
          height: 13px;
          margin-left: 9px;
          background: transparent; }
      #last_page .custom_dots ul .active_dot span {
        background: #f4ea48; }
  #last_page .container {
    height: 100vh;
    position: relative;
    padding: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    #last_page .container .slider_content {
      width: 100%;
      position: relative; }
    #last_page .container .slider2 {
      padding-bottom: 20px; }
      #last_page .container .slider2 .slide {
        margin: 0 15px;
        height: 500px;
        position: relative;
        outline: none; }
      #last_page .container .slider2 .slide1 {
        position: relative; }
        #last_page .container .slider2 .slide1 span {
          position: absolute;
          display: block;
          width: 40px;
          height: 100%;
          cursor: pointer;
          -webkit-transition: .1s;
          -o-transition: .1s;
          transition: .1s;
          z-index: 2; }
        #last_page .container .slider2 .slide1 .arrow_left_slide1 {
          left: 0;
          background: url(../img/arrow_left.png) no-repeat center center;
          background-color: rgba(0, 0, 0, 0.5); }
          #last_page .container .slider2 .slide1 .arrow_left_slide1:hover {
            background-color: rgba(0, 0, 0, 0.7); }
        #last_page .container .slider2 .slide1 .arrow_right_slide1 {
          right: 0;
          background: url(../img/arrow_right.png) no-repeat center center;
          background-color: rgba(0, 0, 0, 0.5); }
          #last_page .container .slider2 .slide1 .arrow_right_slide1:hover {
            background-color: rgba(0, 0, 0, 0.7); }
        #last_page .container .slider2 .slide1 .bottom {
          position: absolute;
          bottom: 0;
          left: 40px;
          cursor: default;
          width: -webkit-calc(100% - 80px);
          width: calc(100% - 80px);
          height: 64px;
          background-color: rgba(0, 0, 0, 0.5);
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
          -webkit-justify-content: space-between;
              -ms-flex-pack: justify;
                  justify-content: space-between;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center; }
          #last_page .container .slider2 .slide1 .bottom .left {
            font: 1.2em "HelveticaNeueCyrBold";
            color: #fff; }
          #last_page .container .slider2 .slide1 .bottom img {
            width: 40px;
            height: 40px;
            position: absolute;
            left: 50%;
            -webkit-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                    transform: translateX(-50%); }
          #last_page .container .slider2 .slide1 .bottom .right {
            font: 1.2em "HelveticaNeueCyrMedium";
            color: #fff; }
        #last_page .container .slider2 .slide1 .bottom_line {
          position: absolute;
          width: 100%;
          bottom: 0;
          left: 0;
          height: 3px;
          background: #f5ed4a; }
        #last_page .container .slider2 .slide1 .slider_news .slide {
          margin: 0;
          background: url(../img/Bg_news_block.jpg) no-repeat center center;
          -webkit-background-size: cover;
                  background-size: cover; }
          #last_page .container .slider2 .slide1 .slider_news .slide a {
            display: block;
            width: 100%;
            outline: none;
            height: 100%;
            font: 3.6em "HelveticaNeueCyrBold";
            color: #fff;
            text-decoration: none;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: end;
            -webkit-align-items: flex-end;
                -ms-flex-align: end;
                    align-items: flex-end;
            -webkit-box-pack: end;
            -webkit-justify-content: flex-end;
                -ms-flex-pack: end;
                    justify-content: flex-end; }
            #last_page .container .slider2 .slide1 .slider_news .slide a h6 {
              text-align: right;
              padding-right: 55px;
              padding-bottom: 79px;
              margin: 0; }
              #last_page .container .slider2 .slide1 .slider_news .slide a h6 strong {
                color: #f4ea48; }
      #last_page .container .slider2 .slide3 .tab_item {
        height: 37%;
        padding-bottom: 20px;
        position: relative;
        -webkit-box-sizing: border-box;
                box-sizing: border-box; }
        #last_page .container .slider2 .slide3 .tab_item .content {
          height: 100%;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
          -webkit-justify-content: space-between;
              -ms-flex-pack: justify;
                  justify-content: space-between; }
        #last_page .container .slider2 .slide3 .tab_item .line {
          display: block;
          height: 5px;
          width: 100%;
          background-color: #f4ea48;
          position: absolute;
          bottom: 0; }
      #last_page .container .slider2 .slide3 .place_block {
        width: 32%;
        background-color: rgba(0, 0, 0, 0.7);
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        border: 1px solid transparent;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s;
        position: relative; }
        #last_page .container .slider2 .slide3 .place_block .indicator {
          position: absolute;
          width: 10px;
          height: 7px;
          left: 50%;
          -webkit-transform: translateX(-50%);
              -ms-transform: translateX(-50%);
                  transform: translateX(-50%);
          background: url(../img/fr_indicator.png) no-repeat center center;
          -webkit-background-size: contain;
                  background-size: contain;
          bottom: -16px;
          opacity: 0;
          -webkit-transition: .3s;
          -o-transition: .3s;
          transition: .3s; }
        #last_page .container .slider2 .slide3 .place_block .decoration_items {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%; }
          #last_page .container .slider2 .slide3 .place_block .decoration_items .decor1,
          #last_page .container .slider2 .slide3 .place_block .decoration_items .decor2,
          #last_page .container .slider2 .slide3 .place_block .decoration_items .decor3,
          #last_page .container .slider2 .slide3 .place_block .decoration_items .decor4 {
            position: absolute;
            display: block;
            width: 15px;
            height: 15px;
            background: url(../img/decor_item.png) no-repeat center center;
            -webkit-background-size: contain;
                    background-size: contain;
            -webkit-transition: .3s;
            -o-transition: .3s;
            transition: .3s; }
          #last_page .container .slider2 .slide3 .place_block .decoration_items .decor1 {
            top: 8px;
            left: 8px;
            -webkit-transform: rotate(-90deg);
                -ms-transform: rotate(-90deg);
                    transform: rotate(-90deg); }
          #last_page .container .slider2 .slide3 .place_block .decoration_items .decor2 {
            top: 8px;
            right: 8px; }
          #last_page .container .slider2 .slide3 .place_block .decoration_items .decor3 {
            bottom: 8px;
            right: 8px;
            -webkit-transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                    transform: rotate(90deg); }
          #last_page .container .slider2 .slide3 .place_block .decoration_items .decor4 {
            bottom: 8px;
            left: 8px;
            -webkit-transform: rotate(-180deg);
                -ms-transform: rotate(-180deg);
                    transform: rotate(-180deg); }
        #last_page .container .slider2 .slide3 .place_block .img_block {
          height: 100%;
          position: relative;
          cursor: pointer; }
          #last_page .container .slider2 .slide3 .place_block .img_block img.place_preview {
            height: 100%;
            width: 100%;
            display: block; }
          #last_page .container .slider2 .slide3 .place_block .img_block img.place_logo {
            position: absolute;
            width: 60%;
            height: 60%;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%); }
        #last_page .container .slider2 .slide3 .place_block .description_block {
          padding: 10px;
          -webkit-box-flex: 1;
          -webkit-flex-grow: 1;
              -ms-flex-positive: 1;
                  flex-grow: 1;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
              -ms-flex-direction: column;
                  flex-direction: column;
          -webkit-box-pack: justify;
          -webkit-justify-content: space-between;
              -ms-flex-pack: justify;
                  justify-content: space-between; }
          #last_page .container .slider2 .slide3 .place_block .description_block .title_place {
            font: 1.7em "MyriadProRegular";
            color: #fff;
            text-transform: uppercase; }
            #last_page .container .slider2 .slide3 .place_block .description_block .title_place span {
              font-size: 1.3em;
              color: #f4ea48; }
          #last_page .container .slider2 .slide3 .place_block .description_block .adress {
            display: block;
            font: 1.4em "MyriadProRegular";
            color: #fff;
            line-height: 150%; }
            #last_page .container .slider2 .slide3 .place_block .description_block .adress span {
              color: #4480ff; }
        #last_page .container .slider2 .slide3 .place_block .links {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          position: relative; }
          #last_page .container .slider2 .slide3 .place_block .links a {
            height: 20px;
            width: 20px;
            margin-right: 10px;
            outline: none; }
            #last_page .container .slider2 .slide3 .place_block .links a img {
              width: 100%;
              height: 100%; }
          #last_page .container .slider2 .slide3 .place_block .links .prices {
            width: 50px;
            height: 20px;
            border: 1px solid #f4ea48;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-align: center;
            -webkit-align-items: center;
                -ms-flex-align: center;
                    align-items: center;
            color: #f4ea48;
            text-decoration: none;
            font: 1.2em "HelveticaNeueCyrMedium";
            -webkit-border-radius: 4px;
                    border-radius: 4px;
            position: absolute;
            right: 0;
            margin: 0; }
      #last_page .container .slider2 .slide3 .active_place {
        border-color: #847f2f; }
        #last_page .container .slider2 .slide3 .active_place .decor1,
        #last_page .container .slider2 .slide3 .active_place .decor2,
        #last_page .container .slider2 .slide3 .active_place .decor3,
        #last_page .container .slider2 .slide3 .active_place .decor4 {
          height: 35px !important;
          width: 35px !important; }
        #last_page .container .slider2 .slide3 .active_place .indicator {
          opacity: 1; }
      #last_page .container .slider2 .slide3 .tab_container {
        height: 63%;
        background: rgba(0, 0, 0, 0.5);
        position: relative; }
        #last_page .container .slider2 .slide3 .tab_container .bottom_line {
          position: absolute;
          z-index: 2;
          bottom: 0;
          display: block;
          width: 100%;
          height: 15px;
          background: url(../img/bottom_line.png) no-repeat;
          -webkit-background-size: cover;
                  background-size: cover; }
        #last_page .container .slider2 .slide3 .tab_container .top_title {
          position: absolute;
          display: block;
          top: 0;
          height: 40px;
          width: 100%;
          background-color: rgba(0, 0, 0, 0.6);
          z-index: 2; }
          #last_page .container .slider2 .slide3 .tab_container .top_title span {
            font: 4em "MyriadProRegular";
            line-height: 1em;
            padding-left: 5px;
            color: #fff;
            letter-spacing: 0.4em;
            text-transform: uppercase; }
        #last_page .container .slider2 .slide3 .tab_container .btn_left, #last_page .container .slider2 .slide3 .tab_container .btn_right {
          position: absolute;
          height: 30px;
          width: 30px;
          background: url(../img/btn_slider_places.svg) no-repeat;
          -webkit-background-size: contain;
                  background-size: contain;
          cursor: pointer;
          z-index: 2;
          margin-top: -15px; }
        #last_page .container .slider2 .slide3 .tab_container .btn_left {
          top: 50%;
          left: 10px;
          -webkit-transform: rotate(-90deg);
              -ms-transform: rotate(-90deg);
                  transform: rotate(-90deg); }
        #last_page .container .slider2 .slide3 .tab_container .btn_right {
          top: 50%;
          right: 10px;
          -webkit-transform: rotate(90deg);
              -ms-transform: rotate(90deg);
                  transform: rotate(90deg); }
        #last_page .container .slider2 .slide3 .tab_container .soon_banner {
          display: block;
          position: absolute;
          right: -110px;
          bottom: 50px;
          -webkit-transform: rotate(-30deg);
              -ms-transform: rotate(-30deg);
                  transform: rotate(-30deg);
          z-index: 2;
          width: 385px;
          height: 49px;
          background: url(../img/soon_banner.png); }
        #last_page .container .slider2 .slide3 .tab_container .tab_content {
          height: 100%;
          position: relative;
          z-index: 1; }
        #last_page .container .slider2 .slide3 .tab_container .tab_block {
          height: 100%; }
        #last_page .container .slider2 .slide3 .tab_container .place_slider_1,
        #last_page .container .slider2 .slide3 .tab_container .place_slider_2,
        #last_page .container .slider2 .slide3 .tab_container .place_slider_3,
        #last_page .container .slider2 .slide3 .tab_container .slick-list,
        #last_page .container .slider2 .slide3 .tab_container .slick-track {
          height: 100%; }
        #last_page .container .slider2 .slide3 .tab_container .place_slider_1,
        #last_page .container .slider2 .slide3 .tab_container .place_slider_2,
        #last_page .container .slider2 .slide3 .tab_container .place_slider_3 {
          margin: 0 -10px; }
        #last_page .container .slider2 .slide3 .tab_container .slide_content {
          height: 100%;
          position: relative; }
        #last_page .container .slider2 .slide3 .tab_container .gallery {
          height: 100%;
          overflow: hidden; }
          #last_page .container .slider2 .slide3 .tab_container .gallery .photo {
            position: relative;
            height: 100%;
            margin: 0 10px;
            outline: none; }
            #last_page .container .slider2 .slide3 .tab_container .gallery .photo img {
              position: absolute;
              width: 100%;
              top: 50%;
              left: 0;
              -webkit-transform: translateY(-50%);
                  -ms-transform: translateY(-50%);
                      transform: translateY(-50%); }
      #last_page .container .slider2 .slide4 {
        position: relative; }
        #last_page .container .slider2 .slide4 .btn_bottom {
          display: block;
          background: url(../img/arrow_bottom.png);
          width: 32px;
          height: 17px;
          cursor: pointer;
          position: absolute;
          bottom: 0;
          left: 50%;
          -webkit-transform: translateX(-50%);
              -ms-transform: translateX(-50%);
                  transform: translateX(-50%); }
        #last_page .container .slider2 .slide4 .slider_gallery {
          height: 480px;
          overflow: hidden; }
          #last_page .container .slider2 .slide4 .slider_gallery .slide {
            height: 150px;
            margin: 0;
            margin-bottom: 15px;
            width: 100%;
            border: none; }
          #last_page .container .slider2 .slide4 .slider_gallery .slide_first {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
            -webkit-justify-content: space-between;
                -ms-flex-pack: justify;
                    justify-content: space-between; }
            #last_page .container .slider2 .slide4 .slider_gallery .slide_first .block_left {
              width: 20%; }
              #last_page .container .slider2 .slide4 .slider_gallery .slide_first .block_left h6 {
                font: 3em "HelveticaNeueCyrBold";
                margin: 0;
                color: #fff;
                line-height: 0.8em; }
              #last_page .container .slider2 .slide4 .slider_gallery .slide_first .block_left .date {
                font: 1.2em "HelveticaNeueCyrMedium";
                color: #f4ea48;
                margin: 5px 0;
                padding-bottom: 5px; }
              #last_page .container .slider2 .slide4 .slider_gallery .slide_first .block_left ul {
                list-style: none;
                margin: 0;
                padding: 0; }
                #last_page .container .slider2 .slide4 .slider_gallery .slide_first .block_left ul a {
                  color: #fff;
                  white-space: nowrap;
                  text-decoration: none;
                  font: 1.4em "HelveticaNeueCyrMedium"; }
                  #last_page .container .slider2 .slide4 .slider_gallery .slide_first .block_left ul a span {
                    color: #f4ea48; }
              #last_page .container .slider2 .slide4 .slider_gallery .slide_first .block_left .photo {
                font: 2em "HelveticaNeueCyrBold";
                color: #fff;
                line-height: 0.8em;
                margin: 0;
                padding-top: 0.5em;
                text-align: right; }
            #last_page .container .slider2 .slide4 .slider_gallery .slide_first .center_block {
              position: relative;
              -webkit-box-sizing: border-box;
                      box-sizing: border-box;
              width: 60%;
              padding: 0 15px; }
              #last_page .container .slider2 .slide4 .slider_gallery .slide_first .center_block span {
                position: absolute;
                display: block;
                width: 40px;
                height: 100%;
                cursor: pointer;
                -webkit-transition: .1s;
                -o-transition: .1s;
                transition: .1s;
                z-index: 2; }
              #last_page .container .slider2 .slide4 .slider_gallery .slide_first .center_block .arrow_left_photo {
                left: 15px;
                background: url(../img/arrow_left.png) no-repeat center center;
                background-color: rgba(0, 0, 0, 0.5); }
                #last_page .container .slider2 .slide4 .slider_gallery .slide_first .center_block .arrow_left_photo:hover {
                  background-color: rgba(0, 0, 0, 0.7); }
              #last_page .container .slider2 .slide4 .slider_gallery .slide_first .center_block .arrow_right_photo {
                right: 15px;
                background: url(../img/arrow_right.png) no-repeat center center;
                background-color: rgba(0, 0, 0, 0.5); }
                #last_page .container .slider2 .slide4 .slider_gallery .slide_first .center_block .arrow_right_photo:hover {
                  background-color: rgba(0, 0, 0, 0.7); }
              #last_page .container .slider2 .slide4 .slider_gallery .slide_first .center_block .photo_slider {
                width: 100%;
                height: 100%; }
                #last_page .container .slider2 .slide4 .slider_gallery .slide_first .center_block .photo_slider .slick-list {
                  height: 100%; }
                #last_page .container .slider2 .slide4 .slider_gallery .slide_first .center_block .photo_slider .slide {
                  height: 100%;
                  margin: 0; }
                  #last_page .container .slider2 .slide4 .slider_gallery .slide_first .center_block .photo_slider .slide img {
                    width: 100%;
                    height: auto; }
            #last_page .container .slider2 .slide4 .slider_gallery .slide_first .right_block {
              position: relative;
              width: 20%; }
              #last_page .container .slider2 .slide4 .slider_gallery .slide_first .right_block .img {
                height: 100%;
                overflow: hidden;
                position: relative; }
                #last_page .container .slider2 .slide4 .slider_gallery .slide_first .right_block .img img {
                  position: relative;
                  z-index: 1;
                  height: 100%; }
                #last_page .container .slider2 .slide4 .slider_gallery .slide_first .right_block .img .overlay {
                  width: 100%;
                  display: block;
                  height: 100%;
                  position: absolute;
                  z-index: 2;
                  background: rgba(0, 0, 0, 0.4);
                  left: 0;
                  top: 0; }
              #last_page .container .slider2 .slide4 .slider_gallery .slide_first .right_block .logo {
                position: absolute;
                z-index: 3;
                left: 50%;
                top: 50%;
                -webkit-transform: translate(-50%, -50%);
                    -ms-transform: translate(-50%, -50%);
                        transform: translate(-50%, -50%); }
              #last_page .container .slider2 .slide4 .slider_gallery .slide_first .right_block .txt {
                position: absolute;
                bottom: 8px;
                z-index: 2;
                width: 100%; }
                #last_page .container .slider2 .slide4 .slider_gallery .slide_first .right_block .txt p {
                  font: 1.6em "HelveticaNeueCyrBold";
                  color: #f4ea48;
                  text-align: center;
                  margin: 0; }
              #last_page .container .slider2 .slide4 .slider_gallery .slide_first .right_block .line {
                height: 3px;
                width: 100%;
                position: absolute;
                bottom: 0;
                background-color: #f4ea48;
                z-index: 4; }
          #last_page .container .slider2 .slide4 .slider_gallery .cards {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
            -webkit-justify-content: space-between;
                -ms-flex-pack: justify;
                    justify-content: space-between; }
            #last_page .container .slider2 .slide4 .slider_gallery .cards .block_left,
            #last_page .container .slider2 .slide4 .slider_gallery .cards .block_right {
              width: 48%;
              height: 100%;
              display: -webkit-box;
              display: -webkit-flex;
              display: -ms-flexbox;
              display: flex; }
              #last_page .container .slider2 .slide4 .slider_gallery .cards .block_left .desc,
              #last_page .container .slider2 .slide4 .slider_gallery .cards .block_right .desc {
                width: 35%;
                background: rgba(0, 0, 0, 0.5);
                height: 100%;
                margin-right: 15px; }
                #last_page .container .slider2 .slide4 .slider_gallery .cards .block_left .desc h6,
                #last_page .container .slider2 .slide4 .slider_gallery .cards .block_right .desc h6 {
                  font: 1.5em "HelveticaNeueCyrRoman";
                  margin: 0;
                  text-transform: uppercase;
                  text-align: center;
                  color: #fff;
                  padding-top: 0.6em; }
                  #last_page .container .slider2 .slide4 .slider_gallery .cards .block_left .desc h6 strong,
                  #last_page .container .slider2 .slide4 .slider_gallery .cards .block_right .desc h6 strong {
                    font-family: "HelveticaNeueCyrBold"; }
                #last_page .container .slider2 .slide4 .slider_gallery .cards .block_left .desc img,
                #last_page .container .slider2 .slide4 .slider_gallery .cards .block_right .desc img {
                  display: block;
                  width: 30px;
                  height: 30px;
                  margin: 10px auto; }
                #last_page .container .slider2 .slide4 .slider_gallery .cards .block_left .desc .title,
                #last_page .container .slider2 .slide4 .slider_gallery .cards .block_right .desc .title {
                  font: 1.2em "HelveticaNeueCyrMedium";
                  color: #f4ea48;
                  margin: 0;
                  text-align: center;
                  padding-bottom: 0.2em; }
                #last_page .container .slider2 .slide4 .slider_gallery .cards .block_left .desc .date,
                #last_page .container .slider2 .slide4 .slider_gallery .cards .block_right .desc .date {
                  font: 1.4em "HelveticaNeueCyrMedium";
                  color: #fff;
                  margin: 0;
                  text-transform: uppercase;
                  padding-bottom: 0.5em;
                  text-align: center; }
              #last_page .container .slider2 .slide4 .slider_gallery .cards .block_left .img_block,
              #last_page .container .slider2 .slide4 .slider_gallery .cards .block_right .img_block {
                width: 65%;
                height: 100%;
                overflow: hidden;
                position: relative; }
                #last_page .container .slider2 .slide4 .slider_gallery .cards .block_left .img_block img,
                #last_page .container .slider2 .slide4 .slider_gallery .cards .block_right .img_block img {
                  width: 100%;
                  height: auto;
                  position: absolute;
                  left: 50%;
                  top: 50%;
                  -webkit-transform: translate(-50%, -50%);
                      -ms-transform: translate(-50%, -50%);
                          transform: translate(-50%, -50%); }
            #last_page .container .slider2 .slide4 .slider_gallery .cards .block_right .desc {
              margin-right: 0;
              margin-left: 15px; }
      #last_page .container .slider2 .slide5 .title {
        color: #fff;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        font: 3em "HelveticaNeueCyrBold";
        text-transform: uppercase;
        padding-bottom: 15px; }
        #last_page .container .slider2 .slide5 .title .first {
          letter-spacing: 0.1em; }
        #last_page .container .slider2 .slide5 .title .img {
          margin: 0 0.6em; }
        #last_page .container .slider2 .slide5 .title .time {
          letter-spacing: 0.39em; }
      #last_page .container .slider2 .slide5 .table_title {
        color: #f4ea48;
        text-transform: uppercase;
        font: 2em "HelveticaNeueCyrBold";
        position: relative;
        display: block;
        padding-left: 20px;
        margin-top: 40px; }
        #last_page .container .slider2 .slide5 .table_title:before {
          content: "";
          position: absolute;
          width: 15px;
          height: 10px;
          left: 0;
          top: 5px;
          background: url(../img/fr_indicator.png) no-repeat center center;
          -webkit-background-size: contain;
                  background-size: contain;
          -webkit-transform: rotate(90deg);
              -ms-transform: rotate(90deg);
                  transform: rotate(90deg); }
      #last_page .container .slider2 .slide5 td {
        width: 16.66%;
        height: 50px; }
      #last_page .container .slider2 .slide5 .table_top {
        width: 100%;
        border-collapse: collapse; }
      #last_page .container .slider2 .slide5 .table_bottom {
        width: 66.66%;
        border-collapse: collapse; }
      #last_page .container .slider2 .slide5 .top {
        color: #fff;
        font: 2em "HelveticaNeueCyrLight";
        text-align: center; }
        #last_page .container .slider2 .slide5 .top span {
          font-size: 0.8em; }
      #last_page .container .slider2 .slide5 tr.center {
        border-top: 1px solid #7a7a7a;
        border-bottom: 1px solid #7a7a7a; }
      #last_page .container .slider2 .slide5 tr.center td, #last_page .container .slider2 .slide5 tr.last td {
        text-align: center;
        color: #f4ea48;
        font: 2em "SansRegular"; }
        #last_page .container .slider2 .slide5 tr.center td span, #last_page .container .slider2 .slide5 tr.last td span {
          font: 1.4em "SansBold"; }
      #last_page .container .slider2 .slide5 tr.center td:first-child, #last_page .container .slider2 .slide5 tr.last td:first-child {
        color: #fff;
        font: 2.5em "HelveticaNeueCyrBold";
        text-align: left; }

@media screen and (max-width: 1240px) {
  #last_page .container .slider2 .slide4 .slider_gallery .slide_first .block_left h6 {
    font-size: 2.6em; }
  #last_page .container .slider2 .slide4 .slider_gallery .slide_first .block_left .photo {
    font-size: 1.8em; }
  #last_page .container .slider2 .slide4 .slider_gallery .slide_first .block_left ul a,
  #last_page .container .slider2 .slide4 .slider_gallery .cards .block_left .desc .date, #last_page .container .slider2 .slide4 .slider_gallery .cards .block_right .desc .date,
  #last_page .container .slider2 .slide4 .slider_gallery .slide_first .right_block .txt p,
  #last_page .container .slider2 .slide3 .place_block .description_block .adress,
  #last_page .container .slider2 .slide3 .place_block .description_block .title {
    font-size: 1.2em; }
  #last_page .container .slider2 .slide4 .slider_gallery .cards .block_left .desc h6, #last_page .container .slider2 .slide4 .slider_gallery .cards .block_right .desc h6 {
    font-size: 1.4em; } }

@media screen and (max-width: 1240px) {
  #last_page .container .slider2 .slide3 .place_block .description_block .title_place {
    font-size: 1.2em; } }

@media screen and (max-width: 1025px) {
  #last_page .active_bg {
    height: 100vh; }
  #last_page .container .slider2 .slide4 .slider_gallery .slide_first .center_block {
    width: 100%; }
  #last_page .container .slider2 .slide4 .slider_gallery .slide_first .right_block .img img {
    width: 100%;
    height: 100%; }
  #last_page .container .slider2 .slide4 .slider_gallery .slide_first .right_block .img {
    height: 203px;
    margin-top: 30px; }
  #last_page .container .slider2 .slide4 .slider_gallery .slide_first .block_left h6 {
    display: none; }
  #last_page .container .slider2 .slide4 .slider_gallery .slide_first .block_left {
    width: 100%; }
  #last_page .container .slider2 .slide4 .slider_gallery {
    height: auto; }
  #last_page .container .slider2 .slide4 .slider_gallery .slide_first {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    height: auto; }
  #last_page .container .slider2 .slide4 .slider_gallery .slide_first .block_left ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  #last_page .container .slider2 .slide4 .slider_gallery .slide_first .block_left ul li {
    margin-right: 10px; }
  #last_page .container .slider2 .slide4 .slider_gallery .slide_first .center_block {
    padding: 0; }
  #last_page .container .slider2 .slide4 .slider_gallery .slide_first .center_block .photo_slider .slide {
    height: 200px; }
  #last_page .container .slider2 .slide4 .slider_gallery .slide_first .center_block .arrow_left_photo {
    left: 0; }
  #last_page .container .slider2 .slide4 .slider_gallery .slide_first .center_block .arrow_right_photo {
    right: 0; }
  #last_page .container .slider2 .slide4 .slider_gallery .slide_first .right_block {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  #last_page .container .slider2 .slide4 .slider_gallery .slide_first .center_block .photo_slider .slide img {
    height: 203px !important; }
  #last_page .container .slider2 .slide4 .btn_bottom {
    display: none; }
  #last_page .container .slider2 .slide {
    margin-bottom: 30px; }
  #last_page .container .slider2 .slide3 .tab_container .top_title span {
    font-size: 3em;
    display: block;
    margin-top: 5px; }
  #last_page .container .slider2 .slide4 .slider_gallery .cards {
    display: none; }
  #last_page .container .slider2 .slide4 .slider_gallery .slide_first .block_left .photo {
    text-align: left;
    margin-top: 15px;
    margin-bottom: 15px; }
  #last_page .container .slider2 .slide4 .slider_gallery .slide_first .center_block .photo_slider .slide img {
    height: 100%;
    width: auto; }
  #last_page .container .slider2 .slide4 .slider_gallery .slide_first .block_left .date {
    margin-top: 0; }
  #last_page .container .slider2 .slide1 .slider_news .slide,
  #last_page .container .slider2 .slide1 .arrow_right_slide1,
  #last_page .container .slider2 .slide1 .arrow_left_slide1 {
    height: 500px; }
  #last_page .container .slider2 .slide3 .place_block .description_block .title_place {
    padding-top: 5px;
    margin-bottom: 10px;
    font-size: 1.7em; }
  #last_page .container .slider2 .slide3 .tab_container {
    height: 400px; }
  #last_page .container .slider2 .slide3 .place_block .links a {
    width: 30px;
    height: 30px; }
  #last_page .container .slider2 .slide3 .place_block .links .prices {
    height: 30px;
    width: 60px;
    font-size: 1.4em; }
  #last_page .container .slider2 .slide3 .place_block .links {
    margin-top: 10px; }
  #last_page .container .slider2 .slide3 .place_block .description_block .adress {
    font-size: 1.6em; }
  #last_page .container .slider2 .slide3 .place_block .img_block {
    width: 100% !important;
    height: auto; }
  #last_page .container .slider2 .slide3 .place_block {
    display: block; }
  #last_page .container .slider2 .slide {
    height: auto; }
  #last_page .container .slider2 .tab_item {
    height: auto; }
  #last_page .container {
    height: auto; }
  #last_page .custom_dots {
    display: none; } }

@media screen and (max-width: 808px) {
  #last_page .container .slider2 .slide4 .slider_gallery .slide_first .block_left ul {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  #last_page .container .slider2 .slide4 .slider_gallery .slide_first .block_left ul li {
    margin-bottom: 5px; }
  #last_page .container .slider2 .slide3 .place_block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-bottom: 20px; }
  #last_page .container .slider2 .slide3 .tab_item .line:before {
    content: '';
    position: absolute;
    display: block;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 10px;
    height: 7px;
    top: -5px;
    background: url(../img/fr_indicator.png) no-repeat center center; }
  #last_page .container .slider2 .slide3 .tab_container .gallery .photo img {
    height: 100%;
    width: auto; }
  #last_page .container .slider2 .slide3 .place_block .indicator {
    display: none; }
  #last_page .container .slider2 .slide3 .place_block .img_block {
    width: 40% !important; }
  #last_page .container .slider2 .slide3 .tab_item .content {
    display: block; }
  #last_page .container .slider2 .slide1 .slider_news .slide a {
    font-size: 2.6em; } }

@media screen and (max-width: 568px) {
  #last_page .container .slider2 .slide3 .place_block .img_block {
    width: 50% !important; }
  #last_page .container .slider2 .slide3 .tab_container .top_title span {
    display: block; }
  #last_page .container .slider2 .slide3 .tab_container .top_title span {
    font-size: 2.5em;
    padding-top: 3px; } }

@media screen and (max-width: 450px) {
  #last_page .container .slider2 .slide1 .slider_news .slide {
    height: 400px; }
  #last_page .container .slider2 .slide1 .bottom img {
    display: none; }
  #last_page .container .slider2 .slide1 .arrow_right_slide1, #last_page .container .slider2 .slide1 .arrow_left_slide1 {
    height: 400px; }
  #last_page .container .slider2 .slide3 .tab_container .top_title span {
    font-size: 1.8em;
    padding-top: 6px;
    letter-spacing: 0.3em; }
  #last_page .container .slider2 .slide3 .place_block {
    display: block; }
  #last_page .container .slider2 .slide3 .place_block .img_block {
    width: 100% !important; }
  #last_page .container .slider2 .slide3 .place_block .description_block .title_place {
    font-size: 2em; }
  #last_page .container .slider2 .slide3 .place_block .description_block .adress {
    font-size: 1.6em; } }

@media screen and (max-width: 370px) {
  #footer .left_block .txt {
    display: none; } }
