body {
  overflow: hidden; }

.active {
  height: 0% !important;
  width: 0% !important;
  -webkit-border-radius: 100% !important;
          border-radius: 100% !important; }

#start_page {
  background: #f4ea48;
  overflow: hidden;
  -webkit-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
  margin-top: -1px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  z-index: 2;
  width: 100%;
  -webkit-border-radius: 0;
          border-radius: 0;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }
  #start_page .content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; }
  #start_page .block_logo {
    width: 40em;
    height: 40em;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -20em;
    margin-top: -20em; }
    #start_page .block_logo .logo_content {
      position: relative;
      height: 100%;
      margin: 0 auto;
      max-width: 100%; }
    #start_page .block_logo .logo_center {
      background: url(../img/center_logo.png) no-repeat center center;
      -webkit-background-size: contain;
              background-size: contain;
      height: 100%;
      width: 100%;
      position: absolute; }
    #start_page .block_logo .logo_txt {
      background: url(../img/txt_logo.png) no-repeat center center;
      -webkit-background-size: contain;
              background-size: contain;
      -webkit-animation: 15s linear 0s normal none infinite running rot;
              animation: 15s linear 0s normal none infinite running rot;
      height: 100%;
      width: 100%;
      position: absolute; }

@-webkit-keyframes rot {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes rot {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@media screen and (max-width: 1480px) {
  #start_page .block_logo {
    font-size: 8px; }
  #start_page .container {
    min-height: 500px; } }

@media screen and (max-width: 1025px) {
  #start_page .container {
    min-height: 568px; }
  #start_page {
    position: relative;
    left: 0;
    top: 0;
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0); }
  body {
    overflow: auto; } }

@media screen and (max-width: 480px) {
  #start_page .block_logo {
    width: 28em;
    height: 28em; } }
