#start_page {
  background: #f4ea48;
  position: relative; }
  #start_page .container {
    height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow-x: hidden; }
  #start_page .block_logo {
    width: 40em;
    height: 40em; }
    #start_page .block_logo .logo_content {
      position: relative;
      height: 100%;
      margin: 0 auto;
      max-width: 100%; }
    #start_page .block_logo .logo_center {
      background: url(../img/center_logo.png) no-repeat center center;
      -webkit-background-size: contain;
              background-size: contain;
      height: 100%;
      width: 100%;
      position: absolute; }
    #start_page .block_logo .logo_txt {
      background: url(../img/txt_logo.png) no-repeat center center;
      -webkit-background-size: contain;
              background-size: contain;
      -webkit-animation: 15s linear 0s normal none infinite running rot;
              animation: 15s linear 0s normal none infinite running rot;
      height: 100%;
      width: 100%;
      position: absolute; }

@-webkit-keyframes rot {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes rot {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@media screen and (max-width: 1480px) {
  #start_page .block_logo {
    font-size: 8px; }
  #start_page .container {
    min-height: 500px; } }

@media screen and (max-width: 1025px) {
  #start_page .container {
    min-height: 568px; } }

@media screen and (max-width: 480px) {
  #start_page .block_logo {
    width: 28em;
    height: 28em; } }
