@media print {
  @page {
    size: A4 portrait;
    margin: 10mm;
  }
  body {
    width: 100%;
  }
  .container {
    padding: 0;
  }
  .header .group.sup {
    border-bottom: none;
    margin: 0;
  }
  .header_info,
  .breadcrumbs {
    display: block;
  }
  .header .group_inner {
    padding: 0;
    justify-content: space-between;
  }
  .form_cash .button_field,
  .product_card .title .button_back {
    display: none !important;
  }
  .sort_line .nav_tab {
    display: flex;
    position: relative;
    justify-content: space-around;
    top: 0;
  }
  .card_content .top_section::before {
    display: none;
  }
  .card_content .top_section {
    padding: 0;
  }
  .card_content .img_block {
    position: relative;
  }
  .card_content .img_block img {
    page-break-inside: always;
  }
  .card {
    width: 50%;
  }
  .current_choise {
    display: none;
  }
.sort_line .content_sort {
    height: 50px;
}
  .header .group.sub,
  .footer,
  .header_city_select,
  .attention_line,
  .header_navigation,
  .table_button_field,
  .your_set_title .btn,
  .card_banner_box,
  .product_slider,
  .card_content .link_section,
  .button_cart,
  .button_toogle {
    display: none;
  }
}
.category-name {
    padding-top: 0;
}
@media all and (max-width: 600px) {
   .product_card .title_general {
    font-size: 24px;
   }
}