$main-color: #197ac4;
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

// banner top
.card_banner_box {
    margin-top: 0;
}

.sidebar_banner {
    margin: 27px 0;
    a {
        display: block;
        width: 100%;
        img {
            width: 100%;
        }
    }
}

.popular_categories_block {
    border: 1px solid #e6e6e6;
    border-bottom: none;
    margin-top: 15px;
    background: #fff;
    .section {
         padding: 0 20px;
         border-bottom: 1px solid #e6e6e6;
        .tab_title {
            padding: 20px 0;
            span {
                font-weight: bold;
                color: #928d8b;
                font-size: 1.1em;
            }
        }
        .tab_content {
            .list {
                margin-bottom: 18px;
            }
            .dropdown {
                margin-bottom: 0;
            }
            .dropdown_list {
                display: none;
            }
            .param_more {
                    border: 1px solid #cdcdcd;
                    border-radius: 3px;
                    padding: 5px 0px;
                    cursor: pointer;
                    width: 110px;
                    text-align: center;
                    white-space: nowrap;
                    margin-bottom: 20px;
                    margin-top: 15px;
                    color: #818181;
                }
            li {
                margin-bottom: 4px;
            }
             span {
                    text-decoration: none !important;
                    margin-right: 0.2em;
                }
            a {
                color: #838383;
            }
        }
    }
}

.slider_sidebar {
    overflow-x: hidden;
    .slick-list {
        margin: 0 -10px;
    }
    .item {
        padding: 0 10px;
    }
    .slick-dots {
        padding: 0;
        margin: 15px 0 0;
        list-style: none;
        font-size: 0;
        text-align: center;
    }

    .slick-dots li {
        font-size: 0;
        line-height: 0;
        display: inline-block;
        vertical-align: top;
        margin: 0 2px;
    }

    .slick-dots li.slick-active button {
        background-color: #b3b3b3;
    }

    .slick-dots button {
        border: 1px solid #b3b3b3;
        width: 10px;
        height: 10px;
        vertical-align: top;
        display: block;
        background: none;
        font-size: 0;
        padding: 0;
        cursor: pointer;
        border-radius: 5px;
    }
    .thumb_item {
        border: 1px solid #f8767e;
    }
    .thumb_item .name {
        margin-bottom: 0;
    }
    .thumb_item .sub {
        border-top: none;
        padding-top: 0;
    }
    .thumb_item .label {
        padding: 6px 10px;
        letter-spacing: 1px;
    }
}

.catalog {
    padding-top: 20px;
    .category-name {
        h1.title_category {
            color: #1a0200;
            font-size: 30px;
            font-weight: normal;
            margin: 0;
            padding-top: 0.2em;
            padding-bottom: 0.5em;
        }
    }
    .current-categories {
        .category-block,
        .watch-more-block {
            .block-content,
            .block-content-bottom {
                border: 1px solid #e5e5e5;
                background: #fff;
            }
        }
        .category-block {
            .block-content {
                display: flex;
                flex-flow: row wrap;
                padding: 0 10px;
                padding-top: 25px;
                .item {
                    width: 16.66%;
                    margin-bottom: 25px;
                    text-align: center;
                    .icon {
                        margin-bottom: 5px;
                        img {
                            opacity: 0.2;
                        }
                    }
                    a {
                        display: block;
                        margin: 0 10px;
                        &:hover {
                            img {
                                opacity: 0.7;
                            }
                            span {
                                color: $main-color;
                            }
                        }
                    }
                }
            }
            .block-content-bottom {
                padding: 0 10px;
                padding-top: 20px;
                margin-top: -1px;
                ul.bottom_categories {
                    display: flex;
                    flex-flow: row wrap;
                    li {
                        width: 16.66%;
                        margin-bottom: 20px;
                        display: flex;
                        justify-content: center;
                        a:hover {
                            color: $main-color;
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
        .watch-more-block {
            .block-content {
                height: 100%;
                padding: 20px;
                p.watch-more-title {
                    font-weight: bold;
                    font-size: 1.2em;
                    color: #000;
                    margin: 0;
                    padding-bottom: 0.5em;
                }
                li {
                    padding: 0.25em 0;
                }
                a:hover {
                    color: $main-color;
                    text-decoration: underline;
                }
            }
        }
    }
    .sort-line {
        margin: 30px 0;
        .sort-line-content {
            border: 1px solid #e5e5e5;
            background: #fff;
            height: 50px;
            display: flex;
            align-items: center;
            .count,
            .sort-block,
            .delivery-count,
            .delivery-style,
            .filter_block {
                display: flex;
                justify-content: center;
                align-items: center;
                border-right: 1px solid #e5e5e5;
                height: 100%;
                a {
                    color: #8d8d8d;
                    &:hover {
                        color: #1d1d1d;
                    }
                }
            }
            .count {
                width: calc(25% - 15px);
                margin: px;
                color: #000;
            }
            .sort-block {
                width: calc(40% + 15px);
                a {
                    margin: 0 12px;
                }
            }
            .delivery-count {
                width: 20%;
                color: #000;
            }
            .delivery-style {
                width: 15%;
                border: none;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .active {
                font-weight: bold !important;
                color: #000 !important;
            }
        }
    }
    .catalog-page {
        .catalog-cards {
            .card {
                margin-bottom: 20px;
            }
            .card_content {
                transition: box-shadow .3s;
                background: #fff;
                .top_section,
                .description_section,
                .bottom_section {
                    position: relative;
                    border: 1px solid #e5e5e5;
                    padding: 15px;
                }
                .top_section::before {
                    content: "";
                    display: block;
                    padding-top: 100%;
                }
                .img_block {
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    img {
                        width: 100%;
                        height: 100%;
                        padding: 15px;
                    }
                    .discount_block {
                        position: absolute;
                        top: 10px;
                        right: 10px;
                        .discount-item,
                        .novelty-item {
                            display: block;
                            height: 30px;
                            width: 60px;
                            border-radius: 3px;
                            margin-bottom: 5px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            color: #fff;
                            text-transform: uppercase;
                            font-weight: bold;
                            letter-spacing: 0.05em;
                        }
                        .discount-item {
                            background-color: #f66069;
                        }
                        .novelty-item {
                            background-color: #abd9eb;
                        }
                    }
                    .video_block {
                        position: absolute;
                        right: 10px;
                        bottom: 10px;
                        a {
                            display: block;
                            width: 20px;
                            height: 18px;
                            background: url(../images/icons/video_icon.png) no-repeat;
                        }
                    }
                }
                .description_section {
                    margin-top: -1px;
                    position: relative;
                    .title_link {
                        font-weight: bold;
                    }
                    .country_section {
                        margin: 10px 0;
                        span {
                            margin-right: 4px;
                            font-size: 0.9em;
                        }
                        .flag {
                            margin: 0;
                            img {
                                width: 15px;
                                height: 11px;
                            }
                        }
                    }
                    .description_list {
                        list-style-type: disc;
                        padding-left: 16px;
                        font-size: 0.9em;
                        line-height: 150%;
                        padding-bottom: 40px;
                    }
                    .links_block {
                        display: flex;
                        justify-content: space-between;
                        margin-top: 15px;
                        width: 100%;
                        margin: 0 -15px;
                        padding: 0 15px;
                        position: absolute;
                        bottom: 15px;
                        a {
                            display: inline-block;
                            border: 1px solid #e5e5e5;
                            border-radius: 4px;
                            height: 30px;
                            width: 48%;
                            text-align: center;
                            padding-top: 5px;
                            color: #818181;
                            transition: .3s ease;
                            i {
                                color: #cccccc;
                            }
                        }
                    }
                }
                .bottom_section {
                    margin-top: -1px;
                    display: flex;
                    justify-content: space-between;
                    .left_item {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        .current_price {
                            font-weight: bold;
                            color: #1e0602;
                            line-height: 85%;
                            font-size: 1.7em;
                            text-transform: uppercase;
                            display: block;
                            .price {
                                padding-right: 0.3em;
                            }
                        }
                        .old_price {
                            font-size: 1.2em;
                            text-decoration: line-through;
                            margin-bottom: -2px;
                            .price {
                                padding-right: 0.3em;
                            }
                        }
                    }
                    .right_item {
                        width: 40%;
                        button {
                            cursor: pointer;
                            height: 40px;
                            width: 100%;
                            border: none;
                            background: #ffcc33;
                            border-radius: 4px;
                            transition: .3s;
                        }
                    }
                }
            }
        }
        .more_cards_btn {
            cursor: pointer;
            width: 100%;
            border: none;
            background-color: #78a1b3;
            border-radius: 1px solid #95b5c3;
            height: 40px;
            margin: 10px 0;
            border-radius: 3px;
            color: #fff;
            transition: .3s;
        }
        .paginator {
            display: flex;
            width: 100%;
            margin-top: 20px;
            .paginator_link_page {
                height: 48px;
                width: 9%;
                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    border: 1px solid #e5e5e5;
                    transition: .3s;
                    margin-right: -1px;
                    position: relative;
                    z-index: 1;
                    background-color: #ffffff;
                }
            }
            .prev,
            .next {
                width: 18.5%;
            }
            .active_pag_page {
                a {
                    background: #f7f7f7;
                    font-weight: bolder;
                }
            }
        }
    }
}

.with_box {
    margin-top: 45px;
    .box_title {
        margin-bottom: 5px;
    }
}

.bottom_line {
    display: block;
    height: 2px;
    width: 100%;
    background-color: #e8e8e8;
    margin-top: 20px;
    margin-bottom: 40px;
}

.popular_cat_block {
    ul {
        display: flex;
        border: 1px solid #e6e6e6;
        background-color: #fff;
        width: 100%;
        padding: 40px 5px;
        li {
            width: 16.66%;
            padding: 0 35px;
        }
        .content_block {
            position: relative;
        }
        .content_block::before {
            content: "";
            display: block;
            padding-top: 90%;
        }
        a {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            opacity: 0.5;
            transition: .3s;
            &:hover {
                opacity: 1;
            }
        }
        img {
            width: 100%;
        }
        p {
            text-align: center;
            margin: 0;
            font-weight: bold;
        }
    }
}

.banner_block {
    margin-top: 40px;
}

.block_popular {
    margin-top: 20px;
    .title_list {
        p {
            font-size: 18px;
            font-weight: bold;
            margin: 0;
            margin-top: -0.2em;
            color: #010000;
        }
    }
    .item {
        display: block;
        width: 100%;
        a {
            white-space: normal;
        }
    }
}

.product_slider {
    margin-top: 10px;
    margin-bottom: 20px;
}

.category_list:after {
    background: linear-gradient(to bottom, rgba(250, 250, 250, 0.01) 0%, rgba(250, 250, 250, 0.17) 21%, rgba(250, 250, 250, 0.83) 79%, rgba(250, 250, 250, 0.99) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#03ffffff', endColorstr='#fcffffff', GradientType=0);
}





@media screen and (min-width: 1025px) {
    .catalog .catalog-page .catalog-cards .card_content .bottom_section .right_item button:hover {
        background-color: #ffdd7d;
    }
    .catalog .catalog-page .catalog-cards .card_content .description_section .links_block a:hover,
    .catalog .catalog-page .paginator .paginator_link_page a:hover {
        color: #1d1d1d;
        border-color: #999999;
        i {
            color: #626262;
        }
        z-index: 2;
    }
    .catalog .catalog-page .catalog-cards .card_content .description_section .title_link:hover {
        color: $main-color;
        text-decoration: underline;
    }
    .catalog .catalog-page .catalog-cards .card_content:hover {
        box-shadow: 8px 13px 30px rgba(0, 0, 0, 0.2);
    }
    .catalog .catalog-page .more_cards_btn:hover {
        background-color: #7eb8d2;
        border-color: #7eb8d2;
    }
    .popular_categories_block .section .tab_content a:hover {
                    color: #197ac4;
                    text-decoration: underline;
    }
}