$main-color: #0092cd;

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

// banner top
.card_banner_box {
    margin-top: 20px;
}

.catalog {
    .category-name {
        h1.title_category {
            color: #1a0200;
            font-size: 30px;
            font-weight: normal;
            margin: 0;
            padding-top: 0.2em;
            padding-bottom: 0.5em;
        }
    }
    .current-categories {
        .category-block,
        .watch-more-block {
            .block-content,
            .block-content-bottom {
                border: 1px solid #e5e5e5;
            }
        }
        .category-block {
            .block-content {
                display: flex;
                flex-flow: row wrap;
                padding: 0 10px;
                padding-top: 25px;
                .item {
                    width: 16.66%;
                    margin-bottom: 25px;
                    text-align: center;
                    .icon {
                        margin-bottom: 5px;
                        img {
                            opacity: 0.2;
                        }
                    }
                    a {
                        display: block;
                        margin: 0 10px;
                        &:hover {
                            img {
                                opacity: 0.7;
                            }
                            span {
                                color: $main-color;
                            }
                        }
                    }
                }
            }
            .block-content-bottom {
                padding: 0 10px;
                padding-top: 20px;
                margin-top: -1px;
                ul.bottom_categories {
                    display: flex;
                    flex-flow: row wrap;
                    li {
                        width: 16.66%;
                        margin-bottom: 20px;
                        display: flex;
                        justify-content: center;
                        a:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
        .watch-more-block {
            .block-content {
                height: 100%;
                padding: 20px;
                p.watch-more-title {
                    font-weight: bold;
                    font-size: 1.2em;
                    color: #000;
                    margin: 0;
                    padding-bottom: 0.5em;
                }
                li {
                    padding: 0.25em 0;
                }
                a:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    .sort-line {
        margin: 30px 0;
        .sort-line-content {
            border: 1px solid #e5e5e5;
            height: 50px;
            display: flex;
            align-items: center;
            .count,
            .sort-block,
            .delivery-count,
            .delivery-style,
            .filter_block {
                display: flex;
                justify-content: center;
                align-items: center;
                border-right: 1px solid #e5e5e5;
                height: 100%;
                a {
                    color: #8d8d8d;
                }
            }
            .count {
                width: calc(25% - 15px);
                margin: px;
                color: #000;
            }
            .sort-block {
                width: calc(40% + 15px);
                a {
                    margin: 0 12px;
                }
            }
            .delivery-count {
                width: 20%;
                color: #000;
            }
            .delivery-style {
                width: 15%;
                border: none;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .active {
                font-weight: bold !important;
                color: #000 !important;
            }
        }
    }
    .catalog-page {
        .filter {
            border: 1px solid #e5e5e5;
            width: 100%;
            height: 1000px;
        }
        .catalog-cards {
            .card {
                margin-bottom: 20px;
            }
            .card_content {
                transition: box-shadow .3s;
                &:hover {
                    box-shadow: 8px 13px 30px rgba(0, 0, 0, 0.2);
                }
                .top_section, .description_section, .bottom_section {
                    position: relative;
                    border: 1px solid #e5e5e5;
                    padding: 15px;
                }
                .top_section::before {
                    content: "";
                    display: block;
                    padding-top: 100%;
                }
                .img_block {
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    img {
                        width: 100%;
                        height: 100%;
                        padding: 15px;
                    }
                    .discount_block {
                        position: absolute;
                        top: 10px;
                        right: 10px;
                        .discount-item, .novelty-item {
                            display: block;
                            height: 30px;
                            width: 60px;
                            border-radius: 3px;
                            margin-bottom: 5px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            color: #fff;
                            text-transform: uppercase;
                            font-weight: bold;
                            letter-spacing: 0.05em;
                        }
                        .discount-item {
                            background-color: #f66069;
                        }
                        .novelty-item {
                            background-color: #abd9eb;
                        }
                    }
                    .video_block {
                        position: absolute;
                        right: 10px;
                        bottom: 10px;
                        a {
                            display: block;
                            width: 20px;
                            height: 18px;
                            background: url(../images/icons/video_icon.png) no-repeat;
                        }
                    }
                }
                .description_section {
                    margin-top: -1px;
                    position: relative;
                    .title_link {
                        font-weight: bold;
                    }
                    .country_section {
                        margin: 10px 0;
                        span {
                            margin-right: 4px;
                            font-size: 0.9em;
                        }
                        .flag {
                            margin: 0;
                            img {
                                width: 15px;
                                height: 11px;
                            }
                        }
                    }
                    .description_list {
                        list-style-type: disc;
                        padding-left: 16px;
                        font-size: 0.9em;
                        line-height: 150%;
                        padding-bottom: 40px;
                    }
                    .links_block {
                        display: flex;
                        justify-content: space-between;
                        margin-top: 15px;
                        width: 100%;
                        margin: 0 -15px;
                        padding: 0 15px;
                        position: absolute;
                        bottom: 15px;
                        a {
                            display: inline-block;
                            border: 1px solid #e5e5e5;
                            border-radius: 4px;
                            height: 30px;
                            width: 48%;
                            text-align: center;
                            padding-top: 5px;
                            color: #818181;
                            i {
                                color: #cccccc;
                            }
                        }
                    }
                }
                .bottom_section {
                    margin-top: -1px;
                    display: flex;
                    justify-content: space-between;
                    .left_item {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        .current_price {
                            font-weight: bold;
                            color: #1e0602;
                            line-height: 85%;
                            font-size: 1.7em;
                            text-transform: uppercase;
                            display: block;
                            .price {
                                padding-right: 0.3em;
                            }
                        }
                        .old_price {
                            font-size: 1.2em;
                            text-decoration: line-through;
                            .price {
                                padding-right: 0.3em;
                            }
                        }
                    }
                    .right_item {
                        width: 40%;
                        button {
                            cursor: pointer;
                            height: 40px;
                            width: 100%;
                            border: none;
                            background: #ffcc33;
                            border-radius: 4px;
                        }
                    }
                }
            }
        }
    }
}